﻿<div class="container" id="printAMCMeasureGrid">
    <div class="content" style="margin-top: 20px;">
        <!-- <div class="logo" style="text-align: center;"> <img src="logo.png" /> </div>-->
        <div>
            <label style="float: left;"><strong>Date - Time: {{amcMeasurePrint.currentDate | date : 'short'}}</strong></label>
            <label style="float: right;"><strong>User Name: {{amcMeasurePrint.userObject}} </strong></label>
        </div>
        <div style="text-align: center; clear: both;">
            <label ng-if="amcMeasurePrint.groupFlag" ><strong>{{amcMeasurePrint.clinicianName}} - {{amcMeasurePrint.clinicianNPI}}</strong></label>
            <label ng-if="amcMeasurePrint.IndividualFlag"><strong>{{amcMeasurePrint.clinicianName}} - {{amcMeasurePrint.clinicianNPI}}</strong></label>
            <label ng-if="amcMeasurePrint.groupFlag"><strong> {{amcMeasurePrint.clinicianTIN }}</strong></label>
            <br>
            <label ng-if="!amcMeasurePrint.groupFlag"><strong>{{amcMeasurePrint.selectedGroupName}}-{{amcMeasurePrint.selectedGroupTIN }}</strong></label>
            <br />
            <label><strong>{{ amcMeasurePrint.practiceDetailsPrintObj.name}}</strong></label>
            <br>
            <label>
                <span>{{amcMeasurePrint.practiceDetailsPrintObj.addressline1}}</span>
                <span ng-if="amcMeasurePrint.practiceDetailsPrintObj.addressline2">{{amcMeasurePrint.practiceDetailsPrintObj.addressline2}}, </span>
                <span ng-if="amcMeasurePrint.practiceDetailsPrintObj.city">{{amcMeasurePrint.practiceDetailsPrintObj.city}}, </span>
                <span ng-if="amcMeasurePrint.practiceDetailsPrintObj.state">{{amcMeasurePrint.practiceDetailsPrintObj.state}}, </span>
                <span ng-if="amcMeasurePrint.practiceDetailsPrintObj.country">{{amcMeasurePrint.practiceDetailsPrintObj.country}}, </span>
                <span ng-if="amcMeasurePrint.practiceDetailsPrintObj.zip">{{amcMeasurePrint.practiceDetailsPrintObj.zip}}</span>
            </label>
        </div>
        <div>
            <label style="float: left;"><strong>Reporting Period: {{amcMeasurePrint.fromDate}} - {{amcMeasurePrint.toDate}}</strong></label>
            <label style="float: right;"><strong>Measure Set:{{amcMeasurePrint.stageName}}</strong></label>
        </div>
        <br>
        <table class="table table-float table-bordered table-success" id="amc-aci-stage2">
            <thead>
                <tr class="header">
                    <th><div>No.</div></th>
                    <th><div>Category</div></th>
                    <th><div>Measure Name</div></th>
                    <th><div>Numerator</div></th>
                    <th><div>Denominator</div></th>
                    <th><div>Possible Points</div></th>
                    <th><div>Performance Goal</div></th>
                    <th><div>Performance</div></th>
                    <th><div>Points Earned</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measure in amcMeasurePrint.measureReportBaseScore">
                    <td>{{measure.no}}</td>
                    <td style="text-align: left;"><a href="#"><strong>{{measure.category}}</strong></a></td>
                    <td style="text-align: left;"><a href="#">{{measure.measureName}}</a></td>
                    <td><a href="#">{{measure.numerator}}</a></td>
                    <td>{{measure.denominator}}</td>
                    <td>{{measure.possiblePoints}}</td>
                    <td>{{measure.performanceGoals}}</td>
                    <td style="width:15%;">
                        <div class="progress" ng-show="{{measure.showProgressBar}}">
                            <div class="progress-bar"
                                 ng-class="{'progress-bar-danger': measure.classDanger, 'progress-bar-success': !measure.classDanger}"
                                 role="progressbar"
                                 aria-valuenow="100"
                                 aria-valuemin="0"
                                 aria-valuemax="10"
                                 style="width: 100%;">
                                <!--100-->
                                {{measure.performance}}
                            </div>
                        </div>
                    </td>
                    <td>{{measure.pointsEarned}}</td>
                </tr>
                <tr>
                    <td colspan="9" class="empty-row"></td>
                </tr>
                <tr ng-repeat="measurePerf in amcMeasurePrint.measureReportPerformancePoints">
                    <td>{{measurePerf.no}}</td>
                    <td style="text-align: left;"><a href="#"><strong>{{measurePerf.category}}</strong></a></td>
                    <td style="text-align: left;"><a href="#">{{measurePerf.measureName}}</a></td>
                    <td><a href="#">{{measurePerf.numerator}}</a></td>
                    <td>{{measurePerf.denominator}}</td>
                    <td>{{measurePerf.possiblePoints}}</td>
                    <td>{{measurePerf.performanceGoals}}</td>
                    <td>
                        <div class="progress">
                            <div progressbar ng-class="{'progress':true,'progress-bar-warning':measurePerf.classWarning,'progress-bar-danger': measurePerf.classDanger, 'progress-bar-success': !measurePerf.classDanger}"
                                 animate="false"
                                 type="success"
                                 style="width:{{measurePerf.performance}}%;"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="10">
                                {{measurePerf.performance}}
                            </div>
                        </div>
                    </td>
                    <td>{{measurePerf.pointsEarned}}</td>
                </tr>
                <tr>
                    <td colspan="9" class="empty-row"></td>
                </tr>
                <tr ng-repeat="measureBonus in amcMeasurePrint.measureReportBonusPoints">
                    <td>{{measureBonus.no}}</td>
                    <td style="text-align: left;"><a href="#"><strong>{{measureBonus.category}}</strong></a></td>
                    <td style="text-align: left;"><a href="#">{{measureBonus.measureName}}</a></td>
                    <td><a href="#">{{measureBonus.numerator}}</a></td>
                    <td>{{measureBonus.denominator}}</td>
                    <td>{{measureBonus.possiblePoints}}</td>
                    <td>{{measureBonus.performanceGoals}}</td>
                    <td>
                        <div class="progress">
                            <div progressbar ng-class="{'progress':true,'progress-bar-warning':measureBonus.classWarning,'progress-bar-danger': measureBonus.classDanger, 'progress-bar-success': !measureBonus.classDanger}"
                                 animate="false"
                                 type="success"
                                 style="width:{{measureBonus.performance}};"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="10">
                                {{measureBonus.performance}}
                            </div>
                        </div>
                    </td>
                    <td>{{measureBonus.pointsEarned}}</td>
                </tr>
                <tr>
                    <td colspan="9" class="empty-row"></td>
                </tr>
                <tr>
                    <td colspan="9" style="text-align: right;" class="bg-white"><strong>Total ACI Points Earned: {{amcMeasurePrint.totalMeasurePoints}}/ 100</strong></td>
                </tr>
                <tr>
                    <td colspan="9" style="text-align: right;" class="bg-white"><strong>MIPS-ACI Score: {{amcMeasurePrint.aciScore}}/ 25</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary" id="printAMCMeasureGridButton" ng-hide="true"
                printing-done="amcMeasurePrint.printingDone()" ng-print print-element-id="printAMCMeasureGrid">
            <i class="fa fa-print"></i> Print
        </button>
    </div>
</div>

<!--  Table with null values-->
<style>
    @media screen {
        #printSection {
            color: red;
        }
    }

    @media print {
        body * {
            visibility: visible;
            color: red;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
            background-color: blue;
        }
    }

    .performance-success {
        color: black;
        padding: 3px 5px;
        background-color: #5cb85c;
        display: inline-block;
        font-weight: normal;
        width: 40px;
        text-align: center;
    }

    .performance-warning {
        color: black;
        padding: 3px 5px;
        background-color: #e6f159;
        display: inline-block;
        font-weight: normal;
        width: 40px;
        text-align: center;
    }

    .performance-danger {
        color: black;
        padding: 3px 5px;
        background-color: #d9534f;
        display: inline-block;
        font-weight: normal;
        width: 40px;
        text-align: center;
    }

    .not-applicable {
        color: black;
        padding: 3px 5px;
        background-color: #b6b6b6;
        display: inline-block;
        font-weight: normal;
        width: 40px;
        text-align: center;
    }

    }

    .performance-success {
        color: black;
        padding: 2px 5px;
        background-color: #5cb85c;
        display: inline-block;
        font-weight: normal;
        width: 40px;
        text-align: center;
    }

    .performance-warning {
        color: black;
        padding: 2px 5px;
        background-color: #e6f159;
        display: inline-block;
        font-weight: normal;
        width: 40px;
        text-align: center;
    }

    .performance-danger {
        color: black;
        padding: 2px 5px;
        background-color: #d9534f;
        display: inline-block;
        font-weight: normal;
        width: 40px;
        text-align: center;
    }

    .not-applicable {
        color: black;
        padding: 2px 5px;
        background-color: #b6b6b6;
        display: inline-block;
        font-weight: normal;
        width: 40px;
        text-align: center;
    }
</style>