﻿<div>
    <div class="modal-header">
        <h3 class="modal-title">{{modalOptions.headerText}}</h3>
    </div>
    <div class="modal-body">
        {{modalOptions.bodyText}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button"
                ng-click="modalOptions.ok()">
            {{modalOptions.actionButtonText}}
        </button>
        <button class="btn btn-default" type="button"
                ng-click="modalOptions.close()">
            {{modalOptions.closeButtonText}}
        </button>
    </div>
</div>
