﻿
<div class="header-filters">
    <form class="form">
        <div class="col-md-12 nopadding">
            <div class="col-md-8 nopadding">
                <div class="col-md-4 nopadding">
                    <label>Performance Year</label>
                    <div class="selectdiv">
                        <select ng-model="qualityConfig.performanceYear" ng-change="qualityConfig.GetQualityMeasures()"
                                ng-options="opt.id as opt.year for opt  in qualityConfig.PerformanceYearStatic"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Reporting Type</label>
                    <div class="selectdiv">
                        <select ng-model="qualityConfig.reportingType" ng-change="qualityConfig.OnTypeChange(qualityConfig.reportingType);qualityConfig.GetQualityMeasures()"
                                ng-options="opt.id as opt.name for opt  in qualityConfig.reportingTypeStatic"></select>
                    </div>
                </div>
                <div class="col-md-4 nopadding">
                    <label>Reporting Entity</label>
                    <div class="selectdiv">
                        <select ng-model="qualityConfig.reportingEntity" ng-change="qualityConfig.GetQualityMeasures()"
                                ng-options="opt.id as opt.label for opt  in qualityConfig.Listitems"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>


<div class="content addoncontent nopadding">
    <div class="form table-responsive">
        <table class="table table-bordered main-table table-success" id="main-table">
            <thead>
                <tr>
                    <th class="nopadding noborderBOTTOM"></th>
                    <th class="noborder text-center" colspan="2">MEASURE ID</th>
                    <th class="nopadding noborderBOTTOM" colspan="7"></th>
                </tr>
                <tr>
                    <th width=""></th>
                    <th width="" class="nowrap">NQF#</th>
                    <th width="" class="nowrap">Quality#</th>
                    <th width="">Quality Measure Name</th>
                    <th width="">High Priority</th>
                    <th width="">Measure Type</th>
                    <th width="">Inverse Measure</th>
                    <th width="">Performance Goal %</th>
                    <th width="">Quality Goal Points <br />(Out of 10)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in qualityConfig.qualityConfigObj">
                    <td class="text-center width110">

                        <select ng-model="item.MonitoringTypeId" ng-change="qualityConfig.ConfigurationOnchange(item)"
                                ng-options="opt.id as opt.name for opt  in qualityConfig.MonitoringTypeIdstatic"></select>

                    </td>
                    <td class="text-center">{{item.cqm}}</td>
                    <td class="text-center">{{item.pqrs}}</td>
                    <td>{{item.measureName}}</td>
                    <td class="text-center">{{item.highPriority==true?'Yes':'No'}}</td>
                    <td class="text-center">{{item.measureType}}</td>
                    <td class="text-center">{{item.inverseMeasure==true?'Yes':'No'}}</td>
                    <td class="text-center"><input class="input"  ng-model="item.PerformanceGoal" ng-change="qualityConfig.PerformanceGoalClick(item);"/></td>
                    <td class="text-center"><input class="input"  ng-model="item.qualityGoalpoints" ng-disabled="true"/></td>
                    <td ng-show="false">{{item.practiceQRDAMeasureConfigId}}</td>
                </tr>

            </tbody>
        </table>


    </div>





    <div class="col-md-12 marginTOP paddingTOP marginBOTTOM">
        <div class="col-md-6 nopaddingLEFT">
            <div ng-if="qualityConfig.reportingEntity != 0">
                <div class="">
                    <div class="col-md-2">
                        <h5>Copy To</h5>
                    </div>
                    <div class="col-md-4">
                        <div class="selectdiv">
                            <select ng-model="qualityConfig.copyReportingType" ng-change="qualityConfig.OnTypeCopyChange(qualityConfig.copyReportingType)"
                                    ng-options="opt.id as opt.name for opt  in qualityConfig.reportingTypeStatic"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="selectdiv">
                            <span class="multiSELECT" selected-model="qualityConfig.selectedCopyEntities" checkboxes="true" ng-dropdown-multiselect=""
                                  extra-settings="qualityConfig.settings" options="qualityConfig.reportingEntitiesList"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-disabled="qualityConfig.selectedCopyEntities.length==0" ng-click="qualityConfig.CopyMeasures()">Copy</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 nopaddingRIGHT">

            <div class="col-md-12 nopadding">
                <strong>Quality Measure Achievement Score for the prior year (without bonus points)</strong>&#160;&#160;<input class="form-control" type="text"  style="max-width: 110px; display: inline-block; margin-left:10px;" ng-model="qualityConfig.QrdaYearPoints" ng-pattern="/0-9/" />
            </div>

            <div class="clearfix"></div>

        </div>
    </div>

    <div class="clearfix"></div>


    <div class="col-md-12 marginTOP paddingTOP">
        <div class="col-md-5 paddingTOP nopaddingRIGHT">
            <div class="summaryBOX">
                <div class="subBOX">
                    <h5>Summary</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="" colspan="2">Reporting Measures Summary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>No. of Outcome Measure</td>
                                <td class="text-center">{{qualityConfig.outComeMeasureCount}}</td>
                            </tr>
                            <tr>
                                <td>No. of Other High Priority Measure</td>
                                <td class="text-center">{{qualityConfig.highPriorityMeasureCount}}</td>
                            </tr>
                            <tr>
                                <td>Mandatory Outcome or other High-Priority Measure being reported</td>
                                <td class="text-center">
                                    <div class="green">{{qualityConfig.mandatoryMeasure}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    No. of bonus points for the additional outcome or other high-priority
                                    measures
                                </td>
                                <td class="text-center">
                                    <div class="yellow">{{qualityConfig.bonusMeasureScore}}</div>
                                </td>
                            </tr>
                        </tbody>
                        <!--<tfoot>
                            <tr>
                                <td class="text-center noborderLEFT">Total</td>
                                <td class="text-center noborderRIGHT">10</td>
                            </tr>
                        </tfoot>-->
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-5 paddingTOP paddingBOTTOM pull-right">
            <div class="" style="background:#ececec; padding: 15px; border: 1px solid #ccc; border-radius: 2px;">
                <h5 class="nomarginTOP">Bonus Points</h5>
                <p>
                    <strong>
                        <!--Maximum bonus points earned for the additional outcome or high priority measures is 6 points-->
                    </strong>
                </p>
                <div class="legend">
                    <ul>
                        <li>
                            <span class="lg-green"></span> 6 Bonus Points
                        </li>
                        <li>
                            <span class="lg-yellow"></span> 1-5 Bonus Points
                        </li>
                        <li>
                            <span class="lg-red"></span> 0 Bonus Points
                        </li>
                    </ul>
                </div>
                <p class="marginTOP paddingBOTTOM"><strong>Maximum bonus points earned for the additional outcome or high priority measures is 6 points</strong></p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="paddingTOP marginTOP col-md-12">
        <div class="paddingLEFT" style="text-transform: uppercase; font-size: 12px;">
            <p>* To meet Quality performance category requirements, you need to pick at least 6 quality measures.</p>
        </div>
    </div>

    <div class="col-md-12 borderTOP marginTOP text-right paddingBOTTOM paddingTOP">
        <button class="btn btn-default" ng-click="qualityConfig.clear()">Cancel</button>
        <button class="btn btn-primary" ng-click="qualityConfig.Savedata()">{{qualityConfig.SaveUpdateLabel}}</button>
    </div>

</div>


