﻿<div class="panel-heading panel groupLIST">

    <form class="form-inline">
        <div class="form-group">

            <select class="form-control" ng-model="QualityMeasureDashboardNavCtrl.reportingType" ng-change="QualityMeasureDashboardNavCtrl.OnTypeChange(QualityMeasureDashboardNavCtrl.reportingType)"
                    ng-options="opt.id as opt.name for opt  in QualityMeasureDashboardNavCtrl.reportingTypeStatic"></select>

        </div>
        <div class="form-group">
            <select class="form-control" ng-model="QualityMeasureDashboardNavCtrl.reportingEntity"
                    ng-options="opt.id as opt.name for opt  in QualityMeasureDashboardNavCtrl.Listitems"></select>
        </div>
        <div class="form-group">
            <button class="goBTN" ng-click="QualityMeasureDashboardNavCtrl.SendReportingDetails()"><i class="fa fa-arrow-circle-o-up" style="transform: rotate(90deg);"></i></button>
        </div>
    </form>

    <div class="clearfix"></div>
</div>