﻿<div class="panel anr-group-measure" style="min-height:0;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 sm">
                    <div class="form-group">
                        <label for="">
                            Measure Set
                        </label>
                        <input type="text" class="form-control" ng-model="anrMeasure.stageName" ng-disabled="anrMeasure.disableFields" readonly>

                        <!--<select class="form-control" ng-model="anrMeasure.stageCode"
                                ng-disabled="anrMeasure.disableFields" title="{{anrMeasure.stageName}}"
                                ng-options="anrMeasure.stageCode as anrMeasure.stageName for anrMeasure in anrMeasure.measureSetList"></select>-->
                    </div>
                </div>
                <div class="col-md-2 sm" ng-if="anrMeasure.isGroup">
                    <div class="form-group">
                        <label for="">Group</label>
                        <input type="text" class="form-control" ng-model="anrMeasure.groupName" ng-disabled="anrMeasure.disableFields" readonly>

                        <!--<select class="form-control" ng-model="anrMeasure.groupTIN"
                                ng-disabled="anrMeasure.disableFields" title="{{anrMeasure.groupName}}"
                                ng-options="anrMeasure.groupTIN as anrMeasure.groupName for measure in anrMeasure.groupList"></select>-->
                    </div>

                </div>
                <div class="col-md-2 sm" ng-if="anrMeasure.isPhysician">
                    <div class="form-group">
                        <label for="">Clinician</label>
                        <input type="text" class="form-control" ng-model="anrMeasure.physicianName" ng-disabled="anrMeasure.disableFields" readonly>

                        <!--<select class="form-control" ng-model="anrMeasure.physicianNPI"
                                ng-disabled="anrMeasure.disableFields" title="{{anrMeasure.physicianName}}"
                                ng-options="clinician.physicianNPI as clinician.physicianName for clinician in anrMeasure.clinicianList"></select>-->
                    </div>
                </div>
                <div class="col-md-2 sm width120">
                    <div class="form-group">
                        <label for="">Reporting Period</label>
                        <div>
                            <button class="btn btn-primary btn-xs" ng-disabled="anrMeasure.disableFields">Full Calendar Year</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 sm">
                    <div class="form-group">
                        <label for="">From</label>
                        <input type="text" date="MM/dd/yyyy" class="form-control" ng-model="anrMeasure.anrFromDate" ng-disabled="anrMeasure.disableFields" readonly>
                    </div>
                </div>
                <div class="col-md-1 sm">
                    <div class="form-group">
                        <label for="">To</label>
                        <input type="text" date="MM/dd/yyyy" class="form-control" ng-model="anrMeasure.anrToDate" ng-disabled="anrMeasure.disableFields" readonly>
                    </div>
                </div>
                <div class="col-md-1 sm width150">
                    <div class="form-group">
                        <label for="">No. of Reporting Days</label>
                        <input class="form-control" ng-model="anrMeasure.reportingDuration" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="panel anr-measure-grid">

    <div class="table-float-wrapper">
        <table class="table table-float table-bordered table-success" id="">
            <thead>
                <tr>
                    <th style="width:200px;"><div>Measure</div></th>
                    <th><div>Measure Description</div></th>
                    <th><div>Numerator Description</div></th>
                    <th><div>Numerator</div></th>
                    <th style="width: 105px;"><div>Non-confirmity</div></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>E-prescription</td>
                    <td>More than 60 percent of all permissible prescriptions written by the EP are queried for a drug formulary and transmitted electronically using CEHRT.</td>
                    <td>The number of prescriptions, queried for a drug formulary, and transmitted electronically using CEHRT.</td>
                    <td><a href="#">110</a></td>
                    <td><a href="#">40</a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>-->

<div class="panel e-prescription-measure-confirmity">

    <div class="table-float-wrapper">
        <table class="table table-float" id="">
            <thead>
                <tr>
                    <th colspan="6" class="orangebg">{{anrMeasure.measureName}}</th>
                </tr>
                <tr>
                    <th><div>Patient Name</div></th>
                    <th ng-if="anrMeasure.IsMRN === false"><div>Account Number</div></th>
                    <th ng-if="anrMeasure.IsMRN === true"><div>MRN Number</div></th>
                    <th><div>Gender</div></th>
                    <th><div>DOB</div></th>
                    <th><div>Numerator</div></th>
                    <th><div>Denominator</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in anrMeasure.updatedData">
                    <td>{{item.patientName}}</td>
                    <td ng-if="anrMeasure.IsMRN === false">{{item.accountNumber}}</td>
                    <td ng-if="anrMeasure.IsMRN === true">{{item.mrn}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.dob}}</td>
                    <td class="word-break">{{item.numerator}}</td>
                    <td>{{item.denominator}}</td>
                </tr>
            </tbody>
        </table>


        <!-- /table-->
    </div>
    
    <!--/table-float-wrapper-->
    <div class="panel-footer">
        <div class="form-group pull-right">
            <!--<button class="btn btn-primary btn-xs no-margin">Export to Excel</button>
            <button class="btn btn-primary btn-xs no-margin">Export to CSV</button>-->
            <button class="btn btn-primary btn-xs no-margin" ng-click="anrMeasure.goBackToPreviousScreen();">
                <i class="fa fa-arrow-left" ng-click="anrMeasure.goBackToPreviousScreen();"></i> Back
            </button>
        </div>
    </div>
</div>

