






.sidebar-menu {
  display: table-cell;
  position: relative;
  width: 235px;
  background: #2c2e2f;
  z-index: 1;
  transition: width .4s;
    -webkit-transition: width .4s;
}

@media screen and (max-width: 768px) {
  .sidebar-menu .main-menu {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sidebar-menu .main-menu a {
  color: #979898;
  text-decoration: none;
  display: block;
  padding: 13px 5px;
  border-bottom: 1px solid #313437;
}
.sidebar-menu .main-menu a > i {
  display: inline-block;
  margin-right: 10px;
}
.sidebar-menu .main-menu a > i + span {
  padding-right: 10px;
}
.sidebar-menu .main-menu a > span {
  display: inline-block;
}
.sidebar-menu .main-menu a > .label {
  margin-top: 1px;
}
.sidebar-menu .main-menu a > .badge {
  font-size: 75%;
  line-height: 1.2;
}
.sidebar-menu .main-menu a:hover {
  color: #ffffff;
}
.sidebar-menu .main-menu li.active > a {
  color: #ffffff;
}
.sidebar-menu .main-menu li.has-sub > a:before {
  position: relative;
  display: inline-block;
  font-family: 'FontAwesome';
  content: '\f107';
  float: right;
  color: #6d747a;
  margin-left: 10px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.sidebar-menu .main-menu li.has-sub.opened > a:before,
.sidebar-menu .main-menu li.has-sub.expanded > a:before {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.sidebar-menu .main-menu > li.opened > ul {
  display: block;
}
.sidebar-menu .main-menu > li.opened .opened > ul {
  display: block;
}
.sidebar-menu .main-menu ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}
.sidebar-menu .main-menu ul li {
  position: relative;
}
@media screen and (min-width: 768px) {
  .sidebar-menu .main-menu ul li.is-hidden {
    left: -20px;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
.sidebar-menu .main-menu ul li.is-shown {
  left: 0;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown {
  -webkit-transition-delay: 80ms;
  -moz-transition-delay: 80ms;
  -o-transition-delay: 80ms;
  transition-delay: 80ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 120ms;
  -moz-transition-delay: 120ms;
  -o-transition-delay: 120ms;
  transition-delay: 120ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 160ms;
  -moz-transition-delay: 160ms;
  -o-transition-delay: 160ms;
  transition-delay: 160ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 240ms;
  -moz-transition-delay: 240ms;
  -o-transition-delay: 240ms;
  transition-delay: 240ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 280ms;
  -moz-transition-delay: 280ms;
  -o-transition-delay: 280ms;
  transition-delay: 280ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 320ms;
  -moz-transition-delay: 320ms;
  -o-transition-delay: 320ms;
  transition-delay: 320ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 360ms;
  -moz-transition-delay: 360ms;
  -o-transition-delay: 360ms;
  transition-delay: 360ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  -webkit-transition-delay: 440ms;
  -moz-transition-delay: 440ms;
  -o-transition-delay: 440ms;
  transition-delay: 440ms;
}
.sidebar-menu .main-menu ul li.hidden-item {
  visibility: hidden;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.sidebar-menu .main-menu ul li a {
  padding-left: 35px;
}
.sidebar-menu .main-menu ul li ul li a {
  padding-left: 60px;
}
.sidebar-menu .main-menu ul li ul li ul li a {
  padding-left: 85px;
}
.sidebar-menu .main-menu ul li ul li ul li ul li a {
  padding-left: 110px;
}
.sidebar-menu .ps-scrollbar-x-rail .ps-scrollbar-x,
.sidebar-menu .ps-scrollbar-y-rail .ps-scrollbar-y {
  background-color: rgba(255, 255, 255, 0.6);
}
.sidebar-menu.fixed {
  height: 100%;
}
.sidebar-menu.fixed .sidebar-menu-inner {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  overflow: hidden;
}
.page-body.right-sidebar .sidebar-menu.fixed .sidebar-menu-inner {
  left: auto;
  right: 0;
}
@media screen and (min-width: 768px) {
  .sidebar-menu.collapsed {
    width: 58px;
    z-index: 10;
    overflow: visible;
  }
  .sidebar-menu.collapsed .hidden-collapsed {
    display: none !important;
  }
  .sidebar-menu.collapsed + .main-content .user-info-navbar .user-info-menu a[data-toggle="sidebar"] {
    color: #606161;
  }
  .sidebar-menu.collapsed + .main-content .main-footer {
    left: 80px;
  }
  .sidebar-menu.collapsed .sidebar-menu-inner {
    overflow: visible; 
  }
  .sidebar-menu.collapsed .logo-env {
    padding: 9px 0;
  }
  .sidebar-menu.collapsed .logo-env .logo-collapsed {
    display: block;
    text-align: center;
  }
  .sidebar-menu.collapsed .logo-env .logo-collapsed img {
    display: inline-block;
  }
  .sidebar-menu.collapsed .logo-env .logo-expanded,
  .sidebar-menu.collapsed .logo-env .settings-icon {
    display: none;
  }
  .sidebar-menu.collapsed .logo-env .logo {
    float: none;
  }
  .sidebar-menu.collapsed .main-menu {
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-menu.collapsed .main-menu > li {
    position: relative;
  }
  .sidebar-menu.collapsed .main-menu > li.active,
  .sidebar-menu.collapsed .main-menu > li li.active {
    background-color: #252627;
  }
  .sidebar-menu.collapsed .main-menu > li > a > i {
    margin-right: 0;
    font-size: 20px;
  }
  .sidebar-menu.collapsed .main-menu > li > a > span {
    display: none;
  }
  .sidebar-menu.collapsed .main-menu > li > a > span.label {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar-menu.collapsed .main-menu > li.has-sub > a:before {
    display: none;
  }
  .sidebar-menu.collapsed .main-menu > li.opened > ul {
    display: none;
  }
  

.submenu{
  top: -45px;
  left: 100%;
  cursor: pointer;
  width: 100%;
  display: none;
}

.sidebar-menu.collapsed .main-menu > li > .submenu ul{
  background: rgba(243, 149, 41, 0.92);
  margin-left: 10px;
  border-radius: 5px; padding: 8px 15px 10px 15px;
   -webkit-box-shadow: 3px 0px 11px 0px rgba(130, 130, 130, 0.85);
-moz-box-shadow: 3px 0px 11px 0px rgba(130, 130, 130, 0.85);
box-shadow: 3px 0px 11px 0px rgba(130, 130, 130, 0.85);
}

.sidebar-menu.collapsed .main-menu > li > .submenu {
  position: absolute;
  width: 250px;
  top: 0;
  left: 100%;
  text-align: left;
  cursor: pointer;
}
  .page-body.right-sidebar .sidebar-menu.collapsed .main-menu > li > .submenu ul {
    left: auto;
    right: 100%;
  }
  .sidebar-menu.collapsed .main-menu > li > ul > li > a {
    padding-left: 20px;
  }
  .sidebar-menu.collapsed .main-menu > li > ul > li > ul > li > a {
    padding-left: 35px;
  }
  .sidebar-menu.collapsed .main-menu > li > ul > li > ul > li > ul > li > a {
    padding-left: 50px;
  }
  .sidebar-menu.collapsed .main-menu > li > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 65px;
  }
  .sidebar-menu.collapsed .main-menu > li > ul > li > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 80px;
  }
  .sidebar-menu.collapsed .main-menu > li > ul li.has-sub > a:before {
    margin-right: 10px;
  }
  .sidebar-menu.collapsed .main-menu > li:hover >.submenu ul {
    display: block;
  }
}
.page-body.right-sidebar .page-container {
  direction: rtl;
}
.page-body.right-sidebar .page-container > * {
  direction: ltr;
}
.navbar.horizontal-menu {
  position: relative;
  height: 85px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  z-index: 101;
  min-height: 0px; border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
}
.navbar.horizontal-menu.navbar-fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.navbar.horizontal-menu .navbar-inner > .nav-userinfo > li a { 
    color: #373e4a;
    text-decoration: none;
    }
.navbar.horizontal-menu .navbar-inner > .nav-userinfo > li i {
  font-size: 24px;
  color: #777777;
  line-height: 0;
  vertical-align: middle;
}
.navbar .login-time {
  width: 200px;
  margin: 0; text-align: right;
}

.settings-pane-open .navbar.horizontal-menu.navbar-fixed-top {
  position: relative;
}

.navbar.horizontal-menu .navbar-inner .navbar-brand {
  padding: 0 9px;
  margin: 0;
  float: left;
  height: 85px;
  display: table;
}
.navbar.horizontal-menu .navbar-inner .navbar-brand:hover a[data-toggle="settings-pane"] {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.settings-pane-open .navbar.horizontal-menu .navbar-inner .navbar-brand a[data-toggle="settings-pane"] {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.settings-pane-open .navbar.horizontal-menu .navbar-inner .navbar-brand a[data-toggle="settings-pane"] i {
  color: #2c2e2f;
}
.navbar.horizontal-menu .navbar-inner .navbar-brand a {
  display: table-cell;
  vertical-align: middle;
}
.navbar.horizontal-menu .navbar-inner .navbar-brand a.logo img {
  margin: 0;
}
.navbar.horizontal-menu .navbar-inner .navbar-brand a[data-toggle="settings-pane"] {
  padding-left: 10px;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.navbar.horizontal-menu .navbar-inner .navbar-brand a[data-toggle="settings-pane"] i {
  display: block;
  line-height: 1;
  font-size: 12px;
  color: #979898;
  margin-top: 1px;
}
.navbar.horizontal-menu .navbar-inner .navbar-brand a[data-toggle="settings-pane"]:hover i {
  color: #2c2e2f;
}

.sidebar-menu.fixed .sidebar-menu-inner {
  top: 0;
}
.sidebar-menu.fixed .sidebar-menu-inner {
  top: 22%; background: #F39529;
}
.sidebar-menu.collapsed .main-menu > li > .submenu {
    position: absolute;
    width: auto;
    top: 2px;
    left: 100%;
    text-align: left;
    border-radius: 0px;
    padding: 0;
    display: none;
    white-space: nowrap;
}
.sidebar-menu.collapsed .main-menu > li > .submenu.addon { top:-12px;}
.sidebar-menu.collapsed .main-menu > li > .submenu ul::before{
    width: 0;
    height: 0;
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f39529;
    position: absolute;
    left: 0px;
    top: 35%;
}
.sidebar-menu.collapsed .main-menu > li:hover > .submenu {
    display: block!important;
}
.sidebar-menu .main-menu a {
     font-family: 'Roboto', sans-serif;
     color: #FFF;
     padding: 16px 18px;
     border-bottom: 0px solid rgba(255, 255, 255, 0.30); cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar.horizontal-menu .navbar-inner .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav.click-to-expand .has-sub:hover > a:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav.click-to-expand .has-sub.expanded > a:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a {
    position: relative;
    display: inline-block;
    line-height: 1;
    color: #7d7f7f;
    z-index: 1;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > i {
    display: inline-block;
    margin-right: 5px;
    width: 18px;
    font-size: 18px;
    padding-top: 2px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > .label.pull-right {
    margin-top: 0;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > .title {
    display: inline-block;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > .title + .badge {
    margin-left: 7px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav li:hover > a,
  .navbar.horizontal-menu .navbar-inner .navbar-nav li.active > a {
    /*color: #313232;*/
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li {
    position: relative;
    z-index: 1;
    line-height: 85px;
    border: 1px solid transparent;
    border-top: 0;
    border-bottom: 0; 
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li:hover {
    z-index: 2;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li.active,
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li:hover {
    /*border-color: #f3f3f3;
    background-color: #fafafa;*/
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li.active {
    margin-left: -1px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li.active + li:hover {
    border-left-color: transparent;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li > a {
    padding: 0 15px;
    line-height: 85px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li > ul {
    position: absolute;
    min-width: 270px;
    border: 1px solid #eee;
    visibility: hidden;
    display: block;
    left: -1px;
    -webkit-border-radius: 0 0 0px 0px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 0px 0px;
    -moz-background-clip: padding;
    border-radius: 0 0 0px 0px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 8px rgba(0,1,1,.05);
    -moz-box-shadow: 0 2px 8px rgba(0,1,1,.05);
    box-shadow: 0 2px 8px rgba(0,1,1,.05);
    -webkit-transition: opacity 180ms linear, visibility 180ms linear;
    -moz-transition: opacity 180ms linear, visibility 180ms linear;
    -o-transition: opacity 180ms linear, visibility 180ms linear;
    transition: opacity 180ms linear, visibility 180ms linear;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li.hover > ul {
    visibility: visible;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul {
    position: relative;
    /*display: none;*/
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    min-width: 100%;
    /*background: #ffffff;*/
    z-index: 2;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul ul {
    display: block;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 350ms linear;
    -moz-transition: opacity 350ms linear;
    -o-transition: opacity 350ms linear;
    transition: opacity 350ms linear;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul ul.is-visible {
    height: auto;
    visibility: visible;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li:last-child > a:after {
    display: none;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li {
    line-height: 1;
    margin: 0;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li > a {
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 15px 25px;
    /*color: #979898;*/
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li > a:after {
    content: '';
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 0;
    background: #eee;
    /*height: 1px;*/
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li.active > a {
    color: #313232;
    background: #fafafa;
    border-top: 1px solid #eee;
    margin-top: -2px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li.active > a:after {
    left: 0;
    right: 0;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li.has-sub > a:before {
    content: '\f105';
    font-family: 'FontAwesome';
    display: block;
    float: right;
    color: #979898;
    position: relative;
    margin-left: 10px;
    line-height: 1.3;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li.has-sub:hover > a:before,
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li.has-sub.expanded > a:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li ul {
    background: #f6f6f6;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: -1px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li ul ul {
    background: #f1f1f1;
    border-top-color: #e7e7e7;
    border-bottom-color: #e7e7e7;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li ul ul a:after {
    background-color: #e7e7e7;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li ul ul ul {
    background: #ececec;
    border-top-color: #e2e2e2;
    border-bottom-color: #e2e2e2;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul > li ul ul ul a:after {
    background-color: #e2e2e2;
  }
}
.navbar.horizontal-menu .navbar-inner .navbar-mobile-clear {
  display: block;
}
.navbar.horizontal-menu .navbar-inner > .nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile {
  display: none;
}
.navbar.horizontal-menu .navbar-inner > .nav > li {
  line-height: 55px;
  display: inline-block;
}
.navbar.horizontal-menu .navbar-inner > .nav > li i {
  font-size: 22px;
  color: #979898;
  line-height: 1;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a {
  position: relative;
  padding: 0 15px;
  margin: 0;
  border: 1px solid transparent;
  border-top: 0;
  border-bottom: 0;
  z-index: 2;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a:hover {
  background: rgba(204, 204, 204, 0.35);
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a:hover i {
  color: #717272;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a.notification-icon {
  padding: 0 20px;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a.notification-icon:before {
  content: '';
  position: absolute;
  height: 2px;
  top: 0px;
  left: 0;
  right: 0;
  background: #68b828;
  display: none;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a.notification-icon:hover:before {
  display: block;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a.notification-icon i {
  margin-right: 2px;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a.notification-icon .badge {
  font-size: 9px;
  position: absolute;
  top: 50%;
  right: 10px;
  padding: 4px;
  min-width: 18px;
  font-size: 400;
  line-height: 1;
  margin-top: -20px;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a.notification-icon.notification-icon-messages:before {
  background-color: #7c38bc;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > a[data-toggle="chat"] {
  padding: 0 20px;
}
.chat-open .navbar.horizontal-menu .navbar-inner > .nav > li > a[data-toggle="chat"] i {
  color: #717272;
}
.navbar.horizontal-menu .navbar-inner > .nav > li.open > a.notification-icon {
  background-color: #fff;
  border-color: #f3f3f3;
  color: #717272;
}
.navbar.horizontal-menu .navbar-inner > .nav > li.open > a.notification-icon i {
  color: #717272;
}
.navbar.horizontal-menu .navbar-inner > .nav > li.open > a.notification-icon:before {
  display: block;
}
.navbar.horizontal-menu .navbar-inner > .nav > li > ul {
  z-index: 1;
  border-color: #e2e2e2;
}
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form {
  padding: 0 20px;
}
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a {
  border: 1px solid transparent;
  border-top: 0;
  border-bottom: 0;
}
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a:focus {
  background-color: #fff;
}
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile.open > a {
  background-color: #fff;
  border-color: #f3f3f3;
}
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile.open > .dropdown-menu {
  margin-left: -1px;
}
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu {
  line-height: 1.42857143;
}
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.messages,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu {
  z-index: 2;
  margin-top: -1px;
}
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu {
  right: 0 !important;
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .navbar.horizontal-menu .navbar-inner .navbar-brand {
    padding: 0 15px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li {
    line-height: 84px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li > a {
    padding: 0 10px;
    font-size: 12px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li > a > .badge {
    display: none;
  }
  .navbar.horizontal-menu .navbar-inner > .nav > li i {
    font-size: 22px;
  }
  .navbar.horizontal-menu .navbar-inner > .nav > li > a.notification-icon {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a > span {
    display: none !important;
  }
  
}

.navbar.horizontal-menu.navbar-minimal {
  height: 55px;
}
.navbar.horizontal-menu.navbar-minimal.navbar-fixed-top + .page-container {
  margin-top: 55px;
}
.navbar.horizontal-menu.navbar-minimal.navbar-fixed-top + .page-container > .sidebar-menu.fixed .sidebar-menu-inner {top: 55px;/* top:0px; */}
.navbar.horizontal-menu.navbar-minimal + .page-container > .sidebar-menu.fixed .sidebar-menu-inner {
  top: 55px;
}
.navbar.horizontal-menu.navbar-minimal .navbar-inner .navbar-brand {
  height: 55px;
}
@media screen and (min-width: 768px) {
  .navbar.horizontal-menu.navbar-minimal .navbar-inner .navbar-nav > li {
    line-height: 55px;
  }
  .navbar.horizontal-menu.navbar-minimal .navbar-inner .navbar-nav > li > a {
    line-height: 55px;
  }
}
.navbar.horizontal-menu.navbar-minimal .navbar-inner > .nav > li {
  line-height: 55px;
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .navbar.horizontal-menu.navbar-minimal .navbar-inner .navbar-nav > li {
    line-height: 54px;
  }
}
@media screen and (max-width: 768px) {
  .navbar.horizontal-menu {
    background: #2c2e2f;
    color: #fff;
    height: auto;
  }
  .chat-open .navbar.horizontal-menu {
    left: -340px;
  }
  .navbar.horizontal-menu.navbar-fixed-top {
    position: relative;
  }
  .navbar.horizontal-menu.navbar-fixed-top + .page-container {
    margin-top: 0;
  }
  .navbar.horizontal-menu.navbar-fixed-top + .page-container > .sidebar-menu.fixed .sidebar-menu-inner {
    top: 0;
  }
  .settings-pane-open .navbar.horizontal-menu.navbar-fixed-top {
    position: relative;
  }
  .settings-pane-open .navbar.horizontal-menu.navbar-fixed-top + .page-container {
    margin-top: 0;
  }
  .settings-pane-open .navbar.horizontal-menu.navbar-fixed-top + .page-container > .sidebar-menu.fixed .sidebar-menu-inner {
    top: 0;
  }
  .navbar.horizontal-menu + .page-container > .sidebar-menu.fixed .sidebar-menu-inner {
    top: 85px;
  }
  .navbar.horizontal-menu .navbar-inner {
    padding: 20px 0;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-brand {
    height: auto;
    padding-left: 20px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-brand a[data-toggle="settings-pane"] {
    display: none;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-mobile-clear {
    display: block;
    clear: both;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav {
    display: none;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    margin-bottom: 0;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a {
    color: #979898;
    text-decoration: none;
    display: block;
    padding: 13px 5px;
    border-bottom: 1px solid #313437;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > i {
    display: inline-block;
    margin-right: 10px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > i + span {
    padding-right: 10px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > span {
    display: inline-block;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > .label {
    margin-top: 1px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > .badge {
    font-size: 75%;
    line-height: 1.2;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav a:hover {
    color: #ffffff;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav li.active > a {
    color: #ffffff;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav li.has-sub > a:before {
    position: relative;
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\f107';
    float: right;
    color: #6d747a;
    margin-left: 10px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav li.has-sub.opened > a:before,
  .navbar.horizontal-menu .navbar-inner .navbar-nav li.has-sub.expanded > a:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li.opened > ul {
    display: block;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li.opened .opened > ul {
    display: block;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav .submenu {
    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav .submenu ul{ 
    padding:0px; margin:0px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li {
    position: relative; text-transform: none;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown {
    left: 0;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown {
    -webkit-transition-delay: 80ms;
    -moz-transition-delay: 80ms;
    -o-transition-delay: 80ms;
    transition-delay: 80ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 120ms;
    -moz-transition-delay: 120ms;
    -o-transition-delay: 120ms;
    transition-delay: 120ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 160ms;
    -moz-transition-delay: 160ms;
    -o-transition-delay: 160ms;
    transition-delay: 160ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 240ms;
    -moz-transition-delay: 240ms;
    -o-transition-delay: 240ms;
    transition-delay: 240ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 280ms;
    -moz-transition-delay: 280ms;
    -o-transition-delay: 280ms;
    transition-delay: 280ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 320ms;
    -moz-transition-delay: 320ms;
    -o-transition-delay: 320ms;
    transition-delay: 320ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 360ms;
    -moz-transition-delay: 360ms;
    -o-transition-delay: 360ms;
    transition-delay: 360ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
    -webkit-transition-delay: 440ms;
    -moz-transition-delay: 440ms;
    -o-transition-delay: 440ms;
    transition-delay: 440ms;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.hidden-item {
    visibility: hidden;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li a {
    padding-left: 30px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li ul li a {
    padding-left: 60px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li ul li ul li a {
    padding-left: 85px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li ul li ul li ul li a {
    padding-left: 110px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav.mobile-is-visible {
    display: block;
  }
  .navbar.horizontal-menu .navbar-inner > .nav {
    display: none;
  }
  .navbar.horizontal-menu .navbar-inner > .nav > li {
    line-height: 65px;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.nav-userinfo {
    float: none;
    width: 100%;
    display: none;
    background: #fff;
    position: relative;
    top: 20px;
    text-align: right;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.nav-userinfo.mobile-is-visible {
    display: block;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.nav-userinfo > .xs-left {
    float: left;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.nav-userinfo > .xs-left.open > .dropdown-menu {
    left: 1px;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.nav-userinfo .notification-icon .badge {
    top: 50%;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.nav-userinfo .user-profile > a span {
    display: none;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.nav-userinfo .user-profile.open > a {
    background-color: #fafafa;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile {
    display: block;
    float: right;
    padding-right: 20px;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile a {
    position: relative; cursor: pointer;
    display: inline-block;
    color: #979898;
    line-height: 1;
    margin-left: 15px;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile a i {
    line-height: 1;
    font-size: 18px;
    position: relative;
    top: 1px;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile a:hover,
  .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile a:active,
  .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile a:focus {
    color: #ffffff;
  }
  .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile a .badge {
    position: absolute;
    right: -3px;
    top: -8px;
    font-size: 8px;
    padding: 1px 2px;
    min-width: 14px;
  }
}
@media screen and (max-width: 768px) {
  .navbar.horizontal-menu .navbar-inner .navbar-nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar.horizontal-menu .navbar-inner .navbar-nav ul li.is-hidden {
    left: -20px;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  
}

.user-info-navbar .user-info-menu > li.search-form .btn,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .btn {
  position: relative;
  padding: 0;
  margin: 0;
  height: auto;
  color: #979898;
  z-index: 2;
}
.user-info-navbar .user-info-menu > li.search-form .btn:hover,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .btn:hover {
  color: #606161;
}
.user-info-navbar .user-info-menu > li.search-form .btn:active,
.user-info-navbar .user-info-menu > li.search-form .btn:focus,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .btn:active,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.user-info-navbar .user-info-menu > li.search-form .search-field,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15.5px;
  line-height: 1;
  height: 31px;
  border: 1px solid #dddddd;
  border: 0;
  padding: 0 10px;
  width: 170px;
  padding-right: 30px;
  font-size: 12px;
  z-index: 1;
  visibility: hidden;
  background: #f3f3f3;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.user-info-navbar .user-info-menu > li.search-form .search-field::-moz-placeholder,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field::-moz-placeholder {
  color: #979898;
  opacity: 1;
}
.user-info-navbar .user-info-menu > li.search-form .search-field:-ms-input-placeholder,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field:-ms-input-placeholder {
  color: #979898;
}
.user-info-navbar .user-info-menu > li.search-form .search-field::-webkit-input-placeholder,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field::-webkit-input-placeholder {
  color: #979898;
}
.user-info-navbar .user-info-menu > li.search-form .search-field::-webkit-input-placeholder,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field::-webkit-input-placeholder {
  color: #979898;
}
.user-info-navbar .user-info-menu > li.search-form .search-field:-moz-placeholder,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field:-moz-placeholder {
  color: #979898;
}
.user-info-navbar .user-info-menu > li.search-form .search-field::-moz-placeholder,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field::-moz-placeholder {
  color: #979898;
}
.user-info-navbar .user-info-menu > li.search-form .search-field:-ms-input-placeholder,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field:-ms-input-placeholder {
  color: #979898;
}
.user-info-navbar .user-info-menu > li.search-form .search-field:focus + .btn,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form .search-field:focus + .btn {
  color: #606161;
}
.user-info-navbar .user-info-menu > li.search-form.focused .search-field,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form.focused .search-field {
  visibility: visible;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.user-info-navbar .user-info-menu > li.search-form.always-visible .search-field,
.navbar.horizontal-menu .navbar-inner > .nav > li.search-form.always-visible .search-field {
  visibility: visible;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.user-info-navbar .user-info-menu > li.user-profile > a,
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a {
  text-decoration: none;
}
.user-info-navbar .user-info-menu > li.user-profile > a > img,
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a > img {
  position: relative;
}
.user-info-navbar .user-info-menu > li.user-profile > a > img + span,
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a > img + span {
  margin-left: 5px;
}
.user-info-navbar .user-info-menu > li.user-profile > a span,
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a span {
  display: inline-block;
}
.user-info-navbar .user-info-menu > li.user-profile .userpic-32,
.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile .userpic-32 {
  margin-top: -17px;
  top: 8px;
}
.user-info-navbar .user-info-menu > li.open {
  border-left-color: #dddddd;
  border-right-color: #dddddd;
  z-index: 15;
}
.user-info-navbar .user-info-menu > li.open > a {
  color: #606161;
}
.user-info-navbar .user-info-menu > li .dropdown-menu,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-left: -1px;
  z-index: 3; border:0px;
  -webkit-box-shadow: 0 2px 8px rgba(0,1,1,.08);
  -moz-box-shadow: 0 2px 8px rgba(0,1,1,.08);
  box-shadow: 0 2px 8px rgba(0,1,1,.08);
}

.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list {
  position: relative;
  max-height: 300px;
  overflow: auto;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list.ps-scrollbar,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list.ps-scrollbar {
  overflow: hidden;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li {
  position: relative;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a {
  position: relative;
  display: block;
  padding: 20px 30px;
  color: #979898;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a .line,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a .line {
  display: block;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a .line.desc,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a .line.desc {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a .line .light,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a .line .light {
  zoom: 1;
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a .line.small,
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a .line .small,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a .line.small,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a .line .small {
  font-size: 12px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a .line.time,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a .line.time {
  font-size: 11px;
  margin-top: 5px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a:after,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a:after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  background: #ededed;
  bottom: 0;
  left: 30px;
  right: 30px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a:hover,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a:hover {
  color: #606161;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li.active a,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li.active a {
  color: #606161;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .top,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .top {
  padding: 20px 30px;
  padding-bottom: 0;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .top a,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .top a {
  color: #979898;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .top a:hover,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .top a:hover {
  color: #606161;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .top p,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .top p {
  margin: 0;
  color: #979898;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .external,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .external {
  position: relative;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .external:after,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .external:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  background-color: none;
  height: 1px;
  background-color: #ededed;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .external a,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .external a {
  display: block;
  padding: 20px 30px;
  color: #979898;
  background-color: #f5f5f5;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .external a span,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .external a span {
  float: left;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .external a i,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .external a i {
  float: right;
}
.user-info-navbar .user-info-menu > li .dropdown-menu > .external a:hover,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu > .external a:hover {
  color: #6a6b6c;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.messages,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.messages {
  width: 370px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.messages .dropdown-menu-list li:after,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.messages .dropdown-menu-list li:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #cccccc;
  top: 50%;
  margin-top: -2.5px;
  right: 30px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.messages .dropdown-menu-list li.active:after,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.messages .dropdown-menu-list li.active:after {
  background-color: #8dc63f;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications {
  width: 370px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list {
  max-height: 276px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list > li > a > i,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list > li > a > i {
  float: left;
  background: #dddddd;
  color: #FFF;
  padding: 5px;
  line-height: 17px;
  width: 27px;
  text-align: center;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list > li > a .line,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list > li > a .line {
  padding-left: 45px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-primary > a > i,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-primary > a > i {
  background-color: #2c2e2f;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-success > a > i,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-success > a > i {
  background-color: #8dc63f;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-danger > a > i,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-danger > a > i {
  background-color: #cc3f44;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-warning > a > i,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-warning > a > i {
  background-color: #ffba00;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-info > a > i,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-info > a > i {
  background-color: #40bbea;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-secondary > a > i,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.notifications .dropdown-menu-list > li.notification-secondary > a > i {
  background-color: #FFF;
  color: #444;
  -webkit-box-shadow: 0 0 0 1px #eeeeee;
  -moz-box-shadow: 0 0 0 1px #eeeeee;
  box-shadow: 0 0 0 1px #eeeeee;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu {
  right: -1px;
  left: auto;
  width: 250px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  padding: 15px 20px;
  padding-bottom: 0;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li a,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li a {
  display: block;
  color: #979898;
  padding: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li a:hover,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li a:hover {
  background: none;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li a:hover,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li a:hover {
  color: #606161;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li.last,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li.last {
  background: #fafafa;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li.last:after,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li.last:after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  background: #f0f0f0;
  top: -1px;
  left: 0;
  right: 0;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li.last > a,
.navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li.last > a {
  border-bottom: 0;
}

.navbar-inner .nav .open > a, .navbar-inner .nav .open > a:hover, .navbar-inner .nav .open > a:focus
.navbar-inner .nav .open i, .navbar-inner .nav .open > a i, .navbar-inner .nav .open > a:hover i, .navbar-inner .nav .open > a:focus i{ 
  background-color: #f39529 !important; color:#fff !important;}
  
ul.settingNAV{ background-color: #f39529;}
ul.settingNAV li a, ul.settingNAV li button{ display:block; width: 100%; padding: 5px; background-color: #f39529; color: #fff; cursor: pointer; border:0px; }
ul.settingNAV li a:hover, ul.settingNAV li button:hover{ background: #d27914; color: #fff;}
ul.settingNAV li:last-child > a:hover, ul.settingNAV li:last-child > a:focus,
ul.settingNAV li:first-child > a:hover, ul.settingNAV li:first-child > a:focus{
      border-radius: 0px !important;
}





@media screen and (max-width: 768px) {
  .page-container {
    display: block;
  }
  .page-container .sidebar-menu,
  .page-container .main-content,
  .mainCONTAINER {
    display: block !important;
    width: 100%;
    height: auto;
  }
  .page-container .sidebar-menu {
    position: relative;
  }
  .page-container .sidebar-menu .sidebar-menu-inner {
    position: relative;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env,
  .page-container .sidebar-menu .sidebar-menu-inner .main-menu {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle {
    float: right;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a {
    position: relative;
    display: inline-block;
    color: #979898;
    line-height: 1;
    margin-left: 15px;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a i {
    line-height: 1;
    font-size: 18px;
    position: relative;
    top: 1px;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a:hover,
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a:active,
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a:focus {
    color: #ffffff;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a .badge {
    position: absolute;
    right: -3px;
    top: -8px;
    font-size: 8px;
    padding: 1px 2px;
    min-width: 14px;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .main-menu {
    display: none;
    margin-bottom: 0;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .main-menu.mobile-is-visible {
    display: block;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .main-menu.mobile-is-visible.both-menus-visible {
    margin-top: 0;
    padding-top: 0;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .main-menu > li:last-child > a {
    border-bottom: 0;
  }
  .page-container .main-content .navbar.user-info-navbar {
    display: none;
  }
  .page-container .main-content .navbar.user-info-navbar.mobile-is-visible {
    display: block;
  }
  .page-container .main-content .navbar.user-info-navbar .user-info-menu > li {
    min-height: 0 !important;
  }
  .page-container .main-content .navbar.user-info-navbar .user-info-menu > li > a,
  .page-container .main-content .navbar.user-info-navbar .user-info-menu > li > form {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .page-container .main-content .navbar.user-info-navbar .user-info-menu > li.user-profile > a > span,
  .page-container .main-content .navbar.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a > span {
    display: none;
  }
  .page-container .main-content .navbar.user-info-navbar .user-info-menu > li a > .badge {
    top: 10px;
  }

  .page-container {
    position: relative;
  }
}

.btn {
  outline: none;
  /*border: 1px solid transparent;*/
  margin-bottom: 0px;
}

.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.08);
}
.btn + .btn {
  margin-left: 5px;
}

.form-horizontal .control-label {
  text-align: right;
}
.form-horizontal > .form-group:last-child {
  margin-bottom: 0;
}

nav.navbar {
  border: 0;
}
nav.navbar form > .btn {
  margin-bottom: 0;
}
nav.navbar .navbar-header .navbar-brand {
  padding-left: 30px;
  padding-right: 30px;
}
nav.navbar .navbar-nav li a {
  padding-left: 20px;
  padding-right: 20px; display: block; cursor: pointer;
}
nav.navbar.navbar-inverse .navbar-toggle i {
  color: #fff;
}

.dropdown-menu {
  /*-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;*/
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.175);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
    /*padding: 5px 20px;*/ /* done by Mahesh G for Copy - multi select dropdown*/
   cursor: pointer;
}
.dropdown-menu > li > a > i {
  display: inline-block;
  margin-right: 5px;
}
.left-dropdown .btn {
  float: right;
}
.left-dropdown .btn.dropdown-toggle {
  float: left;
}
.BTNdisabled i{ color:rgba(255, 255, 255, 0.59);}

