*{ outline: none;}
html,body{ padding:0px; margin:0px; font-size: 12px; background: #eeeeee; border: none; color: #424141; height: 100%; font-family: 'Roboto', Open Sans, Arial, sans-serif;}
a { outline: none !important; cursor:pointer; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; color: rgb(52, 126, 186);  text-decoration: none;}
a:hover { text-decoration:underline;    }


fieldset { border:1px solid #ccc; padding:15px; margin:0px;}
legend { border:1px solid #ccc; font-size: 20px; font-weight: bold; width: auto; padding: 5px 15px; font-family: 'Roboto', Open Sans, Arial, sans-serif; color: rgb(36, 51, 114);}

.legend2 { border:1px solid #ccc; font-size: 14px; font-weight: bold; width: auto; padding: 5px 15px; margin:0px; font-family: 'Roboto', Open Sans, Arial, sans-serif; color: rgb(36, 51, 114);}

.minHEIGHT {
    min-height:300px;
}
.nofloat { float:none;}

h1{ margin-top: 19px; margin-left: 25px;}
h5 { font-size: 14px; font-weight: 600; text-transform: uppercase; color: rgb(36, 51, 114);}


.padding{ padding:10px !important;}
.paddingTOP{ padding-top:10px !important;}
.paddingBOTTOM{ padding-bottom:10px !important;}
.paddingLEFT{ padding-top:10px !important;}
.paddingRIGHT{ padding-bottom:10px !important;}

.nopadding{ padding:0px !important;}
.nopaddingLEFT{ padding-left:0px !important;}
.nopaddingRIGHT{ padding-right:0px !important;}
.nopaddingTOP{ padding-top:0px !important;}
.nopaddingBOTTOM{ padding-bottom:0px !important;}

.marginTOP{ margin-top: 10px !important;}
.marginBOTTOM{ margin-bottom: 10px !important;}
.margin{ margin:10px !important;}
.marginLEFT{ margin-left:10px !important;}
.marginRIGHT{ margin-right:10px !important;}

.nomargin{ margin: 0px !important;}
.nomarginLEFT{ margin-left: 0px !important;}
.nomarginRIGHT{ margin-right: 0px !important;}
.nomarginTOP{ margin-top: 0px !important;}
.nomarginBOTTOM{ margin-bottom: 0px !important;}

.border{ border: 1px solid #c8c8c8 !important;}
.borderLEFT{ border-left: 1px solid #c8c8c8 !important;}
.borderRIGHT{ border-right: 1px solid #c8c8c8 !important;}
.borderTOP{ border-top: 1px solid #c8c8c8 !important;}
.borderBOTTOM{ border-bottom: 1px solid #c8c8c8 !important;}

.noborder{ border: 0px !important;}
.noborderLEFT{ border-left: 0px !important;}
.noborderRIGHT{ border-right: 0px !important;}
.noborderTOP{ border-top: 0px !important;}
.noborderBOTTOM{ border-bottom: 0px !important;}


.mainCONTAINER{ display: table-cell; height: 100%; position: relative; vertical-align: top; word-break: break-word; padding: 70px 15px 15px 15px; }
.subCONTAINER{ width: 100%; height: calc(100vh - 95px);}
.addonCONTAINER{ height: calc(100vh - 165px);}
.content{ padding-top: 2px; background: #fff; border:1px solid rgba(200, 200, 200, 0.7); height: 100%; overflow-y: auto; }
.page-container { display: table; width: 100%; height: 100%; vertical-align: top; border-collapse: collapse; border-spacing: 0px; table-layout: fixed; }
.page-container.container { max-width: 1140px; table-layout: auto; }
.page-container .main-content { position: relative; padding: 0px; padding-bottom: 0; vertical-align: top; word-break: break-word;}

.startPAGE { margin:8% auto auto;}
.startIMG { position:absolute; bottom:20px; right:20px; width: 140px;}

/*.table thead th{ background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%); text-align: center; font-size: 12px;}*/
/*.table thead th:first-child, .table tbody td:first-child{ width: 80px; }*/
.table .dateBOX{text-align: center; width: 50%; }
.table .dateBOX ul{ padding: 0px; margin: 0px auto; list-style: none; display: table; width:100%;}
.table .dateBOX li{ display: table-cell; padding: 0 5px; vertical-align: middle; text-align: right;}
.table .dateBOX li:first-child{ width:50px;}
.table .dateBOX li input{ width:100%; border:1px solid #ccc; border-radius: 2px; height:25px; padding:2px 5px; margin:0px; }

button#btnsave { padding: 6px 8px;}
button#btnsave i.fa-save { font-size:17px;}

.subHEADER { background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%); border-top:2px solid #ccc !important; border-bottom:2px solid #ccc !important;}

button.saveBTN{ color:#F39529; background: none; border: 0px; font-weight: bold;}
button.saveBTN i{ font-size: 22px; }


.subsection{ height:200px; margin-bottom: 10px; padding: 0px;}
section{ padding:15px; margin:0px; overflow: hidden; border-radius: 2px;}
.copyBOX{ overflow: hidden; padding:0 15px; border-radius: 2px;}
.copyBOX ul{ width: 100% !important;}

.summaryBOX{ border-radius:4px; padding: 8px; background: #293470 /*#259DAB*/;}
.summaryBOX .subBOX{ background:#fff; overflow: hidden; min-height: 100px; }
.summaryBOX .subBOX h5{ font-size: 14px; background: #293470/*#259DAB*/; border-bottom: 0px solid #ccc; text-transform: uppercase; color: #fff; padding:5px 10px 13px 15px; margin: 0px; font-weight: bold; }
.summaryBOX .subBOX .table thead th:first-child, .table tbody td:first-child{ width: auto;}
.summaryBOX .subBOX .table tfoot td{ font-weight: bold; border-color:#ccc;}
.summaryBOX .table > thead > tr > th{ color: #293470; text-transform: uppercase;}
.summaryBOX .subBOX .table thead th, .summaryBOX .subBOX .table tbody td{ border:1px solid #d8d8d8 !important; }
.summaryBOX .subBOX .table thead th:last-child, .summaryBOX .subBOX .table tbody td:last-child{ width:75px;}


.legend { border: 1px solid #ccc; padding:10px; background:#fff;}
.legend ul{ padding:0px; margin: 0px; list-style: none;}
.legend ul li{ display: block !important; clear: both; padding:5px !important; font-weight: bold; }
.legend ul li .lg-red{ display: inline-block; background-color: rgb(224, 9, 9); height:12px; width:12px; border: 1px solid #b3aaaa; margin-right: 5px; vertical-align: middle;}
.legend ul li .lg-green{ display: inline-block;background-color: rgb(72, 189, 0); height:12px; width:12px; border: 1px solid #b3aaaa; margin-right: 5px; vertical-align: middle;}
.legend ul li .lg-yellow{ display: inline-block; background-color: rgb(202, 171, 0); height:12px; width:12px; border: 1px solid #b3aaaa; margin-right: 5px; vertical-align: middle;}


.multiSELECT .dropdown-multiselect, .multiSELECT .btn{ width: 100%; text-align: left; position:relative; font-size:12px; }
.multiSELECT .btn { padding: 5px 8px;}
.multiSELECT .btn .caret { text-align: right; float: right; margin-top: 5px; position: absolute; right: 6px; border-top: 6px solid; border-right: 3px solid transparent; border-left: 3px solid transparent;  }

.no-record { position: relative; min-height: 250px;}
.no-record-inner{ position: absolute; text-align:center; left: 45%; margin-left: -50px;}
.no-record .text{ font-size: 13px; color: rgba(113, 131, 138, 1); margin-top: 5px; font-weight: 500;}
.no-record i{ color: rgba(113, 131, 138, 0.65); font-size: 2em; margin-top: 25px;}
.no-record h5{ text-align: left; font-weight: bold; font-size: 14px; padding-top:3px; padding-left: 10px; color: rgba(0, 0, 0, 1);}
.no-record .fa-exclamation-triangle{ margin-bottom: 4px; }


.lg { font-size:13px;}
.tokenMESSAGE {
    font-size:12px;
    color:rgb(36, 51, 114); font-weight:700;
}


.header-filters .list2 .btn{ width:100%; margin:0px auto; display: block; font-weight:bold;}
.header-filters .list2 .btnNPI { background-color: rgb(38, 87, 122);}
.header-filters .list2 .selectdiv { position: relative; }
.header-filters .list2 .selectdiv:after { content: '\f078'; font: normal normal normal 12px/1 FontAwesome; color: #fff; position: absolute; top: 0px; padding: 7px 4px 6px 4px; background: /*#259DAB*/rgb(243, 149, 41); border-radius: 2px; right: 10px; border: /*#259DAB*/1px solid rgb(243, 149, 41); pointer-events: none; }
.header-filters .list2 select::-ms-expand { display: none;}
.header-filters .list2 .selectdiv select { text-align-last:center; -webkit-appearance: none; -moz-appearance: none; appearance: none; display: block; width: 100%; border-radius: 2px; padding: 5px 25px 5px 5px; font-size: 12px; font-weight:bold; color: #fff; background-color: /*#259DAB*/rgb(243, 149, 41); background-image: none; border: /*#259DAB*/1px solid rgb(243, 149, 41); -ms-word-break: normal; word-break: normal; }
.header-filters .list2 .selectdiv select[disabled] { cursor: not-allowed; background-color: #eeeeee; opacity: 1; }
.header-filters .list2 input[type='text'] { background: /*#259DAB*/ rgb(243, 149, 41); color:#fff; border-radius:2px; border:0; padding: 6px;}

.scoreBOX{ background-color: /*#259DAB*/ rgb(243, 149, 41); color:#fff; font-size:15px; font-weight:bold; vertical-align:middle; border-radius:5px; padding: 0px 30px; margin: 0px auto; display: table-cell; text-align: center; height:125px;}
.scoreBOX h3{ padding:0px; margin:0px; font-size:24px; font-weight:bold;}
.performanceBOX{ background-color: rgb(38, 87, 122); height:125px; color:#fff; font-size:15px; vertical-align:middle; font-weight:bold; border-radius:5px 0px 0px 5px; padding: 0px 30px; margin: 0px auto; display: table-cell; text-align: center;}
.performanceBOX h3{ padding:0px; margin:0px; font-size:24px; font-weight:bold;}
.performanceLIST ul{ padding:0px; margin:0px; list-style:none;}
.performanceLIST ul li { float:left; }
.performanceLIST ul li button.performanceBTN{ background:none; display:block; width:27px; border:1px solid #ccc; border-left:0; border-radius:0px 5px 5px 0px; padding:5px; height:125px;}
.performanceLIST ul li button.performanceBTN i { font-size:30px; color: /*#259DAB*/ rgb(243, 149, 41); }
.performanceLIST ul li ul { padding-left:20px; font-family:'Open Sans'; }
.performanceLIST ul li li { float:none; padding:0; font-size:14px; font-weight:bold; }
.performanceLIST ul li li span { color: #259DAB /*rgb(243, 149, 41)*/; font-size:18px;}
table.quality > tbody > tr > td a{  text-decoration:none; }
table.quality > tbody > tr > td a:hover { text-decoration:none;    }
table.quality > tbody > tr > td .sub { clear:both; overflow:hidden; padding-top:8px; }
table.quality > tbody > tr > td .sub ul { padding:0px; margin:0px; list-style:none;    }
table.quality > tbody > tr > td .sub li{ float:left; padding:0 8px 0 0; }
table.quality > tbody > tr > td label { border-radius:3px; padding:4px 8px; text-align:center; font-family:'Open Sans';}
table.quality > tbody > tr > td label.outcome { background-color: rgb(43, 156, 194); color:#fff; font-weight:bold;}
table.quality > tbody > tr > td label.hp { background-color: rgb(89, 193, 217); color:#fff; font-weight:bold;}
table.quality > tbody > tr > td label.inverse { background-color: /*#259DAB*/ rgb(243, 149, 41); color:#fff; font-weight:bold;}
table.quality > thead > tr > th button.btn-per-BTN { background-color:transparent; font-family:'Open Sans', 'Helvetica Neue', Helvetica, sans-serif; color: #3b4354; font-weight:bold; font-size: 12px; padding-bottom: 4px;}
table.quality > thead > tr > th button.btn-perBTN { background-color:transparent; color:#3b4354; font-family:Roboto; padding-bottom: 4px;  }
table.quality > thead > tr > th .dropdown-menu { border-radius:4px; right:0px; left:auto; background:rgb(243, 149, 41); margin: -3px 0 0; border:0px; padding:8px;}
table.quality > thead > tr > th .dropdown-menu ul { padding:0px; margin:0px; list-style:none;  }
table.quality > thead > tr > th .dropdown-menu li { float:none; clear:both; background:rgb(243, 149, 41);  }
table.quality > thead > tr > th .dropdown-menu li a { color:#fff; display: block;  padding:5px 10px;  }
table.quality > thead > tr > th .dropdown-menu li a:hover { background:rgb(216, 131, 33);  text-decoration:none;   }
table.quality > thead > tr > th .btn-group.open .dropdown-toggle { background: rgb(243, 149, 41); color:#fff; border-radius: 5px 5px 0 0;}
table.quality > thead > tr > th .btn-group > .btn + .dropdown-toggle { font-size: 18px; padding-top: 3px; padding-bottom: 0px;}


.form{ padding: 0px; margin: 0px;}
.form ul{ padding: 0px; margin: 0px; list-style: none; display: table; width:100%; }
.form ul li{ position:relative; display: table-cell; vertical-align: middle; padding: 0 6px; border-radius: 0px; }
.form .input{ width: 100%; border: 1px solid #ccc; border-radius: 0px; padding:6px; }
.form select{ width: 100%; border: 1px solid #ccc; border-radius: 0px; padding: 5px;}
.form .input[type='disabled']{ width:100%; border:1px solid #ccc; border-radius: 0px; height:25px; background: rgb(200, 200, 200); padding:2px 5px; margin:0px; }
.form input.highlight{ background:#2b9cc2; border: 1px solid #1f7d9c; color: #fff;}
.form ul li i.fa-calendar { position:absolute; right: 10px; top: 30px; font-size: 14px;   }
table tr td i.fa-calendar { position:absolute; right: 20px; top: 8px; font-size: 14px;   }
table tr td md-switch .md-container { float: none; margin: 0px auto; }
#griUser-list .date { width: 160px !important;}

input.selected[type="disabled"], button.selected[disabled]{ background: #2b9cc2 !important; opacity: 1; color: #fff !important; font-weight: bold; border: 0 !important; width:100%;  }

*[class*="fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table.group > thead > tr > th,  table.group > tfoot > tr > th {/* background: #1f608e !important; color:#fff;*/}
table.group > tbody > tr > td:first-child .checkmark{ left: 10px; }
button.group { background: #1f608e; color:#fff !important; font-weight:bold; font-size:12px;}
button.btn-default { font-weight:bold; font-size:12px;}

#practiceMultiselect button.btn-default { font-weight:normal;}
table.table .labelcheckBOX { margin-left:-15px;}
table.group .labelcheckBOX, table.individual .labelcheckBOX { margin-left:0px;}

.costBONUS ul{ padding:0px; margin:0px; list-style:none}
.costBONUS ul li { padding:25px 0px 0px 0; margin-bottom:40px;   }
.costBONUS .message { padding:10px 15px; border-radius:3px; font-weight: bold; font-size: 14px; font-style:italic; text-transform: uppercase;}
.costBONUS .greenTXT { color:#467900; background-color: rgba(141, 198, 63, 0.25); border: 1px solid rgba(92, 158, 0, 0.36);  }
.costBONUS .blueTXT { color:#31708f; background-color: #d9edf7; border: 1px solid #a8d0d8; }
.costBONUS .deflautTXT { color: #8a6d3b; background-color: #fcf8e3; border: 1px solid #d0b98b; }
.costBONUS .form-control { height: 42px; }


.disclaimer { background:rgba(204, 204, 204, 0.5); padding:25px; margin-bottom:0; }
.panel-disclaimer {
    padding-top:15px;
        line-height: 15px;
}
.ckbox span:before { border-color:#ccc !important;}


.table > thead > tr > th { vertical-align:middle; white-space:nowrap;}



/*Bootstrap Custom CSS*/
.progress { margin-bottom:0; text-align: center; white-space: nowrap; font-weight:bold; overflow: initial; color: #000;}
label { font-weight:500;}
.form-group { margin-bottom:0;}
.qualityDASHBOARD .table thead th{ background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%); text-align: center; /*font-size: 12px;*/}
.qualityDASHBOARD .table{ margin-bottom: 0; border-collapse:collapse;}
.qualityDASHBOARD .table-bordered { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.qualityDASHBOARD .table > thead > tr > th { font-family: 'Roboto', Open Sans, Arial, sans-serif; font-weight:700; white-space:nowrap; text-transform:capitalize; border-bottom: 1px solid rgba(200, 200, 200, 0.7) !important; border-color: #d8d8d8; vertical-align: middle; padding:6px 15px; font-size: 12px; letter-spacing:normal;}
.qualityDASHBOARD .table > tbody > tr > td, .table-bordered > tfoot > tr > td { border-color: #e8e2e2; vertical-align: middle; padding:6px 6px; letter-spacing:normal;}
.qualityDASHBOARD .table > tbody + tbody { border-top: 1px solid #eeeeee; }


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #d5d5d5/*rgba(238, 238, 238, 0.53)*/; padding: 5px 8px; height: auto;
}
.table-bordered > tbody > tr > td label { margin-bottom: 0px;
    }
.table-bordered > tbody > tr > td input[type="radio"], 
.table-bordered > tbody > tr > td input[type="checkbox"] { margin-top: 0px;
    }
.progress-bar-success {
    background-color: #6ca025;
}
.progress-bar-gray {
  background-color: #b6b6b6;
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-bar-warning {
  background-color: #e6ad5c;
}
.progress-bar-info {
  background-color: #5bc0de;
}

.panel-heading{ margin-bottom: 0px; /*padding:0px; border:1px solid #b3b2b2;*/ background-color: #ffffff; border-radius: 2px;}
/*.panel-heading h3{ position: relative; padding:12px 4px 12px 15px; font-weight: bold; text-transform: uppercase; margin: 0px; font-size: 13px; color:rgb(36, 51, 114); font-family: 'Roboto', Open Sans, Arial, sans-serif;}
.panel-heading h4{ position: relative; cursor:pointer; padding:12px 4px 3px 15px; font-weight: bold; text-transform: uppercase; margin: 0px; font-size: 13px;}
.panel-heading h4 a{ display: block; overflow:hidden; text-decoration: none; padding:8px 15px;background: linear-gradient(to bottom, #f6f7f9 0%, #b8cff3 100%); border-radius: 2px; }
.panel-heading h4 a:after{ content: "\f078"; font-family: 'fontAwesome'; color: #293470; position: absolute; top: 9px; right: 15px;}
.panel-heading h4 a.collapsed:after { font-family: 'fontAwesome'; content: "\f054";}
.panel-heading2 h4 a{ display: block; text-decoration: none; padding:0px 15px 6px 15px;background: linear-gradient(to bottom, #f6f7f9 0%, #b8cff3 100%); border-radius: 2px; }
.panel-heading2 h4 a:after{ content: "\f078"; font-family: 'fontAwesome'; color: #293470; position: absolute; top: 9px; right: 10px;}

.panel-heading2 span.tl { padding-top:6px;}
button.accordionBTN { padding:0px; background: none; }
button.accordionBTN:before{ content: "\f107"; font-family: 'fontAwesome'; color: #fff; font-size: 22px; font-weight: bold;}
button.accordionBTN.collapsed:before { font-family: 'fontAwesome'; content: "\f105"; font-size: 22px; font-weight: bold;}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus { color: rgba(119, 119, 119, 0.75);}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { border-color: #366086;}

.btn{ border-radius: 0px; padding-top:6px; padding-bottom: 6px; font-size:11px; }
.btn-primary { background-color: #293470; border: 0; border-radius: 2px; text-transform: uppercase; font-weight: bold;}
.btn-danger { border-radius: 2px; text-transform: uppercase; font-weight: bold;}
.btn-warning { color: #ffffff; background-color: #757575; border-color: #757575; border-radius: 2px; text-transform: uppercase; font-weight: bold;}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning { color: #ffffff; background-color: #585757; border-color: #585757;}
input[type="radio"]{ margin-top:2px;}
input[type="checkbox"]{ margin-top:0px;}*/

.btn-xs { padding: 4px 5px;}
.panel-group .panel + .panel {
    margin-top: 1px;
}
.header-filters ul.dropdown-menu { width:100%; font-size:11px; max-height:350px !important; padding: 5px; border: 1px solid #cccccc; border-top: 0;}
.header-filters ul.dropdown-menu li{ display:block; margin:3px 0px;  }
.header-filters ul.dropdown-menu > li > a { padding: 0px 1px;}
.header-filters ul.dropdown-menu li label { font-weight:normal !important; margin-bottom:2px;    }
.header-filters ul.dropdown-menu li span { padding-right:5px;   }
.panel { margin-bottom: 10px; min-height:200px; /*overflow:hidden;*/ -webkit-box-shadow: none !important; box-shadow: none !important; border:1px solid rgba(200, 200, 200, 0.7);}
.panel-body { padding-bottom: 80px !important; min-height: 200px;}
.panel-footer { position: relative; width: 100%; bottom: 0; border-top: 1px solid #d5d5d5;}
.lead { font-size: 17px; line-height: 35px; padding: 0 30px; color: #000;}
.lead i { background: rgb(36, 51, 114); color: #fff; padding: 8px 10px; margin: 0 5px; border-radius: 4px; }
.form-control { padding:5px 6px; height:auto; font-size: 12px; border: 1px solid #ccc; box-shadow: none; -webkit-transition: none; }
.form-control[disabled], .form-control[readonly] { color: #6c727d;}
.form-inline .form-control { width:100%;}


.date { width:100% !important; /*width:110px !important;*/}
.input[disabled],.input[readonly], .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, select[disabled] { cursor: not-allowed; background-color: #eeeeee; opacity: 1;}
.text-danger { color: #d9534f;}
.text-left { text-align: left !important;}
.text-right { text-align: right !important;}
.nav-pills { position: relative; clear: both; overflow: hidden;}
.nav-pills > li > a { text-decoration:none; font-weight: 700; padding:7px 15px; margin-top: 5px; background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%); border:1px solid #ccc; border-bottom:none; border-radius:4px 4px 0 0; color:rgba(55, 62, 74, 0.43)}
.nav-pills > li.active > a { text-decoration:none; padding:10px 15px; margin-top: 0px; color: rgb(43, 166, 203); font-weight:bold; background: #fff }
.nav-pills > li.active > a:hover { padding:10px 15px; margin-top: 0px; color: rgba(36, 51, 114, 0.82); font-weight:normal; background: #fff }
.nav-pills > li.active > a:focus { color: rgb(43, 166, 203); font-weight:bold; background: #fff}
.uib-datepicker-popup { width:auto !important; }
.badge { font-size: 11px; background-color: #1f608e; margin-top:5px;}
.badge2 { font-size: 11px; background-color: #2196F3; margin-top:6px;}
.input-group-btn button.btn-default { padding:5px 8px;}
.modal-dialog { /*top: 15%;*/ margin:0; }
.modal-content { border-radius:4px;}



.qualityDASHBOARD .pbar { position: relative; min-width:200px; width:85%; }
.qualityDASHBOARD .barWrapper{ position:absolute; margin:auto; width:100%;}
.qualityDASHBOARD .tooltip{ position:relative; float:right; }
.qualityDASHBOARD .tooltip > .tooltip-inner {background-color: #243372; padding:3px 8px; font-size: 11px; border-radius: 4px;color:#fff; font-weight:bold; font-size:11px;}
.qualityDASHBOARD .popOver + .tooltip > .tooltip-arrow {	border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #243372;}
.qualityDASHBOARD .tooltip.top .tooltip-arrow{ top:0px; -ms-transform: rotate(180deg); /* IE 9 */ -webkit-transform: rotate(180deg); /* Safari */ transform: rotate(180deg);}
.qualityDASHBOARD .tooltip.top{ margin-top: 46px; z-index: 1;}
.qualityDASHBOARD .progres-bg-hide { background:none; border:0px;}
.qualityDASHBOARD .pvalue { margin-left:8px;}
.qualityDASHBOARD .pmarginleft { margin-left: 30px !important;}
.qualityDASHBOARD .dashboard.table > tbody > tr > td { padding: 12px 6px; vertical-align:top;}

.qualityDASHBOARD .progress { position:relative; overflow:visible; max-width: 100%; box-shadow:none; border:1px solid #ccc; border-radius:10px; height:14px;}
.qualityDASHBOARD .progress-bar{ background:none; box-shadow:none; -webkit-transition: width 1.5s ease-in-out; transition: width 1.5s ease-in-out; font-weight: bold;
    font-size: 11px;
    line-height: 18px; }
.qualityDASHBOARD .progress-bar-success {
    background-color: #48bd00;
}
.qualityDASHBOARD .progress-bar-danger {
    background-color: #e00909;
}
.qualityDASHBOARD .progress-bar-success, 
.qualityDASHBOARD .progress-bar-warning, 
.qualityDASHBOARD .progress-bar-danger {
    display: block;
    height: 12px;
    border-radius: 10px 0px 0px 10px;
}



.qualityDASHBOARD .tooltip{ 
  position:relative;
  float:right;
}
.qualityDASHBOARD .tooltip > .tooltip-inner {background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px;}
.qualityDASHBOARD .popOver + .tooltip > .tooltip-arrow {	border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}

.qualityDASHBOARD .progress{
    border-radius:10px;
  overflow:visible;
}
.qualityDASHBOARD .progress-bar{
   background:none; 
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}


.qualityDASHBOARD .tooltip1 {
        position: relative;
        display: inline-block;
    }

 .qualityDASHBOARD .goal-progressbar {
        position: absolute;
        width: 100%;
    }   

.qualityDASHBOARD .tooltip1 .tooltiptext1 {
        visibility: hidden;
        top: 19px;
        background-color: rgb(36, 51, 114);
        color: #fff;
        position: absolute;
        right: 0;
        border-radius: 4px;
        font-weight: bold;
        font-size: 11px;
        padding: 2px 4px;
        white-space: nowrap;
        z-index: 1;
        right: -26px;
    }
       
.qualityDASHBOARD .tooltip1 .tooltiptext1:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 6px solid rgb(36, 51, 114);
            top: -6px;
            left: 45%;
        }
.qualityDASHBOARD .tooltip1 .tooltiptext1 {
        visibility: visible;
    }



.qualityDASHBOARD .moreBTN { background:#293470; color:#fff; border-radius:4px; border: 0; padding: 6px; font-size: 11px; text-transform: uppercase; font-weight: bold;}



.nowrap{ white-space: nowrap;}


/*Drill Down CSS*/
.drill-down{ font-size:12px; margin-top:20px;}
.drill-down ul{ padding:0 0 10px 0; margin:0px; list-style:none; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.drill-down ul li:first-child{ color:#243372; font-weight:bold; text-transform:uppercase; white-space:nowrap; -ms-flex: 0 0 15%; flex: 0 0 15%;  max-width: 15%; }
.drill-down ul li:last-child{ -ms-flex: 0 0 85%; flex: 0 0 85%;  max-width: 85%; }

.searchBOX input[type=text]{ padding: 4px 6px; margin: 0px; font-size: 12px; border: 1px solid #ccc; border-right: 0; min-width: 215px;}
.searchBOX button { margin-left: -3px; padding: 0px 10px 4px 10px; background: #ddd; font-size: 15px; border: 1px solid #ccc; cursor: pointer;}
.searchBOX button:hover { background: #ccc;}

.listBOX ul{ padding:0; margin:0px; list-style:none; font-size:13px;}
.listBOX ul li{ padding:0; margin-bottom:5px; font-weight:bold; }
.listBOX ul li a{ display: block; background: #6b6661; color:#fff; text-decoration:none; line-height:30px; padding-left:10px; padding-right:10px; }
.listBOX ul li a.active{ background: #F39529; }
.listBOX ul li span{ border-radius:100%; font-size:11px; background:#fff; line-height:normal; padding:3px; color:#000; font-weight:bold; float: right; min-width: 20px; text-align: center; margin-top: 5px; margin-right: 0px;}


.selectdiv { position: relative; }
.selectdiv:after { content: '\f078'; font: normal normal normal 12px/1 FontAwesome; color: #333; position: absolute; top: 0px; padding: 8px 4px 7px 4px; background: rgba(238, 238, 238, 0.9); border-radius: 0px 2px 2px 0; right: 0; border: 1px solid #ccc; pointer-events: none; }
select::-ms-expand { display: none;}
.selectdiv select { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: block; width: 100%; padding: 5px 25px 5px 5px; font-size: 12px; color: #333; background-color: #ffffff; background-image: none; border: 1px solid #ccc; -ms-word-break: normal; word-break: normal; }
.selectdiv select[disabled] { cursor: not-allowed; background-color: #eeeeee; opacity: 1; }


.dropdown-multiselect { width: 100%; }
.dropdown-multiselect button.dropdown-toggle { width: 100%; text-align: left; font-size: 12px;    }
.dropdown-multiselect button.dropdown-toggle span.caret { float: right; margin-top: 7px;border-top: 5px solid; border-right: 5px solid transparent; border-left: 5px solid transparent; }
.dropdown-multiselect ul.dropdown-menu {  width: auto;  border-top: 1px solid #cccccc; font-size: 12px; margin-top: -1px;  }


 .cpia-dropdown .dropdown-multiselect ul.dropdown-menu,
 .acia-dropdown .dropdown-multiselect ul.dropdown-menu {
        height: 200px !important;
        top: -200px !important;
        width: 100% !important;
}


/* Hide the browser's default checkbox */
.labelcheckBOX { position: relative; vertical-align: top; margin-bottom: 0;}
.labelcheckBOX label{ margin-left:22px; margin-bottom: 0; }
.labelcheckBOX input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee; border-radius: 2px; cursor:pointer; border: 1px solid #969595;
}

/* On mouse-over, add a grey background color */
.labelcheckBOX:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.labelcheckBOX input:checked ~ .checkmark {
    background-color: #2196F3; border:none !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.labelcheckBOX input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.labelcheckBOX .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.width100p { width: 100%;}
.width20 { width: 20px;}
.width30 { width: 30px;}
.width50 { width: 50px;}
.width60 { width: 60px;}
.width70 { width: 70px;}
.width80 { width: 80px;}
.width90 { width: 90px;}
.width100 { width: 100px;}
.width120 { width: 120px;}
.width130 { width: 130px;}
.width140 { width: 140px;}
.width150 { width: 150px;}
.width200 { width: 200px;}
.width210 { width: 210px;}
.width220 { width: 220px;}
.width300 { width: 300px;}
.width350 { width: 350px;}
.width450 { width: 450px;}
.width460 { width: 460px;}






.btn-success {
        background-color: #2c3b77 !important;
            border-color: #2c3b77 !important;
}



#amc-aci-stage2 td:nth-child(2) { 
    white-space: nowrap;
}

#amc-aci-stage2 td, #amc-aci-stage3 td,
#amc-aci-stage2 .progress-bar, #amc-aci-stage3 .progress-bar {
    text-align: center;
    font-size: 12px;
}
.amc-group .progress, .amc-clinician .progress {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 11px;
    color: #000; 
}


