﻿<div class="mi-content-panel nopadding">
    <div class="row ">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title pull-left"></h4>
                    <div class="pull-right heading-right-large">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="control-label" style="display: block;">From</label>
                                <aci-datepicker ng-model="dataExportCtrl.fromDate" max-date="dataExportCtrl.fromDate"
                                                ng-change="dataExportCtrl.ValidateFromDate();"></aci-datepicker>
                            </div>
                            <div class="form-group">
                                <label class="control-label" style="display: block;">To</label>
                                <aci-datepicker ng-model="dataExportCtrl.toDate" max-date="dataExportCtrl.toDate"></aci-datepicker>
                            </div>
                            <div class="form-group select120">
                                <label class="control-label" style="display: block;">Physician</label>
                                <span id="physicianMultiselect" ng-dropdown-multiselect="" options="dataExportCtrl.physicianList"
                                      selected-model="dataExportCtrl.selectedPhysicianToList" checkboxes="true"
                                      extra-settings="dataExportCtrl.settings"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" style="display: block;">&#160;</label>
                                <button class="btn btn-primary btn-sm" ng-click="dataExportCtrl.searchPatients(dataExportCtrl.fromDate,dataExportCtrl.toDate);">Search</button>
                                 <button class="btn btn-primary btn-sm" ng-click="dataExportCtrl.clearSearch();">Clear</button>
                               
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- /panel-heading -->
                <div class="table-float-wrapper">
                    <table class="table table-float " id="error-results-list">
                        <thead>
                            <tr class="header">
                                <th><input type="checkbox" ng-model="dataExportCtrl.selectedAll" ng-change="dataExportCtrl.updateSelectAll(dataExportCtrl.selectedAll);"></th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Account Number</th>
                                <th>Gender</th>
                                <th>Date of Birth</th>
                                <th>Physician</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="patient in dataExportCtrl.patientList">
                                <td><input type="checkbox" ng-model="patient.isChecked" ng-change="dataExportCtrl.updateSelection(patient.id,patient.isChecked,patient.lastName,patient.firstName,patient);" /></td>
                                <td>{{patient.lastName}}</td>
                                <td>{{patient.firstName}}</td>
                                <td>{{patient.accountNumber}}</td>
                                <td>{{patient.gender}}</td>
                                <td>{{patient.dateOfBirth}}</td>
                                <td>{{patient.physician}}</td>
                            </tr>
                            <tr ng-if="dataExportCtrl.patientList.length == 0">
                                <td>No data found</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- /table-->
                </div>

                <!--/table-float-wrapper-->
                <div class="panel-footer">
                    <div class="col-sm-12">
                        <div class="form-group pull-right">
                            <!--<!--<label for="fileID">{{dataExportCtrl.exportFolderLocation}} </label>
                            <!--<input style="float:left; width:270px; height:25px; display:none" id="path" name="path" disabled />-->
                            <!--disabled it, to avoid user from editing the file path-->
                            <!--<input style="display:none;" type="file" id="fileID" name="file" ng-model="dataExportCtrl.exportFolderLocation" ng-change="dataExportCtrl.ExportData(dataExportCtrl.exportFolderLocation)" placeholder="" webkitdirectory="" directory="" />--> <!-- hide the default input type='file' coz its ugly :) -->
                            <!--<button type="submit" class="btn btn-primary" onclick="document.getElementById('fileID').click(); return false;">Storage Location</button>-->  <!-- but call hidden input type='file' when user clicks on your custom browse button,  -->
                            <!--<a href="#"  class="btn btn-primary" type="button" onclick="document.getElementById('fileID').click(); return false;">Storage Location</a>
                            <input id="fileID"  ng-model="dataExportCtrl.exportFolderLocation" type="file" style="visibility: hidden; display: none; position:relative" ng-disabled="dataExportCtrl.patientList.length == 0" webkitdirectory="" directory="">-->
                            <!--<input class="btn btn-primary" id="tfile" ng-disabled="dataExportCtrl.patientList.length == 0" style="position:relative" type="file" webkitdirectory="" directory="">-->
                            <!--<button class="btn btn-primary" ng-disabled="dataExportCtrl.patientList.length == 0">Storage Location</button>-->

                            <label for=""></label>
                            <div class="input-group">
                                <span class="input-group-btn" ng-hide="true">
                                    <input type="text" class="form-control" ng-model="dataExportCtrl.exportFolderLocation" required maxlength="500"
                                           ng-class="{'errorClass':dataExportCtrl.filePathIsEmpty}" ng-focus="dataExportCtrl.isFilePathEmpty();" ng-blur="dataExportCtrl.isFilePathEmptyBlur();">
                                </span>
                                <!--<span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="dataExportCtrl.validateFilePath();"> <i class="fa fa-check"></i></button>
                                </span>-->
                            </div>
                            <!--<label class="text-danger" ng-class="{'hide':!dataExportCtrl.FolderPathNotValid}">Select Storage Location</label>-->
                            <button class="btn btn-primary" style="margin:5px" ng-disabled="dataExportCtrl.patientList.length == 0" ng-click="dataExportCtrl.ExportData();"  ng-hide="true">
                                Export
                            </button>
                            <button class="btn btn-primary" style="margin:5px" ng-disabled="dataExportCtrl.patientList.length == 0" ng-click="dataExportCtrl.DownloadData();">
                                Export
                            </button>

                            <!--<div class="col-lg-12">
                                <div class="rowDiv">
                                    <div style="background-color:#FFA500;" ng-style="{'width':dataExportCtrl.width}">{{dataExportCtrl.progress}}%</div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- /panel-footer -->
            </div>
            <!-- /panel -->


        </div>
    </div>


    <!-- /row  -->

</div>