﻿<div class="panel cpia-selection" id="printActivitiesGrid">

    <style>
        body {
            margin: 0px;
            padding: 0px;
            font-size: 14px;
        }

        .container {
            width: 100%;
            margin: 5px auto;
            border: 2px solid #e7e7e7;
            padding: 5px;
            height: 100%;
        }

        .mi-main-panel {
            padding-top: 0px;
        }

        label {
            font-size: 14px;
        }


        td {
            vertical-align: top;
        }

        td, th {
            padding: 5px;
        }
        .print-logo{
            max-height: 60px;
            width: auto;
        }
        @page {
            margin: 25pt 15pt;
        }

    </style>

    <div class="container">
        <div class="content">
            <div class="logo" style="text-align: center;">
                <!--<img src="../../../../common/content/images/logo.png" class="print-logo"/>-->
                <!--<img src="../../../../common/content/images/AMC Export DropDown.png" class="print-logo"/>-->
            </div>
            <div>
                <label style="float: left;"><strong>Date - Time: </strong>{{cpiaPrintCtrl.currentDate | date : 'short'}}</label>
                <label style="float: right;"><strong>User Name: </strong>{{cpiaPrintCtrl.userName}}</label>
            </div>
            <div style="text-align: center; clear: both;" ng-if="cpiaPrintCtrl.printObject.name !== ''">
                <label><strong>{{cpiaPrintCtrl.printObject.name}} -</strong></label>
                <!--<br>-->
                <label><strong>{{cpiaPrintCtrl.printObject.id}}</strong></label>
            </div>
            <div style="text-align: center; clear: both;">
                <label>{{cpiaPrintCtrl.printObject.practiceDetails.name}}</label>
                <br>
                
                <span>{{cpiaPrintCtrl.printObject.practiceDetails.addressline1}}</span>
                <span ng-if="cpiaPrintCtrl.printObject.practiceDetails.addressline2">{{cpiaPrintCtrl.printObject.practiceDetails.addressline2}}, </span>
                <span ng-if="cpiaPrintCtrl.printObject.practiceDetails.city">{{cpiaPrintCtrl.printObject.practiceDetails.city}}, </span>
                <span ng-if="cpiaPrintCtrl.printObject.practiceDetails.state">{{cpiaPrintCtrl.printObject.practiceDetails.state}}, </span>
                <span ng-if="cpiaPrintCtrl.printObject.practiceDetails.country">{{cpiaPrintCtrl.printObject.practiceDetails.country}}, </span>
                <span ng-if="cpiaPrintCtrl.printObject.practiceDetails.zip">{{cpiaPrintCtrl.printObject.practiceDetails.zip}}</span>
            </div>
            <div>
                <span style="float: left;">
                    <label><strong>IA List</strong></label>
                </span> <span style="float: right;">
                    <label>
                        <strong>IA Reporting Period:</strong>
                        {{cpiaPrintCtrl.printObject.fromDate  | date:'MM/dd/yyyy'}} - {{cpiaPrintCtrl.printObject.toDate | date:'MM/dd/yyyy'}}
                    </label>
                </span>
            </div>
            <br>
            <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#e7e7e7" style="border: solid 1px #dedede; border-collapse: collapse; margin: 15px 0px;">
                <thead>
                    <tr>
                        <th>Activity ID</th>
                        <th>Activity Name</th>
                        <th>Activity Description</th>
                        <th>Subcategory</th>
                        <th>Activity Weighting</th>
                        <th>PI Bonus</th>
                        <th>Activity Start Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in cpiaPrintCtrl.printObject.data">
                        <td>{{activity.activityId}}</td>
                        <td>{{activity.activityName}}</td>
                        <td>{{activity.activityDescription}}</td>
                        <td>{{activity.subCategory}}</td>
                        <td>{{activity.weighting}}</td>
                        <td>{{activity.aciBonus}}</td>
                        <td>{{activity.activityStartDate | date: 'MM/dd/yyyy'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>



    <div>
        <button class="btn btn-primary" id="printActivitiesGridButton" ng-hide="true"
                printing-done="cpiaPrintCtrl.printingDone()" ng-print print-element-id="printActivitiesGrid">
            <i class="fa fa-print"></i> Print
        </button>
    </div>

</div>
