﻿<div class="container" id="printGroupLevelDashBoardGrid">
    <div class="content" style="margin-top: 20px;">
        <!--<div class="logo" style="text-align: center;"><img src="../../../../../common/content/images/logo.png" />  </div>-->
        <div>
            <label style="float: left;"><strong>Date - Time: {{groupLevelPrint.currentDate | date : 'short'}} </strong></label>
            <label style="float: right;"><strong>User Name: {{groupLevelPrint.userObject}}</strong></label>
        </div>
        <div style="text-align: center; clear: both;">
            <label><strong>{{ groupLevelPrint.groupsList[0].name}} - {{ groupLevelPrint.groupsList[0].tin}}  </strong> </label>
            <br />
            <label><strong>{{ groupLevelPrint.practiceDetailsPrintObj.name}} </strong></label>
            <br>
            <label>
                <strong>
                    <!--Practice Address-->
                    <span>{{groupLevelPrint.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="groupLevelPrint.practiceDetailsPrintObj.addressline2">{{groupLevelPrint.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="groupLevelPrint.practiceDetailsPrintObj.city">{{groupLevelPrint.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="groupLevelPrint.practiceDetailsPrintObj.state">{{groupLevelPrint.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="groupLevelPrint.practiceDetailsPrintObj.country">{{groupLevelPrint.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="groupLevelPrint.practiceDetailsPrintObj.zip">{{groupLevelPrint.practiceDetailsPrintObj.zip}}</span>
                </strong>
            </label>
        </div>

        <br>
        <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
            <thead>
                <tr>
                    <th>Billing Entity</th>
                    <th>TIN</th>
                    <th>NPI</th>
                    <th>Reporting Period</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>IA</th>
                    <th>PI</th>
                    <th ng-hide="true" aria-hidden="true">ExistingFromDate</th>
                    <th ng-hide="true" aria-hidden="true">ExistingToDate</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in groupLevelPrint.groupsList">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.tin}}
                    </td>
                    <td>
                        {{item.npi}}
                    </td>
                    <td>
                        <label ng-if="groupLevelPrint.isShowGroup">    {{item.reportingPeriodName}}</label>
                    </td>
                    <td>
                        <label ng-if="groupLevelPrint.isShowGroup">
                            {{item.fromDate}}
                        </label>
                        <!--<aci-datepicker ng-model="item.fromDate" ng-required="true" input-name="fromDate"
                                        ng-disabled="item.disableFromDateFiled"
                                        date-changed="groupLevel.updateToDate(item);" from-submmited="submitted" form-name="reportingForm">
                        </aci-datepicker>-->
                    </td>
                    <td>
                        <label ng-if="groupLevelPrint.isShowGroup">
                            {{item.toDate}}
                        </label>
                        <!--<aci-datepicker ng-model="item.toDate" ng-required="true" input-name="toDate"
                                        ng-disabled="item.disableToDateField"
                                        date-changed="practiceLevel.onToDateChange()" from-submmited="submitted" form-name="reportingForm">
                        </aci-datepicker>-->
                    </td>
                    <td>
                        <label ng-if="groupLevelPrint.isShowGroup">
                            {{item.cpiaScore}}
                        </label>
                    </td>

                    <td>
                        <label ng-if="groupLevelPrint.isShowGroup">    {{item.aciScore}} </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" align="center"><div style="text-align: center"><strong>Individual Reporting</strong></div></td>
                </tr>
                <tr ng-repeat="clinican in groupLevelPrint.clinicianList">
                    <td>
                        {{clinican.name}}
                    </td>
                    <td>
                        {{clinican.tin}}
                    </td>
                    <td>
                        {{clinican.npi}}
                    </td>
                    <td>
                        <label ng-if="!groupLevelPrint.isShowGroup"> {{clinican.reportingPeriodName}} </label>

                    </td>
                    <td>
                        <label ng-if="!groupLevelPrint.isShowGroup">  {{clinican.fromDate}}</label>
                    </td>
                    <td>
                        <label ng-if="!groupLevelPrint.isShowGroup">  {{clinican.toDate}}</label>
                    </td>
                    <td>
                        <label ng-if="!groupLevelPrint.isShowGroup">
                            {{clinican.cpiaScore}}
                        </label>

                    </td>
                    <td>

                        {{clinican.aciScore}}

                    </td>
                </tr>

            </tbody>
        </table>
        <br>
    </div>
    <button class="btn btn-primary" id="printGroupLevelGridButton" ng-hide="true"
            printing-done="groupLevelPrint.printingDone()" ng-print print-element-id="printGroupLevelDashBoardGrid">
        <i class="fa fa-print"></i> Print
    </button>
</div>