﻿<div class="panel panel-heading groupLIST" style="overflow:hidden;">
    <div class="clearfix">
        <h4 class="panel-title col-sm-6 nopaddingLEFT nopaddingRIGHT marginTOP paddingTOP">
        {{groupLevel.DashBoardRowObject.name}} - ({{groupLevel.DashBoardRowObject.tin}})</h4>
    </div>

    <div class="row paddingBOTTOM">
            <div class="col-sm-6 marginTOP header-right-small">
                <div class="form-group">
                    <label class="control-label paddingBOTTOM" style="display:block;"></label>
                    <label class="radio-inline">
                        <input type="radio" name="" id=""
                               ng-checked="groupLevel.checkGroup" ng-click="groupLevel.showGroupsGrid();">
                        Group Reporting
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id=""
                               ng-checked="!groupLevel.checkGroup" ng-click="groupLevel.showClinicianGrid();">
                        Individual Reporting
                    </label>
                </div>
            </div>
            <div class="col-sm-6 header-right-small">
                <div class="form-inline pull-right">
                    <label class="control-label" style="display:block;">Performance Year</label>
                    <input class="form-control" ng-model="groupLevel.selectedPerformanceYear" readonly>
                    <!--<select class="form-control" ng-model="groupLevel.selectedPerformanceYearId" ng-change="groupLevel.onYearChange()"
                            ng-options="performanceYear.performanceYear for performanceYear in groupLevel.performanceYearList"></select>-->
                </div>
            </div>
        
    </div>

</div>




<div class="panel">

    <div class="panel-body nopadding">
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" ng-if="groupLevel.showGroup">
                    <table class="table table-float" id="">
                        <thead>
                            <tr class="header">
                                <th width="25%">Reporting Entity</th>
                                <th>TIN</th>
                                <th>NPI</th>
                                <th>Reporting Period</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th width="170">IA</th>
                                <th width="170">PI</th>
                                <th ng-hide="true">ExistingFromDate</th>
                                <th ng-hide="true">ExistingToDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in groupLevel.groupDashBoardData">
                                <td>
                                    {{item.groupName}}
                                </td>
                                <td class="nowrap">
                                    {{item.tin}}
                                </td>
                                <td class="nowrap">
                                    {{item.npi}}
                                </td>
                                <td>
                                    <select class="form-control width100" ng-model="item.reportingPeriodId"
                                            ng-change="groupLevel.updateToDate(item,true);"
                                            ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in groupLevel.reportingPeriodList"></select>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="item.fromDate" ng-required="true" input-name="fromDate"
                                                    ng-disabled="item.disableFromDateFiled"
                                                    date-changed="groupLevel.updateToDate(item,false);" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="item.toDate" ng-required="true" input-name="toDate"
                                                    ng-disabled="item.disableToDateField"
                                                    date-changed="groupLevel.updateToDate(item,false)" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td ng-class={'greenbg':item.classGreen,'yellowbg':item.classYellow,'redbg':item.classRed}>
                                    <a style="cursor:pointer;" ng-click="groupLevel.goToCPIAActivities(item);">{{item.cpiaScore}}</a>
                                </td>
                                <td ng-class={'greenbg':item.classGreenACI,'yellowbg':item.classYellowACI,'redbg':item.classRedACI,'graybg':item.classGrayACI}>
                                    <a style="cursor:pointer;" ng-click="groupLevel.goToACIMeasureReport(item);">{{item.aciScore}}</a>
                                </td>
                                <td ng-hide="true">{{item.existingFromDate}}</td>
                                <td ng-hide="true">{{item.existingToDate}}</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="mt20 text-center" style="padding-top: 5px;"><strong>Individual Reporting</strong></td>
                            </tr>


                            <tr class="graybg" ng-repeat="clinican in groupLevel.clinicianListForGroup">
                                <td>
                                    {{clinican.name}}
                                </td>
                                <td class="nowrap">
                                    {{clinican.tin}}
                                </td>
                                <td class="nowrap">
                                    {{clinican.npi}}
                                </td>
                                <td>
                                    <select class="form-control width100" ng-model="clinican.reportingPeriodId" ng-show="groupLevel.showClinicianColumns"
                                            ng-change="groupLevel.updateToDate(clinican,true);"
                                            ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in groupLevel.reportingPeriodList"></select>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="clinican.fromDate" ng-required="true" input-name="fromDate"
                                                    ng-disabled="clinican.disableFromDateFiled"
                                                    ng-show="groupLevel.showClinicianColumns"
                                                    date-changed="groupLevel.updateToDate(clinican,false);" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="clinican.toDate" ng-required="true" input-name="toDate" ng-show="groupLevel.showClinicianColumns"
                                                    ng-disabled="clinican.disableToDateField"
                                                    date-changed="groupLevel.onToDateChange(clinican)" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td></td>
                                <td></td>
                                <td ng-hide="true">{{clinican.existingFromDate}}</td>
                                <td ng-hide="true">{{clinican.existingToDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-float-wrapper cal-min-height" ng-if="!groupLevel.showGroup">
                    <table class="table table-float" id="">
                        <thead>
                            <tr class="header">
                                <th width="25%">Reporting Entity</th>
                                <th>TIN</th>
                                <th>NPI</th>
                                <th>Reporting Period</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th width="170">IA</th>
                                <th width="170">PI</th>
                                <th ng-hide="true">ExistingFromDate</th>
                                <th ng-hide="true">ExistingToDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="graybg" ng-repeat="item in groupLevel.groupDashBoardData">
                                <td>
                                    {{item.groupName}}
                                </td>
                                <td class="nowrap">
                                    {{item.tin}}
                                </td>
                                <td class="nowrap">
                                    {{item.npi}}
                                </td>
                                <td>
                                    <select class="form-control width100" ng-model="item.reportingPeriodId"
                                            ng-show="groupLevel.showGroupColumns"
                                            ng-change="groupLevel.updateToDate(item,true);"
                                            ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in groupLevel.reportingPeriodList"></select>
                                </td>
                                <td>
                                    <aci-datepicker ng-show="groupLevel.showGroupColumns"
                                                    ng-model="item.fromDate" ng-required="true" input-name="fromDate"
                                                    ng-disabled="item.disableFromDateFiled"
                                                    date-changed="groupLevel.updateToDate(item,false);" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td>
                                    <aci-datepicker ng-show="groupLevel.showGroupColumns"
                                                    ng-model="item.toDate" ng-required="true" input-name="toDate"
                                                    ng-disabled="item.disableToDateField"
                                                    date-changed="groupLevel.onToDateChange(item,false)" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td ng-class={'greenbg':item.classGreen,'yellowbg':item.classYellow,'redbg':item.classRed}>
                                    <a style="cursor:pointer;" ng-if="item.type=='Individual'" ng-click="groupLevel.goToCPIAActivities(item);">{{item.cpiaScore}}</a>
                                </td>
                                <td ng-class={'greenbg':item.classGreenACI,'yellowbg':item.classYellowACI,'redbg':item.classRedACI,'graybg':item.classGrayACI}>
                                    <a style="cursor:pointer;" ng-if="item.type=='Individual'" ng-click="groupLevel.goToACIMeasureReport(item);">{{item.aciScore}}</a>
                                </td>
                                <td ng-hide="true">{{item.existingFromDate}}</td>
                                <td ng-hide="true">{{item.existingToDate}}</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="mt20 text-center" style="padding-top: 5px;"><strong>Individual Reporting</strong></td>
                            </tr>
                            <tr ng-repeat="clinican in groupLevel.clinicianListForGroup">
                                <td>
                                    {{clinican.name}}
                                </td>
                                <td class="nowrap">
                                    {{clinican.tin}}
                                </td>
                                <td class="nowrap">
                                    {{clinican.npi}}
                                </td>
                                <td>
                                    <select class="form-control width100" ng-model="clinican.reportingPeriodId" ng-show="groupLevel.showClinicianColumns"
                                            ng-change="groupLevel.updateToDate(clinican,true);"
                                            ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in groupLevel.reportingPeriodList"></select>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="clinican.fromDate" ng-required="true" input-name="fromDate"
                                                    ng-disabled="clinican.reportingPeriodId > 1 ? false : true"
                                                    ng-show="groupLevel.showClinicianColumns"
                                                    date-changed="groupLevel.updateToDate(clinican,false);" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="clinican.toDate" ng-required="true" input-name="toDate" ng-show="groupLevel.showClinicianColumns"
                                                    ng-disabled="clinican.reportingPeriodId > 2 ? false : true"
                                                    date-changed="groupLevel.onToDateChange(clinican,false)" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td ng-class={'greenbg':clinican.classGreen,'yellowbg':clinican.classYellow,'redbg':clinican.classRed}>
                                    <a ng-show="groupLevel.showClinicianColumns" style="cursor:pointer;" ng-click="groupLevel.goToCPIAActivities(clinican);">{{clinican.cpiaScore}}</a>
                                </td>
                                <td ng-class={'greenbg':clinican.classGreenACI,'yellowbg':clinican.classYellowACI,'redbg':clinican.classRedACI,'graybg':clinican.classGrayACI}>
                                    <a style="cursor:pointer;" ng-click="groupLevel.goToACIMeasureReport(clinican);">{{clinican.aciScore}}</a>
                                </td>
                                <td ng-hide="true">{{clinican.existingFromDate}}</td>
                                <td ng-hide="true">{{clinican.existingToDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>



    </div>


    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-primary btn-xs" ng-click="groupLevel.goToPracticeDashBoard();">
                <i class="fa fa-arrow-left" ng-click="groupLevel.goToPracticeDashBoard();"></i> Back
            </button>
            <button class="btn btn-primary btn-xs mr5" ng-click="groupLevel.print();">Print</button>
        </div>
    </div>
</div>




<div class="container" id="printGroupLevelDashBoardGrid" ng-show="false">
    <div class="content" style="margin-top: 20px;">
        <!--<div class="logo" style="text-align: center;"><img src="../../../../../common/content/images/logo.png" />  </div>-->
        <div>
            <label style="float: left;"><strong>Date - Time: {{groupLevel.currentDate | date : 'short'}} </strong></label>
            <label style="float: right;"><strong>User Name: {{groupLevel.userObject}}</strong></label>
        </div>
        <div style="text-align: center; clear: both;">
            <label><strong>{{ groupLevel.groupsList[0].name}} - {{ groupLevel.groupsList[0].tin}}  </strong> </label>
            <br />
            <label><strong>{{ groupLevel.practiceDetailsPrintObj.name}} </strong></label>
            <br>
            <label>
                <strong>
                    <!--Practice Address-->
                    <span>{{groupLevel.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="groupLevel.practiceDetailsPrintObj.addressline2">{{groupLevel.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="groupLevel.practiceDetailsPrintObj.city">{{groupLevel.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="groupLevel.practiceDetailsPrintObj.state">{{groupLevel.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="groupLevel.practiceDetailsPrintObj.country">{{groupLevel.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="groupLevel.practiceDetailsPrintObj.zip">{{groupLevel.practiceDetailsPrintObj.zip}}</span>
                </strong>
            </label>
        </div>

        <br>
        <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
            <thead>
                <tr>
                    <th>Reporting Entity</th>
                    <th>TIN</th>
                    <th>NPI</th>
                    <th>Reporting Period</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>IA</th>
                    <th>PI</th>
                    <th ng-hide="true">ExistingFromDate</th>
                    <th ng-hide="true">ExistingToDate</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in groupLevel.groupsList">
                    <td>
                        {{item.name}}
                    </td>
                    <td class="nowrap">
                        {{item.tin}}
                    </td>
                    <td class="nowrap">
                        {{item.npi}}
                    </td>
                    <td>
                        <label ng-if="groupLevel.isShowGroup">    {{item.reportingPeriodName}}</label>
                    </td>
                    <td>
                        <label ng-if="groupLevel.isShowGroup">
                            {{item.fromDate}}
                        </label>
                        <!--<aci-datepicker ng-model="item.fromDate" ng-required="true" input-name="fromDate"
                                        ng-disabled="item.disableFromDateFiled"
                                        date-changed="groupLevel.updateToDate(item);" from-submmited="submitted" form-name="reportingForm">
                        </aci-datepicker>-->
                    </td>
                    <td>
                        <label ng-if="groupLevel.isShowGroup">
                            {{item.toDate}}
                        </label>
                        <!--<aci-datepicker ng-model="item.toDate" ng-required="true" input-name="toDate"
                                        ng-disabled="item.disableToDateField"
                                        date-changed="practiceLevel.onToDateChange()" from-submmited="submitted" form-name="reportingForm">
                        </aci-datepicker>-->
                    </td>
                    <td>
                        <label ng-if="groupLevel.isShowGroup">
                            {{item.cpiaScore}}
                        </label>
                    </td>

                    <td>
                        <label ng-if="groupLevel.isShowGroup">    {{item.aciScore}} </label>
                    </td>
                    <td ng-hide="true">{{item.existingFromDate}}</td>
                    <td ng-hide="true">{{item.existingToDate}}</td>
                </tr>
                <tr>
                    <td colspan="8" align="center"><div style="text-align: center"><strong>Individual Reporting</strong></div></td>
                </tr>
                <tr ng-repeat="clinican in groupLevel.clinicianList">
                    <td>
                        {{clinican.name}}
                    </td>
                    <td class="nowrap">
                        {{clinican.tin}}
                    </td>
                    <td class="nowrap">
                        {{clinican.npi}}
                    </td>
                    <td>
                        <label ng-if="!groupLevel.isShowGroup"> {{clinican.reportingPeriodName}} </label>

                    </td>
                    <td>
                        <label ng-if="!groupLevel.isShowGroup">  {{clinican.fromDate}}</label>
                    </td>
                    <td>
                        <label ng-if="!groupLevel.isShowGroup">  {{clinican.toDate}}</label>
                    </td>
                    <td>
                        <label ng-if="!groupLevel.isShowGroup">
                            {{clinican.cpiaScore}}
                        </label>

                    </td>
                    <td>

                        {{clinican.aciScore}}

                    </td>
                    <td ng-hide="true">{{clinican.existingFromDate}}</td>
                    <td ng-hide="true">{{clinican.existingToDate}}</td>
                </tr>
                
            </tbody>
        </table>
        <br>
    </div>
 
</div>