﻿<div class="subCONTAINER panel">
    <div class="col-md-12 marginTOP paddingTOP">
        <div id="tokenMessage" class="tokenMESSAGE"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        localStorage.removeItem('TokenValue');
        localStorage.removeItem('ProductKey');
            $('#tokenMessage').text('Your session expired. You are logged out from RCP..');
        });
</script>