﻿<div class="cpia-selection">
    <div class="panel-heading panel groupLIST form-inline">

        <ng-form class="form-inline" name="reportingForm" novalidate>
            <!--<form class="form-inline" novalidate>-->
            <div class="paddingTOP marginBOTTOM" ng-if="cpiaConfig.data.selectedYear==='2018'">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
                           ng-value="cpiaConfig.enums.cpiaType.simple" ng-model="cpiaConfig.cpiaRadioType"
                           ng-click="cpiaConfig.showActivitiesByType(cpiaConfig.enums.cpiaType.simple)">
                    Simple
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
                           ng-value="cpiaConfig.enums.cpiaType.advanced" ng-model="cpiaConfig.cpiaRadioType"
                           ng-click="cpiaConfig.showActivitiesByType(cpiaConfig.enums.cpiaType.group)">
                    Advanced
                </label>
            </div>

            <!-- </form>-->






            <div class="form-group width150">
                <label class="control-label" style="display:block;">Performance Year</label>

                <select class="form-control" ng-model="cpiaConfig.data.selectedYear" ng-change="cpiaConfig.onYearChange()" required
                        ng-options="option.value as option.name for option in cpiaConfig.availableOptions"></select>
            </div>


            <div class="form-group width150" ng-if="cpiaConfig.cpiaRadioType === cpiaConfig.enums.cpiaType.advanced">
                <label class="control-label" style="display:block;">Reporting Type</label>
                <select class="form-control width120" ng-model="cpiaConfig.cpiaType" ng-change="cpiaConfig.onTypeChange(true)"
                        ng-init="cpiaConfig.cpiaType = cpiaConfig.typeOptions[0].value"
                        ng-options="type.value as type.name for type in cpiaConfig.typeOptions"></select>
            </div>

   
            <div class="form-group width300" ng-if="cpiaConfig.cpiaRadioType === cpiaConfig.enums.cpiaType.advanced && cpiaConfig.cpiaType === cpiaConfig.enums.cpiaType.group">
                <label class="control-label" style="display:block;">Reporting Entity</label>
                <select class="form-control width140" ng-model="cpiaConfig.groupReportingId" ng-change="cpiaConfig.onTypeChange(false)"
                        ng-init="cpiaConfig.groupReportingId = cpiaConfig.groups[0].groupReportingId"
                        data-toggle="tooltip" title="{{cpiaConfig.selectedGroupReportingName}}" ng-options="group.groupReportingId as group.groupReportingName for group in cpiaConfig.groups"></select>
            </div>
            <div class="form-group width300" ng-if="cpiaConfig.cpiaRadioType === cpiaConfig.enums.cpiaType.advanced && cpiaConfig.cpiaType === cpiaConfig.enums.cpiaType.individual">
                <label class="control-label" style="display:block;">Reporting Entity</label>
                <select class="form-control width140" ng-model="cpiaConfig.selectedClinician" ng-change="cpiaConfig.onClinicianDropDownChange(false)"
                        data-toggle="tooltip" title="{{cpiaConfig.selectedClinician.titleName}}" ng-options="clinician.physicianName for clinician in cpiaConfig.clinicians"></select>
            </div>


            <div class="form-group width150">

                <label class="control-label" style="display:block;">Reporting Period</label>
                <select class="form-control width120" ng-model="cpiaConfig.reportingPeriodId"
                        ng-change="cpiaConfig.updateToDateNew(item,true);"
                        ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in cpiaConfig.reportingPeriodList"></select>

            </div>


            <div class="form-group">
                <div class="form-group datepicker date-field width150">
                    <label class="control-label" style="display:block;">From</label>
                    <aci-datepicker ng-model="cpiaConfig.fromDate" id="reportingFromDate" ng-disabled="cpiaConfig.disableFromDateFiled" ng-required="true" input-name="fromDate" form-name="reportingForm"
                                    date-changed="cpiaConfig.onFromDateChange()" from-submmited="submitted"></aci-datepicker>
                </div>
                    <div class="form-group datepicker date-field width150">
                        <label class="control-label" style="display:block;">To</label>
                        <aci-datepicker ng-model="cpiaConfig.toDate" ng-required="true" ng-disabled="cpiaConfig.disableToDateField" input-name="toDate" date-changed="cpiaConfig.onToDateChange()" from-submmited="submitted" form-name="reportingForm">
                        </aci-datepicker>
                    </div>
                </div>
            


            <div class="form-group width150">

                <label class="control-label" style="display:block;">No. of Reporting Days</label>
                <div class="clearfix"></div>
                <input type="text" name="" class="form-control reporting-days" ng-model="cpiaConfig.diffDays" readonly>

            </div>



            <!--   <div class="form-group">
                   <label class="control-label" style="display:block;">IA Reporting Period</label>
                   <button type="button" class="btn btn-primary btn-sm" ng-click="cpiaConfig.setFullCalender()">Full Calendar Year</button>
               </div>
               <div class="form-group datepicker">
                   <label class="control-label" style="display:block;">From</label>
                   <aci-datepicker ng-model="cpiaConfig.fromDate" id="reportingFromDate" ng-required="true" input-name="fromDate" form-name="reportingForm"
                                   date-changed="cpiaConfig.onFromDateChange()" from-submmited="submitted"></aci-datepicker>
               </div>
               <div class="form-group datepicker">
                   <label class="control-label" style="display:block;">To</label>
                   <aci-datepicker ng-model="cpiaConfig.toDate" ng-required="true" input-name="toDate" date-changed="cpiaConfig.onToDateChange()" from-submmited="submitted" form-name="reportingForm">
                   </aci-datepicker>
               </div>
              -->



            <div class="form-group width150 m-b-xs-sm"> 

                <label class="control-label" style="display:block;">Activity</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..."
                           ng-model="cpiaConfig.search" ng-keydown="cpiaConfig.filterOnEnter($event)">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"
                                ng-click="cpiaConfig.filterActivities($event)">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </ng-form>
    </div>
</div>
<!-- /panel-heading -->
<!--<div class="panel-body"> </div>-->
<!-- /panel-body -->
<div class="clearfix"></div>
<div class="panel">
    <div class="table-float-wrapper" style="min-height: 300px;">
        <div class="table-responsive">
            <table class="table table-float" id="cpia-list">
                <thead>
                    <tr class="header">
                        <th class="text-center" width="40">
                            <!--<label class="ckbox">
                                <input type="checkbox" ng-model="cpiaConfig.isCheckAll" ng-change="cpiaConfig.onCheckAll()">
                                <span></span>
                            </label>-->
                        </th>
                        <th class="text-center">Activity ID</th>
                        <th width="350px">Activity Name</th>
                        <th class="activity-description" width="40%">Activity Description</th>
                        <th>Subcategory</th>
                        <th>Activity Weighting</th>
                        <th ng-if="cpiaConfig.data.selectedYear==='2018'">PI Bonus</th>
                        <th>Activity Start Date</th>
                        <th>Activity End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in cpiaConfig.activities
                    | filter: cpiaConfig.query: activityName: activityDescription
                    | orderBy: 'isShortList': true"
                        ng-show="$index < cpiaConfig.activitiesLimit || cpiaConfig.showAll === false">

                        <td class="text-center">
                            <label class="ckbox">
                                <input type="checkbox" ng-model="activity.isEnabled" ng-change="cpiaConfig.onActivityChange(activity)">
                                <span></span>
                            </label>
                        </td>
                        <td class="text-center nowrap">{{activity.activityId}}</td>
                        <td>{{activity.activityName}}</td>
                        <td>
                            <p class="activity-description" title="{{activity.activityDescription}}" ng-click="cpiaConfig.onAcitivityDesc(activity.activityDescription)">
                                {{activity.activityDescription}}
                            </p>
                        </td>
                        <td>{{activity.subCategory}}</td>
                        <td>{{activity.weighting}}</td>
                        <td ng-if="cpiaConfig.data.selectedYear==='2018'">{{activity.aciBonus}}</td>
                        <td class="">
                            <aci-datepicker numbers-only ng-model="activity.activityStartDate"
                                            ng-disabled="activity.isDisabled"
                                            date-changed="cpiaConfig.onActivityDateChange(activity)"></aci-datepicker>
                        </td>
                        <td>
                            <aci-datepicker ng-model="activity.activityDiscontinueDate"
                                            ng-disabled="activity.isDisabled"
                                            date-changed="cpiaConfig.onActivityDateChange(activity)"></aci-datepicker>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" ng-if="cpiaConfig.data.selectedYear==='2018'">
                            <a role="button" class="cursor"
                               ng-class="{'link-disabled':cpiaConfig.disableCompleteButton}"
                               ng-click="cpiaConfig.showAllActivities($event)">{{cpiaConfig.showCompleteListButton}}</a>
                        </td>
                        <!--ng-class="{'link-disabled': cpiaConfig.showAll}"-->
                        <!--ng-disabled="cpiaConfig.disableCompleteButton"-->
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /table-->
    </div>
    <!--/table-float-wrapper-->
    <div class="panel-footer" ng-if="cpiaConfig.data.selectedYear==='2019'" >
        <div class="col-sm-6" ng-if="cpiaConfig.groupReportingId !=0 || cpiaConfig.individualReportingId !=0" >
            <div class="form-inline" ng-if="cpiaConfig.cpiaRadioType === cpiaConfig.enums.cpiaType.advanced">
                <div class="form-group m-b-xs-sm" style="display:flex;">
                    <label class="control-label marginRIGHT">Copy to</label>
                    <div ng-if="cpiaConfig.cpiaType === cpiaConfig.enums.cpiaType.group" class="cpia-dropdown inline-block marginRIGHT width250">
                        <div ng-dropdown-multiselect="" options="cpiaConfig.copyToList"
                             selected-model="cpiaConfig.selectedCopyToList" checkboxes="true" extra-settings="cpiaConfig.settings"></div>
                    </div>
                    <div ng-if="cpiaConfig.cpiaType === cpiaConfig.enums.cpiaType.individual" class="cpia-dropdown inline-block marginRIGHT width250">
                        <div ng-dropdown-multiselect="" options="cpiaConfig.copyToList"
                             selected-model="cpiaConfig.selectedCopyToList" checkboxes="true" extra-settings="cpiaConfig.settings"></div>
                    </div>
                    <div class="inline-block"  >
                        <button class="btn btn-primary" ng-disabled="cpiaConfig.selectedCopyToList.length==0" ng-click="cpiaConfig.copyActivities()">Copy</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-6" style="float:right;">
            <div class="form-group pull-right">
                <button class="btn btn-default" ng-click="cpiaConfig.cancelActivities()">Cancel</button>
                <button class="btn btn-primary" ng-disabled="cpiaConfig.printDisabled" ng-click="cpiaConfig.print()">Print</button>
                <button class="btn btn-primary" ng-disabled="cpiaConfig.data.selectedYear === '2018'" ng-click="cpiaConfig.saveActivities()">Save</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- /panel-footer -->
</div>
</div>
<div ng-show="false">
    <div class="panel cpia-selection" id="printActivitiesGrid">
        <style>
            .container {
                margin: 5px auto;
                border: 2px solid #e7e7e7;
                padding: 5px;
            }
        </style>
        <div class="container">
            <div class="content">
                <div class="logo" style="text-align: center;">
                    <!--<img src="../../../../common/content/images/logo.png" class="print-logo"/>-->
                    <!--<img src="../../../../common/content/images/AMC Export DropDown.png" class="print-logo"/>-->
                </div>
                <div>
                    <label style="float: left;"><strong>Date - Time: </strong>{{cpiaConfig.currentDate | date : 'short'}}</label>
                    <label style="float: right;"><strong>User Name: </strong>{{cpiaConfig.userName}}</label>
                </div>
                <div style="text-align: center; clear: both;" ng-if="cpiaConfig.printObject.name !== ''">
                    <label><strong>{{cpiaConfig.printObject.name}} -</strong></label>
                    <!--<br>-->
                    <label><strong>{{cpiaConfig.printObject.id}}</strong></label>
                </div>
                <div style="text-align: center; clear: both;">
                    <label>{{cpiaConfig.printObject.practiceDetails.name}}</label>
                    <br>
                    <span>{{cpiaConfig.printObject.practiceDetails.addressline1}}</span>
                    <span ng-if="cpiaConfig.printObject.practiceDetails.addressline2">{{cpiaConfig.printObject.practiceDetails.addressline2}}, </span>
                    <span ng-if="cpiaConfig.printObject.practiceDetails.city">{{cpiaConfig.printObject.practiceDetails.city}}, </span>
                    <span ng-if="cpiaConfig.printObject.practiceDetails.state">{{cpiaConfig.printObject.practiceDetails.state}}, </span>
                    <span ng-if="cpiaConfig.printObject.practiceDetails.country">{{cpiaConfig.printObject.practiceDetails.country}}, </span>
                    <span ng-if="cpiaConfig.printObject.practiceDetails.zip">{{cpiaConfig.printObject.practiceDetails.zip}}</span>
                </div>
                <div>
                    <span style="float: left;">
                        <label><strong>IA List</strong></label>
                    </span> <span style="float: right;">
                        <label>
                            <strong>IA Reporting Period:</strong>
                            {{cpiaConfig.printObject.fromDate  | date:'MM/dd/yyyy'}} - {{cpiaConfig.printObject.toDate | date:'MM/dd/yyyy'}}
                        </label>
                    </span>
                </div>
                <br>
                <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#e7e7e7" style="border: solid 1px #dedede; border-collapse: collapse; margin: 15px 0px;">
                    <thead>
                        <tr>
                            <th>Activity ID</th>
                            <th>Activity Name</th>
                            <th>Activity Description</th>
                            <th>Subcategory</th>
                            <th>Activity Weighting</th>
                            <th ng-if="cpiaConfig.data.selectedYear==='2018'">PI Bonus</th>
                            <th>Activity Start Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activity in cpiaConfig.printObject.data">
                            <td>{{activity.activityId}}</td>
                            <td>{{activity.activityName}}</td>
                            <td>{{activity.activityDescription}}</td>
                            <td>{{activity.subCategory}}</td>
                            <td>{{activity.weighting}}</td>
                            <td ng-if="cpiaConfig.data.selectedYear==='2018'">{{activity.aciBonus}}</td>
                            <td>{{activity.activityStartDate | date: 'MM/dd/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AcitivityDescModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-sm-10">
                    <h4 class="modal-title">Activity Description</h4>
                </div>
                <div class="col-sm-2" align="right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">
                {{cpiaConfig.ActivityDescData}}
            </div>
        </div>
    </div>
</div>