﻿<style>
    .date {
        width: 100% !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!--<div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Scheduler Configuration List </h4>
            </div>
            <div class="table-float-wrapper" ng-click="">
                <div class="table-float-wrapper">
                    <div ui-grid="schedulerConfigCtrl.SchedulerGrdView" style="height:250px"
                         ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
                </div>
            </div>
            </div>-->
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Scheduled Export Configuration List </h4>
            </div>
            <!--<div class="table-float-wrapper" ng-click="">
                <div class="table-float-wrapper">
                    <div ui-grid="schedulerConfigCtrl.SchedulerLst" style="height:250px"
                         ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
                </div>
            </div>-->
            <!-- /panel-heading -->
            <div class="table-float-wrapper" style="height:250px; background-color:#e9f8fa">
                <table class="table table-float table-bordered table-success" id="productconfig-list">
                    <thead>
                        <tr class="header">
                            <th class="width150">Start date</th>
                            <th class="width150">End date</th>
                            <th class="width150">Scheduled Time</th>
                            <th>Destination Path</th>
                            <th class="width200">Data Transmission Type </th>
                            <th class="width20">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sch in schedulerConfigCtrl.SchLst">
                            <td ng-hide="true">{{sch.id}}</td>
                            <td ng-click="schedulerConfigCtrl.selectSchl(this)">{{sch.startDate | date:"MM/dd/yyyy"}}</td>
                            <td ng-click="schedulerConfigCtrl.selectSchl(this)">{{sch.stopDate | date:"MM/dd/yyyy"}}</td>
                            <td ng-click="schedulerConfigCtrl.selectSchl(this)">{{sch.scheduledTimeZone.substr(10)}}</td>
                            <td ng-click="schedulerConfigCtrl.selectSchl(this)" style="word-break:break-all">{{sch.destinationPath}}</td>
                            <td ng-click="schedulerConfigCtrl.selectSchl(this)">{{sch.timeTypeName}}</td>
                            <td><button class="btn btn-danger btn-xs btn-close" ng-click="schedulerConfigCtrl.deleteSchl(sch.id)"><i class="fa fa-close"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /table-float-wrapper -->
        </div>
        <!-- /panel -->
    </div>
</div>
<!-- /row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Scheduled Export Configuration</h4>
            </div>
            <!-- /panel-heading -->
            <div class="panel-body" ng-click="schedulerConfigCtrl.chkFileExsit()">
                <fieldset ng-disabled="schedulerConfigCtrl.isUpdateDissable">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-2">
                                <label for="">Start Date </label>
                                <aci-datepicker ng-model="schedulerConfigCtrl.startDate" ng-required="true"></aci-datepicker>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">End Date </label>
                                <aci-datepicker ng-model="schedulerConfigCtrl.stopDate"></aci-datepicker>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">Scheduled Time </label>
                                <uib-timepicker ng-model="schedulerConfigCtrl.scheduledTime" hour-step="1"
                                                show-spinners="false" onchange="griAdminValidateTimeFormat()" onkeydown="griAdminTimeKeyDown(event)" minute-step="1" show-meridian="true" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Destination Path </label>
                                <input type="text" ng-model="schedulerConfigCtrl.destinationPath" class="form-control" placeholder="Network Path will be preferred" />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">Data Transmission Type  </label>
                                <select class="form-control" ng-model="schedulerConfigCtrl.masterTimeTypeId">
                                    <option ng-selected="sch.timeType==schedulerConfigCtrl.masterTimeTypeId?true:false" ng-repeat="sch in schedulerConfigCtrl.masterTimeType" value="{{sch.timeType}}">{{sch.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- /panel-body -->
            <div class="panel-footer">
                <div class="form-group col-md-12 panel-footer-right">
                    <button class="btn btn-default" ng-click="schedulerConfigCtrl.ClearAllFields()">Clear</button>
                    <button class="btn btn-primary" ng-click="schedulerConfigCtrl.saveSchl()" ng-disabled="!schedulerConfigCtrl.masterTimeTypeId || !schedulerConfigCtrl.scheduledTime || !schedulerConfigCtrl.startDate || !schedulerConfigCtrl.stopDate || !schedulerConfigCtrl.destinationPath">Save</button>
                    <!--ng-disabled="griAdmin.disableDropDowns"-->
                </div>
            </div>
            <!-- /panel-footer -->
        </div>
        <!-- /panel -->

    </div>
</div>
<!-- /row -->
