﻿
<!--<div class="mi-content-panel">-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel aci-config">
                <div class="panel-heading">
                    <div class="pull-left">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="">Reporting Entity<span class="text-danger"> *</span></label>
                                <select class="form-control" ng-model="qppExportCtrl.code" ng-change="qppExportCtrl.onTypeChange(qppExportCtrl.code)"
                                        ng-options="opt.code as opt.name for opt  in qppExportCtrl.entities"></select>
                            </div>
                        
                            <div class="form-group">
                                <label for="">Reporting Entity Name<span class="text-danger"> *</span></label>
                                <span id="measureMultiselectGroup" ng-dropdown-multiselect="" options="qppExportCtrl.Listitems"
                                      selected-model="qppExportCtrl.selecteditems" checkboxes="true"
                                      extra-settings="qppExportCtrl.reportingEntitySettings"></span>
                            </div>
                           
                            <div class="form-group">
                                <label for="">Reporting Category<span class="text-danger"> *</span></label>
                                <span id="measureMultiselect" ng-dropdown-multiselect="" options="qppExportCtrl.Categorieslist"
                                      selected-model="qppExportCtrl.selectedCategoryitems" checkboxes="true"
                                      extra-settings="qppExportCtrl.settings"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Performance Year</label>
                                <select class="form-control" ng-model="qppExportCtrl.selectedPerformanceYearId"
                                        ng-options="performanceYear.performanceYear for performanceYear in qppExportCtrl.PerformanceYears"></select>
                            </div>
                            <div class="form-group m-t-sm-sm">
                                <!--<button class="btn btn-primary btn-sm">Export</button>-->
                                <button type="button" class="btn btn-primary" ng-click="qppExportCtrl.Export();">Export</button>

                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /panel-heading -->
                <!--<div class="panel-body"> </div>-->
                <!-- /panel-body -->
                <div class="panel">
                    <div class="table-float-wrapper">
                        <table class="table table-float table-bordered table-success" id="aci-grp-stage2">
                            <thead>
                                <tr class="header">
                                    <th class="text-center">Date/Time</th>
                                    <th class="text-center">Reporting Entity</th>
                                    <th class="text-center">Reporting Entity Name</th>
                                    <th class="text-center">Reporting Category</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in qppExportCtrl.exportresults">
                                    <td>{{item.datetime | date:"MM/dd/yyyy"}}</td>
                                    <td>{{item.reportingEntity}}</td>
                                    <td>{{item.reportingEntityName}}</td>
                                    <td>{{item.reportingCategory}}</td>
                                    <td>{{item.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /table-->
                    </div>
                    <!--/table-float-wrapper-->
                    <div class="panel-footer">
                        <!-- <div class="col-sm-12">
                            <div class="form-group pull-right">
                                <button class="btn btn-default">Cancel</button>
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </div> -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- /panel-footer -->
                </div>


            </div>
        </div>
    </div>
    <!-- /row  -->
<!--</div>-->
<!-- /mi-content-panel -->
