﻿<div class="panel groupLIST">
    <div class="clearfix">

        <div class="panel-heading nopaddingLEFT" ng-if="groupIndividualCPIA.yearValue==='2018'">
            
            <!--<h4 class="panel-title">Group Name - TIN (123-11-1234) CLINICIAN NAME - NPI (123456789)</h4>-->
            <h4 class="panel-title"> {{groupIndividualCPIA.clinicianName}} - ({{groupIndividualCPIA.clinicianNPI}})</h4>
        </div>
        <!-- /panel-heading -->

    </div>


    
        <div class="form-inline">

            <div class="form-group width150" ng-if="groupIndividualCPIA.yearValue==='2019'">
                <label class="control-label" style="display:block;">Performance Year</label>
                <input class="form-control" placeholder="{{groupIndividualCPIA.yearValue}}" readonly>
            </div>




            <div class="form-group width150" ng-if="groupIndividualCPIA.yearValue==='2019'">
                <label class="control-label" style="display:block;">Reporting Type</label>
                <input class="form-control" placeholder="Group" readonly>
            </div>




            <div class="form-group width150" ng-if="groupIndividualCPIA.yearValue==='2019'">
                <label class="control-label" style="display:block;">Reporting Entity</label>
                <input class="form-control" placeholder="{{groupIndividualCPIA.clinicianName}}" readonly>
            </div>



            <div class="form-group width150" ng-if="groupIndividualCPIA.yearValue==='2019'">
                <label class="control-label" style="display:block;">IA Reporting Period</label>
                <input class="form-control" placeholder="Full Calendar Year" readonly>
            </div>

           
            
                <div class="form-group width150">
                    <label for="" style="display:block;">From</label>
                    <input class="form-control"
                           ng-model="groupIndividualCPIA.cpiaReportingPeriod.fromDate" readonly>
                </div>
           
            
                <div class="form-group width150">
                    <label for="" style="display:block;">To</label>
                    <input class="form-control"
                           ng-model="groupIndividualCPIA.cpiaReportingPeriod.toDate" readonly>
                </div>
            
            
                <div class="form-group width150">
                    <label for="" style="display:block;">No. of Reporting Days</label>
                    <input class="form-control"
                           ng-model="groupIndividualCPIA.cpiaReportingPeriod.noOfDays" readonly>
                </div>
            
        </div>
   


</div>

<div class="panel">
    <div class="panel-body nopadding">
        
        <!------/row-------------------->
        <div class="row mt10">
            <div class="col-md-12">
                <div class="table-float-wrapper">
                    <table class="table table-float activities" id="">
                        <thead>
                            <tr class="header">
                                <th ng-if="false" class="nowrap">activityId</th>
                                <th class="nowrap">Activity ID</th>
                                <th>Activity Name</th>
                                <th width="150">Subcategory</th>
                                <th ng-if="groupIndividualCPIA.yearValue==='2018'">PI Bonus</th>
                                <th class="nowrap">Weight</th>
                                <th>Value</th>
                                <th class="width110">Scaling Factor</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="activity in groupIndividualCPIA.cpiaActivities">
                                <td ng-if="false" class="nowrap">{{activity.idValue}}</td>
                                <td class="nowrap">{{activity.activityCode}}</td>
                                <td>{{activity.name}}</td>
                                <td>{{activity.subCategoryName}}</td>
                                <td ng-if="groupIndividualCPIA.yearValue==='2018'">{{activity.bonus}}</td>
                                <td class="nowrap">{{activity.weighting}}</td>
                                <td>{{activity.value}}</td>
                                <td>{{activity.scalingFactor}}</td>
                                <td>{{activity.points}}</td>
                            </tr>
                            <tr>
                                <td colspan="8" style="text-align: right;" class="bg-white">
                                    <strong>Total Activity Points Earned:&nbsp;&nbsp; {{groupIndividualCPIA.totalActivityPointsEarned}} / 40</strong><br>
                                    <strong>MIPS IA Score:&nbsp;&nbsp; {{groupIndividualCPIA.mipsCPIAScore}} / 15</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /table-float-wrapper -->

            </div>
        </div>

        <!----/row------------------>

    </div>
    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-primary btn-xs" ng-click="groupIndividualCPIA.goToDashBoard();">
                <i class="fa fa-arrow-left" ng-click="groupIndividualCPIA.goToDashBoard();"></i> Back
            </button>
            <button class="btn btn-primary btn-xs mr5" ng-click="groupIndividualCPIA.print();">Print</button>
        </div>
    </div>
    <!-- /panel-footer -->
</div>
<!-- /panel -->
    
<div class="container" id="printGroupIndividualCPIADashBoardGrid" ng-show="false">
    <div class="content" style="margin-top: 20px;">
        <!--<div class="logo" style="text-align: center;"> <img src="logo.png" /> </div>-->
        <div>
            <label style="float: left;"><strong>Date - Time: {{groupIndividualCPIA.currentDate | date : 'short'}}</strong></label>
            <label style="float: right;"><strong>User Name: {{groupIndividualCPIA.userObject}}</strong></label>
        </div>
        <div style="text-align: center; clear: both;">
            <label>
                <strong>
                    <!--Clinician Name-NPI-Clinician TIN-->
                    {{groupIndividualCPIA.clinicianName}}-
                    {{groupIndividualCPIA.clinicianNpi }}-
                    {{groupIndividualCPIA.clinicianTIN }}
                </strong>
            </label>
            <br>
            <label><strong>{{ groupIndividualCPIA.practiceDetailsPrintObj.name}}</strong></label>
            <br>
            <label>
                <strong>
                    <!--Practice Address-->
                    <span>{{groupIndividualCPIA.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="groupIndividualCPIA.practiceDetailsPrintObj.addressline2">{{groupIndividualCPIA.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="groupIndividualCPIA.practiceDetailsPrintObj.city">{{groupIndividualCPIA.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="groupIndividualCPIA.practiceDetailsPrintObj.state">{{groupIndividualCPIA.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="groupIndividualCPIA.practiceDetailsPrintObj.country">{{groupIndividualCPIA.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="groupIndividualCPIA.practiceDetailsPrintObj.zip">{{groupIndividualCPIA.practiceDetailsPrintObj.zip}}</span>
                </strong>
            </label>
        </div>
        <div>
            <label style="float: left;"><strong>Reporting Period: {{groupIndividualCPIA.cpiaReportingPeriod.fromDate}} - {{groupIndividualCPIA.cpiaReportingPeriod.toDate}}</strong></label>
        </div>
        <br>
        <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
            <thead>
                <tr>
                    <th>Activity ID</th>
                    <th>Activity Name</th>
                    <th>Subcategory</th>
                    <th ng-if="groupIndividualCPIA.yearValue==='2018'">PI Bonus</th>
                    <th>Weight</th>
                    <th>Value</th>
                    <th>Scaling Factor</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in groupIndividualCPIA.clinicianCPIAActivities">
                    <td>{{activity.activityCode}}</td>
                    <td>{{activity.name}}</td>
                    <td>{{activity.subCategoryName}}</td>
                    <td ng-if="groupIndividualCPIA.yearValue==='2018'">{{activity.bonus}}</td>
                    <td>{{activity.weighting}}</td>
                    <td>{{activity.value}}</td>
                    <td>{{activity.scalingFactor}}</td>
                    <td>{{activity.points}}</td>
                </tr>

            </tbody>
        </table>
        <div style="text-align:right">
            <label><strong>Total Activity Points Earned:   {{groupIndividualCPIA.totalActivityPointsEarned}} / 40</strong></label>
            <br class="clear-both">
            <label><strong>MIPS IA Score:  {{groupIndividualCPIA.mipsCPIAScore}} / 15</strong></label>
        </div>
        <br>
    </div>

</div>