﻿<div class="container" id="printGroupLevelCPIADashBoardGrid">
    <div class="content" style="margin-top: 20px;">
        <!--<div class="logo" style="text-align: center;"> <img src="logo.png" /> </div>-->
        <div>
            <label style="float: left;"><strong>Date - Time: {{groupLevelCPIAPrint.currentDate | date : 'short'}}</strong></label>
            <label style="float: right;"><strong>User Name: {{groupLevelCPIAPrint.userObject}}</strong></label>
        </div>
        <div style="text-align: center; clear: both;">
            <label><strong>{{ groupLevelCPIAPrint.groupName}} - {{ groupLevelCPIAPrint.clinicianNpi}}</strong></label>
            <br>
            <label><strong>{{ groupLevelCPIAPrint.practiceDetailsPrintObj.name}}</strong></label>
            <br>
            <label>
                <strong>
                    <!--Practice Address-->
                    <span>{{groupLevelCPIAPrint.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="groupLevelCPIAPrint.practiceDetailsPrintObj.addressline2">{{groupLevelCPIAPrint.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="groupLevelCPIAPrint.practiceDetailsPrintObj.city">{{groupLevelCPIAPrint.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="groupLevelCPIAPrint.practiceDetailsPrintObj.state">{{groupLevelCPIAPrint.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="groupLevelCPIAPrint.practiceDetailsPrintObj.country">{{groupLevelCPIAPrint.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="groupLevelCPIAPrint.practiceDetailsPrintObj.zip">{{groupLevelCPIAPrint.practiceDetailsPrintObj.zip}}</span>
                </strong>
            </label>
        </div>
        <div>
            <label style="float: left;"><strong>Reporting Period: {{groupLevelCPIAPrint.cpiaReportingPeriod.fromDate}} - {{groupLevelCPIAPrint.cpiaReportingPeriod.toDate}}</strong></label>
        </div>
        <br>
        <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
            <thead>
                <tr>
                    <th>Activity ID</th>
                    <th>Activity Name</th>
                    <th>Subcategory</th>
                    <th ng-if="groupLevelCPIAPrint.yearValue==='2018'">PI Bonus</th>
                    <th>Weight</th>
                    <th>Value</th>
                    <th>Scaling Factor</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in groupLevelCPIAPrint.groupCPIAActivities">
                    <td>{{activity.activityCode}}</td>
                    <td>{{activity.name}}</td>
                    <td>{{activity.subCategoryName}}</td>
                    <td ng-if="groupLevelCPIAPrint.yearValue==='2018'">{{activity.bonus}}</td>
                    <td>{{activity.weighting}}</td>
                    <td>{{activity.value}}</td>
                    <td>{{activity.scalingFactor}}</td>
                    <td>{{activity.points}}</td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:right">
            <label><strong>Total Activity Points Earned:  {{groupLevelCPIAPrint.totalActivityPointsEarned}} / 40</strong></label>
            <br class="clear-both">
            <label><strong>MIPS IA Score:  {{groupLevelCPIAPrint.mipsCPIAScore}} / 15</strong></label>
        </div>
        <br>
    </div>
    <button class="btn btn-primary" id="printGroupLevelCPIAGridButton" ng-hide="true"
            printing-done="groupLevelCPIAPrint.printingDone()" ng-print print-element-id="printGroupLevelCPIADashBoardGrid">
        <i class="fa fa-print"></i> Print
    </button>
</div>