﻿<div class="container" id="printGroupIndividualCPIADashBoardGrid">
    <div class="content" style="margin-top: 20px;">
        <!--<div class="logo" style="text-align: center;"> <img src="logo.png" /> </div>-->
        <div>
            <label style="float: left;"><strong>Date - Time: {{groupIndividualCPIAPrint.currentDate | date : 'short'}}</strong></label>
            <label style="float: right;"><strong>User Name: {{groupIndividualCPIAPrint.userObject}}</strong></label>
        </div>
        <div style="text-align: center; clear: both;">
            <label>
                <strong>
                    <!--Clinician Name-NPI-Clinician TIN-->
                    {{groupIndividualCPIAPrint.clinicianName}}-
                    {{groupIndividualCPIAPrint.clinicianNpi }}-
                    {{groupIndividualCPIAPrint.clinicianTIN }}
                </strong>
            </label>
            <br>
            <label><strong>{{ groupIndividualCPIAPrint.practiceDetailsPrintObj.name}}</strong></label>
            <br>
            <label>
                <strong>
                    <!--Practice Address-->
                    <span>{{groupIndividualCPIAPrint.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="groupIndividualCPIAPrint.practiceDetailsPrintObj.addressline2">{{groupIndividualCPIAPrint.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="groupIndividualCPIAPrint.practiceDetailsPrintObj.city">{{groupIndividualCPIAPrint.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="groupIndividualCPIAPrint.practiceDetailsPrintObj.state">{{groupIndividualCPIAPrint.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="groupIndividualCPIAPrint.practiceDetailsPrintObj.country">{{groupIndividualCPIAPrint.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="groupIndividualCPIAPrint.practiceDetailsPrintObj.zip">{{groupIndividualCPIAPrint.practiceDetailsPrintObj.zip}}</span>
                </strong>
            </label>
        </div>
        <div>
            <label style="float: left;"><strong>Reporting Period: {{groupIndividualCPIAPrint.cpiaReportingPeriod.fromDate}} - {{groupIndividualCPIAPrint.cpiaReportingPeriod.toDate}}</strong></label>
        </div>
        <br>
        <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
            <thead>
                <tr>
                    <th>Activity ID</th>
                    <th>Activity Name</th>
                    <th>Subcategory</th>
                    <th>PI Bonus</th>
                    <th>Weight</th>
                    <th>Value</th>
                    <th>Scaling Factor</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in groupIndividualCPIAPrint.clinicianCPIAActivities">
                    <td>{{activity.activityCode}}</td>
                    <td>{{activity.name}}</td>
                    <td>{{activity.subCategoryName}}</td>
                    <td>{{activity.bonus}}</td>
                    <td>{{activity.weighting}}</td>
                    <td>{{activity.value}}</td>
                    <td>{{activity.scalingFactor}}</td>
                    <td>{{activity.points}}</td>
                </tr>

            </tbody>
        </table>
        <div style="text-align:right">
            <label><strong>Total Activity Points Earned:   {{groupIndividualCPIAPrint.totalActivityPointsEarned}} / 40</strong></label>
            <br class="clear-both">
            <label><strong>MIPS IA Score:  {{groupIndividualCPIAPrint.mipsCPIAScore}} / 15</strong></label>
        </div>
        <br>
    </div>
    <button class="btn btn-primary" id="printIndividualLevelCPIAGridButton" ng-hide="true"
            printing-done="groupIndividualCPIAPrint.printingDone()" ng-print print-element-id="printGroupIndividualCPIADashBoardGrid">
        <i class="fa fa-print"></i> Print
    </button>
</div>