﻿<div class="panel groupLIST">
    <div class="clearfix">
        <div class="panel-heading nopaddingLEFT">

            <!--<h4 class="panel-title">Group Name - TIN (123-11-1234) CLINICIAN NAME - NPI (123456789)</h4>-->
            <h4 class="panel-title" ng-if="individualCPIA.yearValue==='2018'"> {{individualCPIA.clinicianName}} - ({{individualCPIA.clinicianNPI}})</h4>

            <!-- /panel-heading -->


            <div class="form-inline">


                <div class="form-group width150" ng-if="individualCPIA.yearValue==='2019'">
                    <label for="" class="control-label" style="display:block;">Performance Year</label>
                    <input class="form-control" placeholder="{{individualCPIA.yearValue}}" readonly>
                </div>



                <div class="form-group width150" ng-if="individualCPIA.yearValue==='2019'">
                    <label for="" class="control-label" style="display:block;">Reporting Type</label>
                    <input class="form-control" placeholder="Individual" readonly>
                </div>



                <div class="form-group width150" ng-if="individualCPIA.yearValue==='2019'">
                    <label for="" class="control-label" style="display:block;">Reporting Entity</label>
                    <input class="form-control" placeholder="{{individualCPIA.clinicianName}}" readonly>
                </div>


                <div class="form-group width150" ng-if="individualCPIA.yearValue==='2019'">
                    <label for="" class="control-label" style="display:block;" >IA Reporting Period</label>
                    <input class="form-control" placeholder="Full Calendar Year" readonly>
                </div>


                <div class="form-group width150">
                    <label for="" class="control-label" style="display:block;">From</label>
                    <input class="form-control"
                           ng-model="individualCPIA.cpiaReportingPeriod.fromDate" readonly>
                </div>


                <div class="form-group width150">
                    <label for="" class="control-label" style="display:block;">To</label>
                    <input class="form-control"
                           ng-model="individualCPIA.cpiaReportingPeriod.toDate" readonly>
                </div>

                <div class="form-group width150">
                    <label for="" class="control-label" style="display:block;">No. of Reporting Days</label>
                    <input class="form-control"
                           ng-model="individualCPIA.cpiaReportingPeriod.noOfDays" readonly>
                </div>

            </div>

        </div>
    </div>
</div>

    <div class="panel">
        <div class="panel-body nopadding">

            <!------/row-------------------->
            <div class="row mt10">
                <div class="col-md-12">
                    <div class="table-float-wrapper">
                        <table class="table table-float activities" id="">
                            <thead>
                                <tr class="header">
                                    <th ng-if="false">activityId</th>
                                    <th class="nowrap">Activity ID</th>
                                    <th>Activity Name</th>
                                    <th width="150">Subcategory</th>
                                    <th ng-if="individualCPIA.yearValue==='2018'">PI Bonus</th>
                                    <th class="nowrap">Weight</th>
                                    <th>Value</th>
                                    <th class="width110">Scaling Factor</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="activity in individualCPIA.cpiaActivities">
                                    <td ng-if="false" class="nowrap">{{activity.idValue}}</td>
                                    <td class="nowrap">{{activity.activityCode}}</td>
                                    <td>{{activity.name}}</td>
                                    <td>{{activity.subCategoryName}}</td>
                                    <td ng-if="individualCPIA.yearValue==='2018'">{{activity.bonus}}</td>
                                    <td class="nowrap">{{activity.weighting}}</td>
                                    <td>{{activity.value}}</td>
                                    <td>{{activity.scalingFactor}}</td>
                                    <td>{{activity.points}}</td>
                                </tr>
                                <tr>
                                    <td colspan="8" style="text-align: right;" class="bg-white">
                                        <strong>Total Activity Points Earned:&nbsp;&nbsp; {{individualCPIA.totalActivityPointsEarned}} / 40</strong><br>
                                        <strong>MIPS IA Score:&nbsp;&nbsp; {{individualCPIA.mipsCPIAScore}} / 15</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /table-float-wrapper -->

                </div>
            </div>

            <!----/row------------------>

        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-primary btn-xs" ng-click="individualCPIA.goToDashBoard();">
                    <i class="fa fa-arrow-left" ng-click="individualCPIA.goToDashBoard();"></i> Back
                </button>
                <button class="btn btn-primary btn-xs mr5" ng-click="individualCPIA.print();">Print</button>
            </div>
        </div>
        <!-- /panel-footer -->
    </div>
    <!-- /panel -->
    <!--code for print-->

    <div class="container" id="printIndividualLevelCPIADashBoardGrid" ng-show="false">
        <div class="content" style="margin-top: 20px;">
            <!--<div class="logo" style="text-align: center;"> <img src="logo.png" /> </div>-->
            <div>
                <label style="float: left;"><strong>Date - Time: {{individualCPIA.currentDate | date : 'short'}}</strong></label>
                <label style="float: right;"><strong>User Name: {{individualCPIA.userObject}}</strong></label>
            </div>
            <div style="text-align: center; clear: both;">
                <label>
                    <strong>
                        <!--Clinician Name-NPI-Clinician TIN-->
                        {{individualCPIA.clinicianName}}-
                        {{individualCPIA.clinicianNpi }}-
                        {{clinicianLevelService.clinicianTIN }}
                    </strong>
                </label>
                <br>
                <label><strong>{{ individualCPIA.practiceDetailsPrintObj.name}}</strong></label>
                <br>
                <label>
                    <strong>
                        <!--Practice Address-->
                        <span>{{individualCPIA.practiceDetails.addressline1}}</span>
                        <span ng-if="individualCPIA.practiceDetails.addressline2">{{individualCPIA.practiceDetails.addressline2}}, </span>
                        <span ng-if="individualCPIA.practiceDetails.city">{{individualCPIA.practiceDetails.city}}, </span>
                        <span ng-if="individualCPIA.practiceDetails.state">{{individualCPIA.practiceDetails.state}}, </span>
                        <span ng-if="individualCPIA.practiceDetails.country">{{individualCPIA.practiceDetails.country}}, </span>
                        <span ng-if="individualCPIA.practiceDetails.zip">{{individualCPIA.practiceDetails.zip}}</span>
                    </strong>
                </label>
            </div>
            <div>
                <label style="float: left;"><strong>Reporting Period: {{individualCPIA.cpiaReportingPeriod.fromDate}} - {{individualCPIA.cpiaReportingPeriod.toDate}}</strong></label>
            </div>
            <br>
            <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
                <thead>
                    <tr>
                        <th>Activity ID</th>
                        <th>Activity Name</th>
                        <th>Subcategory</th>
                        <th ng-if="individualLevelCPIAPrint.yearValue==='2018'">PI Bonus</th>
                        <th>Weight</th>
                        <th>Value</th>
                        <th>Scaling Factor</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in individualCPIA.cpiaActivities">
                        <td ng-if="false">{{activity.idValue}}</td>
                        <td>{{activity.activityCode}}</td>
                        <td>{{activity.name}}</td>
                        <td>{{activity.subCategoryName}}</td>
                        <td ng-if="individualCPIA.yearValue==='2018'">{{activity.bonus}}</td>
                        <td>{{activity.weighting}}</td>
                        <td>{{activity.value}}</td>
                        <td>{{activity.scalingFactor}}</td>
                        <td>{{activity.points}}</td>
                    </tr>

                </tbody>
            </table>
            <div style="text-align:right">
                <label><strong>Total Activity Points Earned: {{individualCPIA.totalActivityPointsEarned}} / 40</strong></label>
                <br class="clear-both">
                <label><strong>MIPS IA Score: {{individualCPIA.mipsCPIAScore}} / 15</strong></label>
            </div>
            <br>
        </div>
        <!-- <button class="btn btn-primary" id="printIndividualLevelCPIAGridButton" ng-hide="true"
        printing-done="individualLevelCPIAPrint.printingDone()" ng-print print-element-id="printIndividualLevelCPIADashBoardGrid">
        <i class="fa fa-print"></i> Print
        </button>-->
    </div>
