﻿<div class="container" id="printPracticeLevelDashBoardGrid">
    <div class="content" style="margin-top: 20px;">
        <!--<div class="logo" style="text-align: center;"> <img src="../../../../../common/content/images/logo.png" /> </div>-->
        <div>
            <label style="float: left;"><strong>Date - Time: {{practiceLevelPrint.currentDate | date : 'short'}}</strong></label>
            <label style="float: right;"><strong>User Name: {{practiceLevelPrint.userObject}}</strong></label>
        </div>
        <div style="text-align: center; clear: both;">
            <label><strong>{{ practiceLevelPrint.practiceDetailsPrintObj.name}} </strong></label>
            <br>
            <label>
                <strong>
                    <!--Practice Address-->
                    <span>{{practiceLevelPrint.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="practiceLevelPrint.practiceDetailsPrintObj.addressline2">{{practiceLevelPrint.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="practiceLevelPrint.practiceDetailsPrintObj.city">{{practiceLevelPrint.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="practiceLevelPrint.practiceDetailsPrintObj.state">{{practiceLevelPrint.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="practiceLevelPrint.practiceDetailsPrintObj.country">{{practiceLevelPrint.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="practiceLevelPrint.practiceDetailsPrintObj.zip">{{practiceLevelPrint.practiceDetailsPrintObj.zip}}</span>

                </strong>
            </label>
        </div>
       
        <br>
        <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
            <thead>
                <tr>
                    <th>Billing Entity</th>
                    <th>TIN</th>
                    <th>NPI</th>
                    <th>Reporting Period</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>IA</th>
                    <th>PI</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in practiceLevelPrint.printObj">
                    <td>{{item.name}}</td>
                    <td>{{item.tin}}</td>
                    <td class="column-center">{{item.npi}}</td>
                    <td>{{item.reportingPeriodName}}</td>
                    <td>{{item.fromDate}}</td>
                    <td>{{item.toDate}}</td>
                    <td align="center" valign="middle">{{item.cpiaScore}}</td>
                    <td align="center" valign="middle"><div style="text-align: center">{{item.aciScore}}</div></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <button class="btn btn-primary" id="printPraciceLevelGridButton" ng-hide="true"
            printing-done="practiceLevelPrint.printingDone()" ng-print print-element-id="printPracticeLevelDashBoardGrid">
        <i class="fa fa-print"></i> Print
    </button>
</div>

<!--</body>
</html>-->
