﻿<div class="panel panel-heading groupLIST">
    <div class="clearfix">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="panel-title marginTOP paddingTOP">{{practiceLevel.PracticeName}}</h4>
            </div>

            <div class="col-sm-6 nopaddingLEFT header-right-small">
                <div class="form-inline pull-right">
                    <label class="control-label">Performance Year</label>
                    <select class="form-control" ng-model="practiceLevel.selectedPerformanceYearId" ng-change="practiceLevel.onYearChange()"
                            ng-options="performanceYear.performanceYear for performanceYear in practiceLevel.performanceYearList"></select>
                </div>
            </div>
        </div>
       
        <p ng-if="practiceLevel.selectedperformanceyear=='2019'">Disclaimer- *This 2019 MIPS PI measure report is preliminary. A software update will be provided later in 2019 which will add the new scoring logic for MIPS PI performance category.*</p>
        
    </div>
</div>

<div class="panel">
    <!-- /panel-heading -->
    <div class="panel-body nopadding">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-float" id="">
                        <thead>
                            <tr class="header">
                                <th width="20%">Reporting Entity</th>
                                <th width="10%">TIN</th>
                                <th width="10%">NPI</th>
                                <th>Reporting Period</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th width="170">IA</th>
                                <th width="170">PI</th>
                                <th ng-hide="true">type</th>
                                <th ng-hide="true">idValue</th>
                                <th ng-hide="true">clinicianId</th>
                                <th ng-hide="true">CPIAFromDate</th>
                                <th ng-hide="true">CPIAToDate</th>
                                <th ng-hide="true">ExistingFromDate</th>
                                <th ng-hide="true">ExistingToDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in practiceLevel.updatedData">
                                <td>
                                    <a style="cursor:pointer;" ng-click="practiceLevel.goToGroupLevelDashBoard(item);">
                                        {{item.name}}
                                    </a>
                                </td>

                                <td class="nowrap">{{item.tin}}</td>

                                <td class="nowrap">{{item.npi}}</td>

                                <td>
                                    <select class="form-control width120" ng-model="item.reportingPeriodId"
                                            ng-change="practiceLevel.updateToDate(item,true);"
                                            ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in practiceLevel.reportingPeriodList"></select>
                                </td>

                                <td>
                                    <aci-datepicker ng-model="item.fromDate" ng-required="true" input-name="fromDate"
                                                    ng-disabled="item.disableFromDateFiled"
                                                    date-changed="practiceLevel.updateToDate(item,false);" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>

                                <td>
                                    <aci-datepicker ng-model="item.toDate" ng-required="true" input-name="toDate"
                                                    ng-disabled="item.disableToDateField"
                                                    date-changed="practiceLevel.updateToDate(item,false)" from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>

                                <td ng-class={'greenbg':item.classGreen,'yellowbg':item.classYellow,'redbg':item.classRed}>
                                    <a style="cursor:pointer;" ng-click="practiceLevel.goToCPIAActivities(item);">{{item.cpiaScore}}</a>
                                </td>

                                <td ng-class={'greenbg':item.classGreenACI,'yellowbg':item.classYellowACI,'redbg':item.classRedACI,'graybg':item.classGrayACI}>
                                    <a style="cursor:pointer;" ng-disabled="item.disableACIScore" ng-click="practiceLevel.goToACIMeasureReport(item);">{{item.aciScore}}</a>
                                </td>
                                <td ng-hide="true">{{item.type}}</td>
                                <td ng-hide="true">{{item.idValue}}</td>
                                <td ng-hide="true">{{item.clinicianId}}</td>
                                <th ng-hide="true">{{item.CPIAFromDate}}</th>
                                <th ng-hide="true">{{item.CPIAToDate}}</th>
                                <th ng-hide="true">{{item.existingFromDate}}</th>
                                <th ng-hide="true">{{item.existingToDate}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-primary btn-xs mr5" ng-click="practiceLevel.print();">Print</button>
        </div>
    </div>
</div>

<div class="container" id="printPracticeLevelDashBoardGrid"  ng-show="false">
        <div class="content" style="margin-top: 20px;">
            <!--<div class="logo" style="text-align: center;"> <img src="../../../../../common/content/images/logo.png" /> </div>-->
            <div>
                <label style="float: left;"><strong>Date - Time: {{practiceLevel.currentDate | date : 'short'}}</strong></label>
                <label style="float: right;"><strong>User Name: {{practiceLevel.userObject}}</strong></label>
            </div>
            <div style="text-align: center; clear: both;">
                <label><strong>{{ practiceLevel.practiceDetailsPrintObj.name}} </strong></label>
                <br>
                <label>
                    <strong>
                        <!--Practice Address-->
                        <span>{{practiceLevel.practiceDetailsPrintObj.addressline1}}</span>
                        <span ng-if="practiceLevel.practiceDetailsPrintObj.addressline2">{{practiceLevel.practiceDetailsPrintObj.addressline2}}, </span>
                        <span ng-if="practiceLevel.practiceDetailsPrintObj.city">{{practiceLevel.practiceDetailsPrintObj.city}}, </span>
                        <span ng-if="practiceLevel.practiceDetailsPrintObj.state">{{practiceLevel.practiceDetailsPrintObj.state}}, </span>
                        <span ng-if="practiceLevel.practiceDetailsPrintObj.country">{{practiceLevel.practiceDetailsPrintObj.country}}, </span>
                        <span ng-if="practiceLevel.practiceDetailsPrintObj.zip">{{practiceLevel.practiceDetailsPrintObj.zip}}</span>

                    </strong>
                </label>
            </div>

            <br>
            <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
                <thead>
                    <tr>
                        <th>Reporting Entity</th>
                        <th>TIN</th>
                        <th>NPI</th>
                        <th>Reporting Period</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>IA</th>
                        <th>PI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in practiceLevel.printObj">
                        <td style="width:9px">{{item.name}}</td>
                        <td class="nowrap">{{item.tin}}</td>
                        <td class="column-center nowrap">{{item.npi}}</td>
                        <td>{{item.reportingPeriodName}}</td>
                        <td >{{item.fromDate}}</td>
                        <td>{{item.toDate}}</td>
                        <td align="center" valign="middle">{{item.cpiaScore}}</td>
                        <td align="center" valign="middle"><div style="text-align: center">{{item.aciScore}}</div></td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>

    </div>

