﻿<div class="panel panel-heading groupLIST">
    <div class="clearfix">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="panel-title marginTOP paddingTOP">{{clinicianLevel.DashBoardRowObject.name}} - ({{clinicianLevel.DashBoardRowObject.npi}})</h4>
            </div>

            <div class="col-sm-6 nopaddingLEFT header-right-small">
                <div class="form-inline pull-right">
                    <label class="control-label" style="display:block;">Performance Year</label>
                    <input class="form-control" ng-model="clinicianLevel.selectedPerformanceYear" readonly>
                    <!--<select class="form-control" ng-model="clinicianLevel.selectedPerformanceYearId" ng-change="clinicianLevel.onYearChange()"
                            ng-options="performanceYear.performanceYear for performanceYear in clinicianLevel.performanceYearList"></select>-->
                </div>
            </div>
        </div>
        <p ng-if="clinicianLevel.selectedPerformanceYear=='2019'">Disclaimer- *This 2019 MIPS performance dashboard is preliminary. A software update will be provided later in 2019 which will add the new scoring logic for MIPS PI performance category.*</p>
    </div>
</div>


<div class="panel">

    <!-- /panel-heading -->
    <div class="panel-body nopadding">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-float" id="">
                        <thead>
                            <tr class="header">
                                <th width="25%">Reporting Entity</th>
                                <th>TIN</th>
                                <th>NPI</th>
                                <th>Reporting Period</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th width="170">IA</th>
                                <th width="170">PI</th>
                                <th ng-hide="true">ExistingFromDate</th>
                                <th ng-hide="true">ExistingToDate</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="group in clinicianLevel.groupDataOfClinician">
                                <td ng-show="false">{{group.ClinincianName}}</td>
                                <td>{{group.name}}</td>
                                <td ng-hide="true">{{group.groupId}}</td>
                                <td class="nowrap">{{group.groupTIN}}</td>
                                <td class="nowrap">{{group.npi}}</td>
                                <td>
                                    <select class="form-control width100" ng-model="group.reportingPeriodId"
                                            ng-change="clinicianLevel.updateToDate(group,true);"
                                            ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in clinicianLevel.reportingPeriodList"></select>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="group.fromDate" ng-required="true" input-name="fromDate"
                                                    ng-disabled="group.disableFromDateFiled"
                                                    lose-focus="clinicianLevel.updateToDate(group);"
                                                    date-changed="clinicianLevel.updateToDate(group,false);"
                                                    from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="group.toDate" ng-required="true" input-name="toDate"
                                                    ng-disabled="group.disableToDateField"
                                                    date-changed="clinicianLevel.updateToDate(group,false)"
                                                    from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td ng-class={'greenbg':group.classGreen,'yellowbg':group.classYellow,'redbg':group.classRed}>
                                    <a style="cursor:pointer;" ng-click="clinicianLevel.goToCPIAActivities(group);">{{group.cpiaScore}}</a>
                                </td>
                                <td ng-class={'greenbg':group.classGreenACI,'yellowbg':group.classYellowACI,'redbg':group.classRedACI,'graybg':group.classGrayACI}>
                                    <a style="cursor:pointer;" ng-click="clinicianLevel.goToACIMeasureReport(group);">{{group.aciScore}}</a>
                                </td>
                                <td ng-hide="true">{{group.existingFromDate}}</td>
                                <td ng-hide="true">{{group.existingToDate}}</td>
                            </tr>
                            <tr ng-repeat="clinican in clinicianLevel.clinicianData">
                                <td>
                                    {{clinican.name}}
                                </td>
                                <td class="nowrap">
                                    {{clinican.tin}}
                                </td>
                                <td class="nowrap">
                                    {{clinican.npi}}
                                </td>
                                <td>
                                    <select class="form-control width100" ng-model="clinican.reportingPeriodId"
                                            ng-change="clinicianLevel.updateToDate(clinican,true);"
                                            ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in clinicianLevel.reportingPeriodList"></select>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="clinican.fromDate" ng-required="true" input-name="fromDate"
                                                    ng-disabled="clinican.disableFromDateFiled"
                                                    date-changed="clinicianLevel.updateToDate(clinican,false);"
                                                    from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td>
                                    <aci-datepicker ng-model="clinican.toDate" ng-required="true" input-name="toDate"
                                                    ng-disabled="clinican.disableToDateField"
                                                    date-changed="clinicianLevel.updateToDate(clinican,false)"
                                                    from-submmited="submitted" form-name="reportingForm">
                                    </aci-datepicker>
                                </td>
                                <td ng-class={'greenbg':clinican.classGreen,'yellowbg':clinican.classYellow,'redbg':clinican.classRed}>
                                    <a style="cursor:pointer;" ng-click="clinicianLevel.goToCPIAActivities(clinican);">{{clinican.cpiaScore}}</a>
                                </td>
                                <td ng-class={'greenbg':clinican.classGreenACI,'yellowbg':clinican.classYellowACI,'redbg':clinican.classRedACI,'graybg':clinican.classGrayACI}>
                                    <a style="cursor:pointer;" ng-click="clinicianLevel.goToACIMeasureReport(clinican);">{{clinican.aciScore}}</a>
                                </td>
                                <td ng-hide="true">{{clinican.existingFromDate}}</td>
                                <td ng-hide="true">{{clinican.existingToDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /table-float-wrapper -->

            </div>
        </div>

        <!----/row------------------>

    </div>
    <!-- /panel-body -->

    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-primary btn-xs" ng-class="{hide:clinicianLevel.BackBtn==true}" ng-click="clinicianLevel.goToPracticeDashBoard();">
                <i class="fa fa-arrow-left" ng-click="clinicianLevel.goToPracticeDashBoard();"></i> Back
            </button>
            <button class="btn btn-primary btn-xs mr5" ng-click="clinicianLevel.print();">Print</button>
        </div>
    </div>
    <!-- /panel-footer -->

</div>








    <div class="container" id="printclinicianLevelDashBoardGrid" ng-show="false">
        <div class="content" style="margin-top: 20px;">
            <div class="logo" style="text-align: center;">
                <!--<img src="logo.png" />-->
            </div>
            <div>
                <label style="float: left;">
                    <strong>Date - Time: {{clinicianLevel.currentDate | date : 'short'}}</strong>
                </label>
                <label style="float: right;">
                    <strong>User Name: {{ clinicianLevel.userObject}}</strong>
                </label>
            </div>
            <div style="text-align: center; clear: both;">
                <label>
                    <strong>
                        <!--Clinician Name-NPI-->
                        {{ clinicianLevel.clinicianName}}- {{clinicianLevel.clinicianNpi}}
                    </strong>
                </label>
                <br>
                <label>
                    <strong>
                        <!--Practice Name-->
                        {{ clinicianLevel.practiceDetailsPrintObj.name}}
                    </strong>
                </label>
                <br>
                <label>
                    <strong>
                        <!--Practice Address-->
                        <span>{{clinicianLevel.practiceDetailsPrintObj.addressline1}}</span>
                        <span ng-if="clinicianLevel.practiceDetailsPrintObj.addressline2">{{clinicianLevel.practiceDetailsPrintObj.addressline2}}, </span>
                        <span ng-if="clinicianLevel.practiceDetailsPrintObj.city">{{clinicianLevel.practiceDetailsPrintObj.city}}, </span>
                        <span ng-if="clinicianLevel.practiceDetailsPrintObj.state">{{clinicianLevel.practiceDetailsPrintObj.state}}, </span>
                        <span ng-if="clinicianLevel.practiceDetailsPrintObj.country">{{clinicianLevel.practiceDetailsPrintObj.country}}, </span>
                        <span ng-if="clinicianLevel.practiceDetailsPrintObj.zip">{{clinicianLevel.practiceDetailsPrintObj.zip}}</span>
                    </strong>
                </label>
            </div>

            <br>
            <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
                <thead>
                    <tr>
                        <th>Reporting Entity</th>
                        <th>TIN</th>
                        <th>NPI</th>
                        <th>Reporting Period</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>IA</th>
                        <th>PI</th>
                        <!--<th ng-hide="true">ExistingFromDate</th>
                        <th ng-hide="true">ExistingToDate</th>-->
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="group in  clinicianLevel.groupObj">
                        <td>{{group.name}}</td>
                        <td class="nowrap">{{group.groupTIN}}</td>
                        <td class="nowrap">{{group.npi}}</td>
                        <td>{{group.reportingPeriodName}}</td>
                        <td>{{group.fromDate}}</td>
                        <td>{{group.toDate}}</td>
                        <td>
                            <a style="cursor:pointer;" ng-click="clinicianLevel.goToCPIAActivities(item);">{{group.cpiaScore}}</a>
                        </td>
                        <td>
                            <a style="cursor:pointer;" ng-click="clinicianLevel.goToACIMeasureReport(item);">{{group.aciScore}}</a>
                        </td>
                        <!--<td ng-hide="true">{{group.existingFromDate}}</td>
                        <td ng-hide="true">{{group.existingToDate}}</td>-->
                    </tr>
                    <tr ng-repeat="clinician in clinicianLevel.clinicianObj">
                        <td>
                            {{clinician.name}}
                        </td>
                        <td class="nowrap">
                            {{clinician.tin}}
                        </td>
                        <td class="nowrap">
                            {{clinician.npi}}
                        </td>

                        <td>{{clinician.reportingPeriodName}}</td>

                        <td>
                            {{clinician.fromDate}}
                        </td>
                        <td>
                            {{clinician.toDate}}
                        </td>
                        <td>
                            <a style="cursor:pointer;">{{clinician.cpiaScore}}</a>
                        </td>
                        <td>
                            <a style="cursor:pointer;">{{clinician.aciScore}}</a>
                        </td>
                        <!--<td ng-hide="true">{{clinician.existingFromDate}}</td>
                        <td ng-hide="true">{{clinician.existingToDate}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
