﻿<div class="container" id="printclinicianLevelDashBoardGrid">
    <div class="content" style="margin-top: 20px;">
        <div class="logo" style="text-align: center;">
            <!--<img src="logo.png" />-->
        </div>
        <div>
            <label style="float: left;">
                <strong>Date - Time: {{clinicianLevelPrint.currentDate | date : 'short'}}</strong>
            </label>
            <label style="float: right;">
                <strong>User Name: {{ clinicianLevelPrint.userObject}}</strong>
            </label>
        </div>
        <div style="text-align: center; clear: both;">
            <label>
                <strong>
                    <!--Clinician Name-NPI-->
                    {{ clinicianLevelPrint.clinicianName}}- {{clinicianLevelPrint.clinicianNpi}}
                </strong>
            </label>
            <br>
            <label>
                <strong>
                    <!--Practice Name-->
                    {{ clinicianLevelPrint.practiceDetailsPrintObj.name}}
                </strong>
            </label>
            <br>
            <label>
                <strong>
                    <!--Practice Address-->
                    <span>{{clinicianLevelPrint.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="clinicianLevelPrint.practiceDetailsPrintObj.addressline2">{{clinicianLevelPrint.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="clinicianLevelPrint.practiceDetailsPrintObj.city">{{clinicianLevelPrint.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="clinicianLevelPrint.practiceDetailsPrintObj.state">{{clinicianLevelPrint.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="clinicianLevelPrint.practiceDetailsPrintObj.country">{{clinicianLevelPrint.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="clinicianLevelPrint.practiceDetailsPrintObj.zip">{{clinicianLevelPrint.practiceDetailsPrintObj.zip}}</span>
                </strong>
            </label>
        </div>
        
        <br>
        <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="aci-group">
            <thead>
                <tr>
                    <th>Billing Entity</th>
                    <th>TIN</th>
                    <th>NPI</th>
                    <th>Reporting Period</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>IA</th>
                    <th>PI</th>
                    <th ng-hide="true" aria-hidden="true">ExistingFromDate</th>
                    <th ng-hide="true" aria-hidden="true">ExistingToDate</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="group in  clinicianLevelPrint.groupObj">
                    <td>{{group.name}}</td>
                    <td>{{group.groupTIN}}</td>
                    <td>{{group.npi}}</td>
                    <td>{{group.reportingPeriodName}}</td>
                    <td>{{group.fromDate}}</td>
                    <td>{{group.toDate}}</td>
                    <td>
                        <a style="cursor:pointer;" ng-click="clinicianLevel.goToCPIAActivities(item);">{{group.cpiaScore}}</a>
                    </td>
                    <td>
                        <a style="cursor:pointer;" ng-click="clinicianLevel.goToACIMeasureReport(item);">{{group.aciScore}}</a>
                    </td>
                </tr>
                <tr ng-repeat="clinician in clinicianLevelPrint.clinicianObj">
                    <td>
                        {{clinician.name}}
                    </td>
                    <td>
                        {{clinician.tin}}
                    </td>
                    <td>
                        {{clinician.npi}}
                    </td>

                    <td>{{clinician.reportingPeriodName}}</td>

                    <td>
                        {{clinician.fromDate}}
                    </td>
                    <td>
                        {{clinician.toDate}}
                    </td>
                    <td>
                        <a style="cursor:pointer;">{{clinician.cpiaScore}}</a>
                    </td>
                    <td>
                        <a style="cursor:pointer;">{{clinician.aciScore}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" id="printClinicianLevelGridButton" ng-hide="true"
            printing-done="clinicianLevelPrint.printingDone()" ng-print print-element-id="printclinicianLevelDashBoardGrid">
        <i class="fa fa-print"></i> Print
    </button>
</div>

