﻿<nav class="navbar horizontal-menu navbar-fixed-top" ng-if="!$root.print">
    <div class="navbar-inner">
        <!-- Navbar Brand -->
        <div class="navbar-brand">
            <a href="http://eyecareleaders.com/products/analytics/" target="blank" class="logo">
                <img src="../../../../common/content/images/logo@2x.png" width="40" alt="" />

            </a>
        </div>
        <!-- Mobile Toggles Links -->
        <div class="nav navbar-mobile">
            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle">
                <a (click)="">
                    <i class="fa-search"></i>
                </a>
                <a href="#" data-toggle="mobile-menu-horizontal">
                    <i class="icon-bars"></i>
                </a>
            </div>
        </div>
        <div class="navbar-mobile-clear"></div>
        <!-- main menu -->
        <ul class="navbar-nav">
            <li>
                <img ng-src={{dhPage.practiceLogoPath}} />
                <!--<a href="#" data-toggle="sidebar" class="menuICON">
                    <i class="icon-bars"></i>
                </a>-->
            </li>
            <li>
                <h1 ng-bind="newheaderName"></h1>
                
            </li>

        </ul>
        <!-- notifications and other links -->
        <ul class="nav nav-userinfo navbar-right">

            {{dhPage.clockTimer}}
            <li class="user-profile">
                Version: 1.2.04
            </li>
            <li class="user-profile">
                <a>
                    Welcome,
                    <span>
                        <b><span class="top-username" ng-bind="dhPage.username"></span></b>
                    </span>
                </a>
            </li>
            <!--<li class="dropdown setting">
                <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="ti-settings"></i>
                </a>
                <ul class="dropdown-menu settingNAV">
                    <li><button ui-sref="ACIConfig">ACI Configurations</button></li>
                    <li><button ui-sref="ACIConfig">CPIA Configurations</button></li>
                    <li><button ui-sref="ACIConfig">Practice Information</button></li>
                </ul>
            </li>-->
            <li>
                <a style="cursor:pointer" ui-sref="logout">
                    <i class="ti-power-off"></i>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</nav>



<div class="page-container">
    <div class="sidebar-menu toggle-others fixed collapsed">
        <div class="sidebar-menu-inner">
            <ul id="main-menu" class="main-menu">
                <li class="active ">
                    <a class="cursor" (click)="">
                        <i class="fa fa-dashboard"></i>
                        <span class="title">DASHBOARD</span>
                    </a>
                    <div class="submenu submenu-first">
                        <ul>
                            <li>
                                <!--<a class="cursor">
                                    <span class="title"></span>
                                </a>-->
                            </li>
                            <li>
                                <a class="cursor" ui-sref="practiceLevelDashBoard">
                                    <span class="title">MIPS Performance Dashboard</span>
                                </a>
                            </li>
                            <!--<li>
                                <a class="cursor" ui-sref="qualitymeasureDashBoardNav">
                                    <span class="title">Quality Measure Dashboard</span>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ti-bar-chart"></i>
                        <span class="title">MU Measures</span>
                    </a>
                    <div class="submenu">
                        <ul>
                            <li>
                                <a class="cursor" ui-sref="muMeasureReport">
                                    <span class="title">MU Measure Report</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ti-settings"></i>
                        <span class="title"></span>
                    </a>
                    <div class="submenu addon">
                        <ul>
                            <li>
                                <!--<button ui-sref="qualityMeasureConfig" class="cursor">
                                    <span class="title"></span>
                                </button>-->
                            </li>
                            <li>
                                <button ui-sref="practiceInformation" class="cursor">
                                    <span class="title">Practice Information</span>
                                </button>
                            </li>
                            <!--<li>
                                <button ui-sref="qualityMeasureConfig" class="cursor">
                                    <span class="title">Quality Measure Configuration</span>
                                </button>
                            </li>-->
                            <li>
                                <button ui-sref="ACIConfig" class="cursor">
                                    <span class="title">PI Configurations</span>
                                </button>
                            </li>
                            <li>
                                <button ui-sref="CPIAConfig" class="cursor">
                                    <span class="title">IA Configurations</span>
                                </button>
                            </li>
                            <!--<li>
                                <button ui-sref="costBonusConfiguration" class="cursor">
                                    <span class="title">Cost Bonus Configurations</span>
                                </button>
                            </li>-->
                            
                        </ul>
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ti-control-shuffle"></i>
                        <span class="title">GRI Dashboard</span>
                    </a>
                    <div class="submenu">
                        <ul>
                            <li>
                                <a class="cursor" ui-sref="GriUser">
                                    <span class="title">GRI Dashboard</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ti-server"></i>
                        <span class="title">Data Export</span>
                    </a>
                    <div class="submenu">
                        <ul>
                            <li>
                                <a class="cursor" ui-sref="RealTimeExport">
                                    <span class="title">Data Export</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>               
                <!--<li>
                    <a>
                        <i class="ti-share"></i>
                        <span class="title">QPP Submission Export</span>
                    </a>
                    <div class="submenu">
                        <ul>
                            <li>
                                <button ui-sref="qppExport" class="cursor">
                                    <span class="title">QPP Submission Export</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>-->
                <!--<li>
                    <a>
                        <i class="ti-settings"></i>
                        <span class="title"></span>
                    </a>
                    <div class="submenu addon">
                        <ul>
                            <li>
                                <button ui-sref="qualityMeasureConfig" class="cursor">
                                    <span class="title"></span>
                                </button>
                            </li>
                            <li>
                                <button ui-sref="practiceInformation" class="cursor">
                                    <span class="title">Practice Information</span>
                                </button>
                            </li>
                            <li>
                                <button ui-sref="qualityMeasureConfig" class="cursor">
                                    <span class="title">Quality Measure Configuration</span>
                                </button>
                            </li>
                            <li>
                                <button ui-sref="ACIConfig" class="cursor">
                                    <span class="title">ACI Configurations</span>
                                </button>
                            </li>
                            <li>
                                <button ui-sref="CPIAConfig" class="cursor">
                                    <span class="title">CPIA Configurations</span>
                                </button>
                            </li>
                            <li>
                                <button ui-sref="costBonusConfiguration" class="cursor">
                                    <span class="title">Cost Bonus Configurations</span>
                                </button>
                            </li>                            
                        </ul>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
    <!-- ng-class="{disabledbutton: dhPage.qppExport==false}" ng-disabled="!dhPage.qppExport"-->

    <div class="mainCONTAINER">

        <div ui-view></div>

    </div>
</div>



<div class="aci-loading " aci-loader>
    <!--<img src="common/content/images/loading.gif" aci-loader/>-->
</div>

<!-- Modal popup -->
<script type="text/ng-template" id="helpModal.html">
    <div class="modal-header">
        <h3 class="modal-title">RCP </h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tr>
                <th>Build Version:</th>
                <td>{{buildVersion}}</td>
            </tr>
            <tr>
                <th>Build Number:</th>
                <td>{{buildNumber}}</td>
            </tr>
            <tr>
                <th>Updated Date:</th>
                <td>{{buildDate}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>
<script>
    
</script>
<style>
    .modalTop .modal-dialog {
        top: 35% !important;
    }

    .timer {
        margin: 25px auto 0px auto;
        position: absolute;
        left: 56%;
    }

    .emergencyVersion {
        width: 171px;
        margin: 17px auto 0px auto;
        position: absolute;
        right: 100%;
        margin-right: 12px;
    }

    .emergencyColor {
        color: red;
    }
</style>