body, h1, h2, h3, h4, h5, h6 {
     font-family: 'Roboto', Open Sans, Arial, sans-serif;
}
 .navbar.horizontal-menu.navbar-minimal .navbar-inner .navbar-brand {
     background: #F39529;
}
 .navbar.horizontal-menu {
     height: 56px;
}
 .navbar.horizontal-menu .navbar-inner .navbar-brand {
     background: #F39529/*#259DAB*/;
     padding: 0 9px;
     margin: 0;
     float: left;
     height: 57px;
     display: table;
}
 .sidebar-menu {
     background: #F39529/*#259DAB*/;
}
 .sidebar-menu .main-menu {
     padding-left: 0px;
     padding-right: 0px;
     margin-top: 0px;
     margin-bottom: 20px;
     list-style: none;
}
 .sidebar-menu .main-menu > li{
     padding-left: 0px;
}
 .sidebar-menu.collapsed .main-menu > li {
     padding-left: 0;
}

 .sidebar-menu .main-menu a > i {
     font-size:16px;
}
 .sidebar-menu .main-menu li.has-sub > a:before {
     color:#fff;
}
 .sidebar-menu .main-menu a > span {
     font-size: 11px;
     font-weight: 500;
     text-transform: uppercase;
     vertical-align: text-top;
}
 .sidebar-menu .main-menu ul li a {
     padding: 10px 5px 10px 50px;
}
 .sidebar-menu.collapsed .main-menu > li .submenu li a, .sidebar-menu.collapsed .main-menu > li .submenu li button{
     padding: 5px 5px 0px 5px;
     border-bottom: 0px !important;
         background: none;
    border: 0px;
    color: #fff; cursor:pointer;
}
.sidebar-menu.collapsed .main-menu > li .submenu li:first-child, 
.sidebar-menu.collapsed .main-menu > li .submenu li:first-child a > span,
.sidebar-menu.collapsed .main-menu > li .submenu li:first-child button > span{ font-size: 11px; font-weight: 600; text-transform: uppercase;}
.sidebar-menu.collapsed .main-menu > li .submenu li:first-child a, .sidebar-menu.collapsed .main-menu > li .submenu li:first-child button{ padding: 5px;}
.sidebar-menu.collapsed .main-menu > li .submenu li:last-child a, .sidebar-menu.collapsed .main-menu > li .submenu li:last-child button{
     border-bottom: 0px !important;
}
.collapsed .main-menu > li.expanded .submenu-first ul li:first-child { display: block !important;}
.fixed .main-menu li.active a:before { display: none !important;}

 .sidebar-menu .main-menu ul a > span, .sidebar-menu .main-menu ul button > span { 
     font-size: /*14px*/12px;
     /*font-weight: 300;*/
     text-transform: none;
     font-weight: bold;
}


 @media screen and (min-width: 768px) {
     .navbar.horizontal-menu .navbar-inner .navbar-nav > li {
         line-height: 55px; padding:0 0 0 10px;
    }
    .navbar.horizontal-menu .navbar-inner .navbar-nav > li img{
        width:150px; height:45px;
    }
    .navbar.horizontal-menu .navbar-inner .navbar-nav > li h1{ font-family: Open Sans, Arial, sans-serif; font-size: 15px; text-transform: capitalize; color:rgb(36, 51, 114); font-weight: bold;}
     .navbar.horizontal-menu .navbar-inner .navbar-nav > li > a {
         padding: 0 15px;
         line-height: 55px;
    }
     .sidebar-menu.collapsed .main-menu > li.active, .sidebar-menu.collapsed .main-menu > li li.active {
         background-color: transparent;
    }
     .sidebar-menu .main-menu > li.active {
        /* background: url(../images/sidebar-active.png) -2px 7px no-repeat;*/
    }
     .sidebar-menu.collapsed .main-menu > li.active {
         /*background: url(../images/sidebar-active.png) -2px 7px no-repeat;*/
    }
     /*.navbar-nav li {
         display: none;
    }
     .navbar-nav li:first-child {
         display: block;
    }*/
    
     .sidebar-menu.collapsed .main-menu > li > ul:after {
         right: 100%;
         top: 50%;
         border: solid transparent;
         content: " ";
         height: 0;
         width: 0;
         position: absolute;
         pointer-events: none;
         border-color: rgba(243, 149, 41, 0);
         border-right-color: #F39529;
         border-width: 10px;
         margin-top: -10px;
         z-index: 88;
    }
    
     .sidebar-menu.collapsed .main-menu > li > ul > li > a {
         padding:5px;
         padding-left: 20px;
         border-bottom:none;
        
    }
}
 .sidebar-menu .main-menu > li.expanded ul li:first-child {
     display: none;
}
 @media screen and (max-width: 768px) {
     .navbar-nav li {
         display: block; text-transform: uppercase;
    }
     .navbar-nav li:first-child {
         display: none;
    }
     .navbar.horizontal-menu {
         background: #F39529;
         color: #fff;
        
    }
     .navbar.horizontal-menu .navbar-inner .navbar-brand {
         background: #F39529;
         margin-top: -19px;
    }
     .navbar.horizontal-menu .navbar-inner > .nav.navbar-mobile a i {
         color: #fff 
    }
     .navbar.horizontal-menu .navbar-inner .navbar-nav {
         background: #F39529;
         margin-top: 0; float: none;
    }
     .navbar.horizontal-menu .navbar-inner .navbar-nav a {
         color: #fff;
         text-decoration: none;
         display: block;
         padding: 13px 5px;
         border-top: 1px solid #fff;
         border-bottom:0;
    }
     .navbar.horizontal-menu .navbar-inner .navbar-nav li.has-sub > a:before {
         color:#fff;
    }
    .header-filters .btn-group .dropdown {margin-top:5px;}
    .tabs-container ul li {margin-top: 5px;}
    .tabs-container ul li:nth-child(1) {margin-top: 0px;}
    .col-2 .subSECTION .sublist .dropdown .ui-dropdown{width: 100%!important;}
    .resp-btn{width:100%}
   
   
    .col-3 .selectBOX.slate select{height: 30px;}
    .col-3 .selectBOX.slate{height: 30px;}

}
.ui-multiselect, .ui-multiselect:not(.ui-state-disabled):hover{ color: #7b7a7a !important;}

 .panel-chartfilter {
     padding: 0;
     margin: 0;
}
 .panel-chartfilter {
     padding: 0;
     margin: 0;
}
 .panel-chartfilter .btn{
     padding: 0;
     margin: 0;
     display: inline-block;
     height: 5px;
     background-color: #f00;
     cursor: pointer;
}
 .btn-group .btn-group:nth-child(1){
     width: 25%;
}
 .btn-group .btn-group:nth-child(2){
     width: 15%;
}
 .btn-group .btn-group:nth-child(3){
     width: 60%;
}
 .btn-group .btn-group:nth-child(1) .btn{
     background-color: #F32200;
}
 .btn-group .btn-group:nth-child(2) .btn{
     background-color: #F5C419;
}
 .btn-group .btn-group:nth-child(3) .btn{
     background-color: #2DB816;
}
/* Header Filters */
 .header-filters {
     background: #f8f8f8;
    /*margin: -20px;
    */
     margin:0px 0 10px 0;
     padding: 10px 15px; background: #fff;
    border: 1px solid rgba(200, 200, 200, 0.7);
    
}
 @media screen and (max-width: 768px) {
     
     .resp-nopadding{
        padding: 0px;
    }
    .resp-paddingTOP{
        padding-top: 15px;
    }
     .header-filters-block {
         display: block !important;
    }
     .header-filters-hide {
         display: hide !important;
    }
     .header-filters {
         margin: 0;
         display: none;
    }
     .mainCONTAINER{
         display: block;
         padding: 0 !important;
    }
     .sectionBOX {
         padding: 15px 0 32px 0;
    }
     .header-filters {
             margin: 0px 5px;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0px 8px 10px #afaaaa;
    }
     .header-filters .styled-select {
         width: 100%;
    }
     .header-filters .styled-select select {
         width: 100% 
    }
     .header-filters .btn-group{
         width: 100%;
         display: block; margin-bottom: 5px;
    }
     .header-filters .btn-group .dropdown{
         width: 100%;
         display: block;
         padding-right: 0; margin-top: 5px;
    }
     .header-filters .btn-group .dropdown button{
         width: 100%;
         display: block;
         text-align: left 
    }
     .header-filters .btn-group .dropdown button .dropdownARROW{
         text-align: right;
         display: block;
         float: right;
    }
     .header-filters .btn-group .dropdown .dropdown-menu{
         width: 100%;
    }
    .header-filters .ui-dropdown{ width:100% !important;}
     .tabs-container ul {
         width: 100%;
    }
     .tabs-container ul li {
         display: block;
         width: 100%; margin-top: 5px;
    }
     .header-filters .pull-right {
         float: none !important;
    }
     .header-filters .selectBOX.slate {
         width: 100% 
    }
     .header-filters .dateBOX .mat-form-field {
         display: block;
    }
     .header-filters .dateBOX .mat-form-field-infix {
         max-width: 100% !important;
    }
     .header-filters .dateBOX .mat-input-suffix {
         text-align: right 
    }
    .subSECTION p-dropdown, .subSECTION p-multiselect {
        height: 26px;
    }

    .dataViewPanel{ margin-top: 15px;}



}
.subSECTION .sublist .btn {
    padding: 5px 6px;
}


.secondlevel .subonPADDING:nth-child(2), .secondlevel .subonPADDING:nth-child(4), .secondlevel .subonPADDING:nth-child(6),
.secondlevel .subonPADDING:nth-child(8), .secondlevel .subonPADDING:nth-child(10), .secondlevel .subonPADDING:nth-child(12),
.secondlevel .subonPADDING:nth-child(14), .secondlevel .subonPADDING:nth-child(16), .secondlevel .subonPADDING:nth-child(18),
.secondlevel .subonPADDING:nth-child(20), .secondlevel .subonPADDING:nth-child(22), .secondlevel .subonPADDING:nth-child(24),
.secondlevel .subonPADDING:nth-child(26), .secondlevel .subonPADDING:nth-child(28), .secondlevel .subonPADDING:nth-child(30),
.secondlevel .subonPADDING:nth-child(32), .secondlevel .subonPADDING:nth-child(34), .secondlevel .subonPADDING:nth-child(36),
.secondlevel .subonPADDING:nth-child(38), .secondlevel .subonPADDING:nth-child(40), .secondlevel .subonPADDING:nth-child(42),
.secondlevel .subonPADDING:nth-child(44), .secondlevel .subonPADDING:nth-child(46), .secondlevel .subonPADDING:nth-child(48),
.secondlevel .subonPADDING:nth-child(50), .secondlevel .subonPADDING:nth-child(52), .secondlevel .subonPADDING:nth-child(54),
.secondlevel .subonPADDING:nth-child(56), .secondlevel .subonPADDING:nth-child(58), .secondlevel .subonPADDING:nth-child(60),
.secondlevel .subonPADDING:nth-child(62), .secondlevel .subonPADDING:nth-child(64), .secondlevel .subonPADDING:nth-child(66)
{ padding:0px;}

.secondlevel .subonPADDING:nth-child(2) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(4) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(6) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(8) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(10) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(12) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(14) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(16) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(18) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(20) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(22) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(24) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(26) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(28) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(30) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(32) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(34) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(36) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(38) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(40) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(42) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(44) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(46) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(48) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(50) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(52) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(54) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(56) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(58) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(60) .GraphViewChanges,
.secondlevel .subonPADDING:nth-child(62) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(64) .GraphViewChanges, .secondlevel .subonPADDING:nth-child(66) .GraphViewChanges
{ width: 100%!important; margin: 0px!important;}
	






@media (min-width:1024px){
.addonPADDING:nth-child(2), .addonPADDING:nth-child(5), .addonPADDING:nth-child(8),
.addonPADDING:nth-child(11), .addonPADDING:nth-child(14), .addonPADDING:nth-child(17),
.addonPADDING:nth-child(20), .addonPADDING:nth-child(23), .addonPADDING:nth-child(26),
.addonPADDING:nth-child(29), .addonPADDING:nth-child(32), .addonPADDING:nth-child(35),
.addonPADDING:nth-child(38), .addonPADDING:nth-child(41), .addonPADDING:nth-child(44),
.addonPADDING:nth-child(47), .addonPADDING:nth-child(50), .addonPADDING:nth-child(53),
.addonPADDING:nth-child(56), .addonPADDING:nth-child(59), .addonPADDING:nth-child(62),
.addonPADDING:nth-child(65), .addonPADDING:nth-child(68), .addonPADDING:nth-child(71),
.addonPADDING:nth-child(74), .addonPADDING:nth-child(77), .addonPADDING:nth-child(80),
.addonPADDING:nth-child(83), .addonPADDING:nth-child(86), .addonPADDING:nth-child(89),
.addonPADDING:nth-child(92), .addonPADDING:nth-child(95), .addonPADDING:nth-child(99)
{ padding:0px;}

.addonPADDING:nth-child(2) .GraphViewChanges, .addonPADDING:nth-child(5) .GraphViewChanges, .addonPADDING:nth-child(8) .GraphViewChanges,
.addonPADDING:nth-child(11) .GraphViewChanges, .addonPADDING:nth-child(14) .GraphViewChanges, .addonPADDING:nth-child(17) .GraphViewChanges,
.addonPADDING:nth-child(20) .GraphViewChanges, .addonPADDING:nth-child(23) .GraphViewChanges, .addonPADDING:nth-child(26) .GraphViewChanges,
.addonPADDING:nth-child(29) .GraphViewChanges, .addonPADDING:nth-child(32) .GraphViewChanges, .addonPADDING:nth-child(35) .GraphViewChanges,
.addonPADDING:nth-child(38) .GraphViewChanges, .addonPADDING:nth-child(41) .GraphViewChanges, .addonPADDING:nth-child(44) .GraphViewChanges,
.addonPADDING:nth-child(47) .GraphViewChanges, .addonPADDING:nth-child(50) .GraphViewChanges, .addonPADDING:nth-child(53) .GraphViewChanges,
.addonPADDING:nth-child(56) .GraphViewChanges, .addonPADDING:nth-child(59) .GraphViewChanges, .addonPADDING:nth-child(62) .GraphViewChanges,
.addonPADDING:nth-child(65) .GraphViewChanges, .addonPADDING:nth-child(68) .GraphViewChanges, .addonPADDING:nth-child(71) .GraphViewChanges,
.addonPADDING:nth-child(74) .GraphViewChanges, .addonPADDING:nth-child(77) .GraphViewChanges, .addonPADDING:nth-child(80) .GraphViewChanges,
.addonPADDING:nth-child(83) .GraphViewChanges, .addonPADDING:nth-child(86) .GraphViewChanges, .addonPADDING:nth-child(89) .GraphViewChanges,
.addonPADDING:nth-child(92) .GraphViewChanges, .addonPADDING:nth-child(95) .GraphViewChanges, .addonPADDING:nth-child(99) .GraphViewChanges
{ width: calc(100% - 0vw);
    margin: 0 0px;}

}




 @media screen and (min-width: 1201px){
    .col-1 {    
        width: 14%; padding-left:0;
    }
    .col-2 {
        /*width: 560px;*/
    }
    .col-3 {
         width: 535px;
        float: right; padding-right: 0;
    }
.col-4 {
         width: 50%;
        float: right; padding-right: 15px;
    }

.dataGRID{ width: 82%;}
.dataVIEW{ width: 18%;}

 }

 @media screen and (min-width: 1920px){
.GraphViewChanges{ width: calc(100% - 1.5vw);}
.selectBOX.slate{width: 150px;}
.dateBOX .mat-form-field-infix { max-width: 120px !important;}
.no-record i { margin-top: 4%;}
.col-3 { width: 675px;}
 }

 @media (min-width:769px) and (max-width:1023px){
     .header-filters {
         padding: 5px;
    }
    
     .sectionBOX {  margin-top: 10px;    }
     .col-1 { width: 23%;  }
     .col-1 > div{
         float:left;
         margin-left: 14px; 
         width:100%; max-width: 160px;
    }
     .col-2 {
         width: 68%;
         float: right;
         
    }
    .col-2 .subSECTION .sublist .dropdown{
        min-width: 195px;
        padding-right: 0px;
        text-align: left;
    }
    
    .col-2 .subSECTION .sublist .btn{
        width: 100%;
        text-align: left;
    }
    .col-2 .subSECTION .sublist .btn span{
        float: right;
        margin-top: 5px;
    }
     .col-2 .dropdownBOX{
         text-align: right; 
         padding-right:20px;
    }
     .col-2 .subSECTION .sublist .dropdown .ui-dropdown{width: 100%!important;}
    .col-2 .subSECTION .sublist .btn-group{ width: 100%;}
    
    .col-3 .resp-select{width: 19%;}
    .col-3 .tabs-container{margin-right: 12px;}
     .col-3 {
         width: 100%;
        
    }
     .col-3 .pull-right {
         float: none !important;
         text-align: right;
    }
    .col-3 .selectBOX.slate{
        width: 100%;
    }
    .col-3 .mat-form-field{
        width: 128px;
    }
    .dateBOX .mat-form-field-infix{
        max-width: 100px!important;
    }
    .resp-btn{
        max-width: 124px;
        min-width: 62px;
    }
     .panel .panel-heading > .panel-title {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         width: 75%;
    }
    .mainCONTAINER{ padding-top:115px !important;}
/*.tabs-container{ margin-top: 5px;}*/


.chartBTNS{ margin-top:-30px;}
.chartBTNS ul li{ float: left !important;}
.chartBTNS ul li:last-child{ float: right !important;}
.chartBTNS ul li{ text-align: left !important; margin-top: 0px !important;}
.chartBTNS ul li .btn{ width:auto !important;}
.dataViewPanel{ margin-top: 15px;}
.resp-nopadding{ padding: 0px; }

.header-filters .subLIST .dropdown .ui-multiselect{ width: 130px !important;}

.no-record i { margin-top: 5%;}
}


 @media (max-width:1024px) {


.dataViewPanel{ margin-top: 15px;}
 button.eyeBTN{ display: none !important;}
.mainCONTAINER{ padding-top: 92px;}

.navbar.horizontal-menu .navbar-inner .navbar-nav > li > a { padding: 0 !important; line-height: 40px !important; }
.navbar.horizontal-menu .navbar-inner .navbar-nav > li { line-height:  normal !important; }
.resp-dropdown{ display: block !important;}
.resp-griddropdown{ display: block !important;}

.navbar.horizontal-menu .navbar-inner .navbar-nav > li > a.menuICON{ padding: 7px 15px!important;}
.header-filters .subLIST .ui-multiselect { width: 135px !important;}
.col-4 { float: right; padding-right: 14px;}
/*.no-record .text{ font-size: 11px;}
.no-record i { font-size: 1.3em;}*/
.content .space{ display: none !important;}
.resp-dropdown{ display: block !important;}
.resp-griddropdown{ display: block !important;}
.resp-hide{ display: none;}

.mat-input-element{ padding: 0 5px !important;}

 }

 @media (min-width:1024px) and (max-width:1199px){
    
     .header-filters {
         padding: 5px;
    }
     .col-1 {
         width: 19%;
         /*margin-left: 8px;*/
    }
     .col-1 > div{
         float: left; width:100%;
    }
     .col-2 {
         width: 27%;
    }
     .col-2 .dropdownBOX{
         text-align: left 
    }
     .col-3 {
         width: 54%;
         padding-left: 0px;
     }
     .col-3 .pull-right {
         float: none !important;
         text-align: right;
    }

     .panel .panel-heading > .panel-title {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         width: 60%;
    }


.mainCONTAINER{ padding-top:95px;}
.content .space{ display: none !important;}
.resp-dropdown{ display: block !important;}
.resp-griddropdown{ display: block !important;}
.resp-hide{ display: none;}
.resp-chart, .carouselBOX{ display: block;}
 
}
@media (min-width:1200px) and (max-width:1365px){
     .marginTOP li:nth-child(1) .selectBOX.slate {
           width: 95px;
     }
     .marginTOP li:nth-child(3) .selectBOX.slate {
           width: 90px;
     }
    .col-2 {
         width: 25%;
    } 
     .col-3 {
         width: 55%; padding-left:0; float: right;
    } 
    .tabs-container ul li{ margin-right: 0;}

.panel .panel-heading > .panel-title {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         width: 68%;
    }
    
}

@media (min-width:1024px) and (max-width:1280px){
.chartBTNS ul li, .chartBTNS ul li:last-child{ float: none !important;}
.chartBTNS ul li{ text-align: center; margin-top: 10px;}
.chartBTNS ul li .btn{ width:100%;}

}




@media screen and (max-width: 768px){

.content{ padding-bottom:15px}

.login{ max-width: 450px!important; background: #fff; padding: 35px;}
	
.mainLOGIN{ padding-left:0!important; }	
.loginleftBOX img{ display: none;}
.loginleftBOX{ position: fixed!important;
    top: -374px!important;
    left: -43%!important;
    height: 151%!important;
    width: 100%!important;
    -webkit-transform: rotate(37deg);
    transform: rotate(37deg);
    z-index: -1;
}

.GraphViewChanges{ width: calc(100% - 4vw) !important; margin: 0 15px !important;}
    /*.resp-height{ height: 255px;}*/

.navbar.horizontal-menu .navbar-inner .navbar-nav{ padding-left: 30px; padding-right: 30px;}

select option:hover { background: #757575 !important; -webkit-background: #757575 !important;}
.alert{ left: 25% !important; right: 2%; top: 1%;}

.form-group{ margin-bottom: 0 !important;}
.resp-save .btn-primary{ background: transparent !important; border-color:transparent !important; width: 35px; padding:4px 0 2px 0;}
.resp-save .btn-primary span{ display: none;}
.resp-save .btn-primary i{ font-size: 23px; color: #989898;}
.chartBTNS{ margin-top:-10px;}
.chartBTNS ul li{ float: left !important;}
.chartBTNS ul li:last-child{ float: right !important;}
.chartBTNS ul li{ text-align: left !important; margin-top: 0px !important;}
.chartBTNS ul li .btn{ width:auto !important;}
.chartBTNS ul li li, .chartBTNS ul li li:last-child{ float: none !important;}


.resp-tabs{ width:768px;}
.GraphViewChanges{ position: relative !important; width: 100% !important; margin: 0 0 10px 0 !important;}
.addonPADDING{ padding:0 15px !important;}

.col-4 { width: 100%; margin-top: 31px; float: none !important; padding-right: 0px !important; }
.header-filters .subLIST .ui-multiselect { width: 100% !important;}
.open > .dropdown-toggle.btn-primary{ background-color: #01579b !important; border-color: #01579b !important; }
.open > .dropdown-toggle.btn-primary i{ color:#fff !important;}
.mat-input-element { padding: 0 10px !important;}

}
@media screen and (max-width: 480px) {

.login {
    max-width: 320px!important;
    background: #fff;
    padding: 20px;
}

.login .panel-title {
    margin-bottom: 20px!important; 
}
  .page-title .breadcrumb-env {
    clear: both;
    float: none;
    padding: 0 10px;
  }

.loginleftBOX {
    top: -320px!important;
    left: -35%!important;
    height: 151%!important;
    -webkit-transform: rotate(28deg);
    transform: rotate(28deg);
}
.login .panel-title{
    margin-bottom: 20px!important;
}

.navbar.horizontal-menu .navbar-inner .navbar-nav{ padding-left: 40px; padding-right: 40px;}

/*.resp-height{ height: 255px;}*/
.form-group{ /*margin-bottom: 20px !important;*/ height:35px;}
 .navbar.horizontal-menu .navbar-inner .navbar-nav ul li a{ padding-left: 30px !important;}
.content .space{ display: none !important;}
.resp-nofloat{ float: none !important;}
.resp-dropdown{ width: 280px; margin: 10px auto auto auto;}
.ca-chart-full{ min-height: 300px;}
.resp-dropdown .ui-dropdown{ min-width:120px !important;}
.resp-griddropdown{ float: left !important; margin-top: 4px !important;}
.alert{ left: 2% !important; right: 2%; top: 1%;}
.ui-multiselect-header .ui-multiselect-filter-container{ width: 65% !important;}
.ui-helper-reset{ border: 0 !important;}
.ui-dropdown .ui-dropdown-label{ padding-right: 2.5em !important;}
.innerpage-title h3{ margin: 5px 0 0 0 !important;}
.innerpage-title .badge{padding-left:0px !important; padding-bottom: 0px !important; }
.no-record i { margin-top: 10%;}
}