.menu-grid {
        text-align: right;
        // padding: 29px 0;
      }
      .menu-grid .btn-group {
        // margin-right: 80px;
      }
      .menu-grid .dropdown-toggle, 
      .menu-grid .dropdown-toggle:hover, 
      .menu-grid .dropdown-toggle:focus, 
      .menu-grid .dropdown-toggle:active, 
      .menu-grid .btn-group.open .dropdown-toggle {
        border: 0;
        /* float: right; */
        box-shadow: none;
        background: transparent;
        color:#333;
      }
/*       .menu-grid .btn-default:after {
  padding-left: 4px;
  line-height: 20px;
  display: inline-block;
  content: "+ Mostlikers";
  color: #0000 !important;
} */
      .menu-grid .btn-default img {
        height: 18px;
        vertical-align: bottom;
      }
      .menu-grid .apps-dropdown {
          margin-right: 15px;
      }
      .menu-grid .apps-dropdown i.fa{
          font-size:24px;
          color:#ccc;
          margin-top:5px;
      }
      .menu-grid .dropdown-menu {
        margin: 0;
        border: 0;
        padding: 0;
        left: auto;
        right: -10px;
        margin-top: 10px;
        margin-right: 10px;
        box-shadow: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 1px 0 #dddddd;
        -moz-box-shadow: 0 0 1px 0 #dddddd;
        -ms-box-shadow: 0 0 1px 0 #dddddd;
        -o-box-shadow: 0 0 1px 0 #dddddd;
        box-shadow: 0 0 1px 0 #dddddd;
      }
      .menu-grid .list {
        width: 460px;
        position: relative;
        padding: 0px 10px 4px 16px;
      }
      .menu-grid .list:after {
        bottom: 100%;
        right: 20px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #FFFFFF;
        border-width: 8px;
        margin-right: 0px;
      }
      .menu-grid .list .menu {
        /* min-width: 115px; */
        padding: 0;
        color: #333333;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        text-transform: capitalize;
        border: 1px solid transparent;
        -webkit-box-shadow: 0 0 1px 0 transparent;
        -moz-box-shadow: 0 0 1px 0 transparent;
        -ms-box-shadow: 0 0 1px 0 transparent;
        -o-box-shadow: 0 0 1px 0 transparent;
        box-shadow: 0 0 1px 0 transparent;
      }
      .menu-grid .list .menu:hover {
        border: 1px solid #e8e8e8;
        -webkit-box-shadow: 0 0 1px 0 #dddddd;
        -moz-box-shadow: 0 0 1px 0 #dddddd;
        -ms-box-shadow: 0 0 1px 0 #dddddd;
        -o-box-shadow: 0 0 1px 0 #dddddd;
        box-shadow: 0 0 1px 0 #dddddd;
      }
      .menu-grid .menu span {
        width: 40px;
        height: 24px;
        display: block;
        margin: 0 auto 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        font-size: 24px;
      }

.dropdown-menu.level-two {
    display: block;
    position: static;
    margin-bottom: 5px;
    min-width: 115px;
}
.menu-grid .dropdown.menu.open .dropdown-menu {
    top:70px;
}
.menu-grid .dropdown.menu.open .dropdown-toggle:hover, 
.menu-grid .dropdown.menu.open .dropdown-toggle:focus, 
.menu-grid .dropdown.menu.open .dropdown-toggle:active
.menu-grid .dropdown.menu .dropdown-toggle:hover {
  color:#444;
}



.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  top: 70px;
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-submenu.pull-left>.dropdown-menu > li > a { 
  padding-left: 16px;
  padding-right: 16px;
}
