/*---Top Logo Img---*/
.mi-header .mi-logo-panel {
    padding: 5px 0 5px 15px;
}

#mainmenu {
    margin-top: 5px;
}

h4.main-title {
    margin-top: 0px;
    margin-bottom: 20px;
}
/* .btn {
	padding: 3px 8px 3px;
} */
.btn-close {
    font-size: 9px;
    padding: 3px;
    line-height: 9px;
}

.panel-body {
    padding: 10px;
}
/*----------------Panel Footer---------------------*/
.panel-footer-right {
    text-align: right;
}

.panel-footer {
    padding: 10px;
}

    .panel-footer .form-group {
        margin-bottom: 0px;
    }

.mi-content-panel {
    padding: 10px;
}

.input-group-addon {
    padding: 5px 5px 4px 5px;
    line-height: 1;
}

.form-control {
    padding: 2px 8px;
}
/*---------------------For submenu links on the left--------------------------------*/
.mi-nav .children > li > a {
    height: auto;
}
/*-----------------------------DropZone updates-----------------------------------------------*/
.dropzone {
    padding: 10px;
    text-align: center;
}

    .dropzone .dz-message {
        margin-top: 10px;
        margin-bottom: 5px;
    }
/*-----------------------------Practice Logo in Header-----------------------------------------------*/

.practicelogomain {
    top: 0;
    left: 64px;
    width: auto;
    max-height: 64px;
}

.toppractice-logo {
    max-height: 60px;
    padding: 7px;
    width: auto;
}

.empty-label {
    min-height: 17px;
    display: block;
}

    .empty-label.mh22 {
        min-height: 22px;
        display: block;
    }

.zipcode-input {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

    .zipcode-input input:last-child {
        width: 50px;
        text-align: center;
        margin-left: 1px;
        border-left: 1px solid #ccc;
    }

.city-input {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

    .city-input input:last-child {
        width: 60px;
        margin-left: 7px;
    }

.zipcode-input input:last-child {
    width: 50px;
    margin-left: 7px;
}

@media screen and (max-width: 1024px) {
    /*--------------------Updated logo in practice Configuration Page--------------------------*/
    .uploadedpractice-logo {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .empty-label {
        min-height: 0px;
    }

    label.empty-label.ckbox {
        min-height: 17px;
    }
    /*.panel-footer-right {
	text-align: left;
}*/
}
/*for responsive table css(float plugin)*/
.floatThead-container {
    z-index: 10 !important;
}

.table-float-wrapper {
    position: relative;
    overflow: auto;/* height: 150px; */
}

.table-float {
    margin-bottom: 0px;
}

    .table-float > thead > tr > th {
        /*background: #17A5DF !important;
	height: 44px;*/
        border-right: 1px solid #eee;
        text-transform: capitalize;
    }

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-left: 1px solid #eee;
    border-right: 0px;
    vertical-align: top;
}

.table-float > tbody + tbody {
    border: none;
}

.table-float > thead > tr > td, .table-float > thead > tr > th {
    padding: 5px;
    font-weight: bold;
    vertical-align: middle;
}

.table-float > tbody > tr > td {
    padding: 3px 5px;
    height: 26px;
}

    .table-float > tbody > tr > td .form-control {
        /*padding: 0 8px;
        height: 20px;*/
        margin: 0px auto;
    }

.btn-group {
    background-color:rgb(235, 235, 235);
    border:1px solid rgb(199, 199, 199);
}
    .btn-group > .btn.active {
        background-color: rgb(0, 40, 120);
        color: #fff;
    }
.btn-group .btn-secondary {
    padding: 3px 12px;
}
/* .table-float-wrapper table {
    margin-bottom: 0px !important;
} */



@media(max-width:767px) {
    .table-float-wrapper {
        overflow: auto !important;
    }

    .top-username {
        display: none;
    }

    .mi-header-left {
        float: left;
        padding-right: 10px;
        width: 75%;
    }

    .mi-page-header h1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .mi-header-right {
        padding-right: 10px;
        width: 25%;
    }
}

@media(max-width:480px) {
    .practicelogomain {
        display: inline;
    }

    .toppractice-logo {
        max-width: 100%;
        height: auto;
    }
}
/*----------------------Added on 22nd Nov----------------------------*/

.table-float-wrapper.userrole {
    height: 210px;
}

.table-float-wrapper.rolepermissions {
    height: 270px;
}

.rolepermissions-list tr > th, .userrole-list tr > th {
    text-align: center;
}

.btn-check {
    font-size: 14px;
    padding: 1px 10px;
    line-height: 9px;
}

tr.highlight td {
    background-color: #4fe7f9 !important;
}

tr.header1 > th {
    background-color: #30c6d8 !important;
}

.table-float > thead > tr.table-subheader > th:first-child {
    border-left: solid 1px #eeeeee !important;
}
/*-------------For elements to be added on the header right side----------------*/
.header-right {
    float: right;
    margin-top: -5px;
    margin-bottom: -5px;
}

    .header-right .dropdown-menu {
        left: auto;
        right: 0;
    }

@media(max-width:1024px) {
    .header-right {
        float: none;
        margin-top: 25px;
    }
}
/*@media(max-width:480px) {
.header-right {
	float: none;
	margin-top: 20px;
}
}*/
/*------------------------------Added on 1st dec related to practice Name under logo---------------------------------------*/
.media-body {
    vertical-align: middle;
}

.mi-left-panel-profile .media-heading {
    margin: 5px 0px;
    font-weight: bold;
}

/*-------------------------------------------Added from Dec5th--------------------------------------------*/
/*-------------------------Form Horizontal Label Alignment------------------------------*/

/*----Commented on 26th Dec for checking-----------------*/
/*@media (max-width: 768px) {
.panel-footer [class*="col-"]:first-child {
	margin-bottom: 15px;
}
}*/

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 5px;
    }

    .form-inline.pull-right .control-label {
        margin-right: 5px;
        /*margin-left: 15px;*/
    }

    .form-inline .form-group {
        margin-right: 15px;
        margin-left: 0px;
    }
    /*.form-inline .control-label:first-child {
	margin-left: 0px;
}
.header-right .form-inline .control-label:first-child {
	margin-left: 10px;
}*/
}

.mi-nav > li > a {
    padding: 12px;
}

    .mi-nav > li > a > i {
        width: 10%;
        display: inline-block;
    }

    .mi-nav > li > a > span {
        width: 84%;
        display: inline-block;
    }

.panel .row p {
    padding: 0px 20px 5px 20px;
}

.toggle-modern .toggle-on.active {
    background-color: #5cb85c;
}

    .toggle-modern .toggle-on.active + .toggle-blob {
        border: 3px solid #5cb85c;
    }

.toggle-modern .toggle-off.active {
    color: #696c74;
}

input.goal-points {
    width: 35px;
}

.toggle-modern .toggle-on, .toggle-modern .toggle-off {
    font-weight: normal;
}

.activity-description {
    white-space: nowrap;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 5px !important;
}

.dates {
    width: 155px !important;
}

.date {
    /*width: 100px !important; */
    width: 85px !important;
}

.nav-tabs {
    background-color: transparent;
}

    .nav-tabs > li > a {
        background-color: #e6e6e6;
        color: #5b6781;
        border: solid 1px #bbbbbb !important;
        border-bottom: none !important;
    }
/* .nav-tabs > li > a {
	color: #5b6781;
	border: solid 1px #bbbbbb !important;
	border-bottom: none !important;
} */


/* tab */
.tab-pane {
    padding: 10px;
}
/* User screen changes */
/* no left panel */
body.no-left-panel .mi-headerbar {
    /* margin-left: 0; */
    padding-left: 20px;
}

body.no-left-panel .mi-header .mi-logo-panel {
    width: auto;
    max-width: 220px;
    background: transparent;
}

body.no-left-panel .mi-main-panel {
    margin-left: 0;
}
/*----------------------Toggles in a Table-------------------------------*/
table .toggle-wrapper {
    display: block;
}
/*-----------------------For Popup In OPD ACI ( Selection List)----------------------------*/
.acipopup {
    position: absolute;
    right: 10px;
    width: 40%;
    height: auto;
    z-index: 1000;
    top: 120px;
    border: solid 1px #dedede;
}
/*---------------------------Radi Buttons and Checkbox alignment---------------------------------------------------*/
input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
}

@media (max-width:1024px) {
    /*------------------------Alignments of From Fields in ACI and CPIA Configurations--------------------------*/
    .panel-heading .pull-left, .panel-heading .pull-right {
        margin-bottom: 10px;
        width: 100%;
    }

    .panel-inverse > .panel-heading .badge {
        width: auto;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /*-----------For CPIA Configuration selection fields and GRI Message Search fields---------*/
    .cpia-selection .panel-heading .form-group, .gri-message-search .panel-heading .form-group {
        margin-right: 5px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .cpia-selection .panel-heading .pull-right {
        float: left !important;
    }
}

@media (max-width:767px) {
    /*------------------ For complete date field width in small devices-----------------------------*/
    .date {
        width: 100% !important;
    }
    /*------------------ Small margin to be applied only in small devices-----------------------------*/
    .m-b-xs-sm {
        margin-bottom: 10px !important;
    }
}
/*---------------Accordion Updated-------------------------------*/


.panel-group .panel-inverse > .panel-heading .panel-title > a, .panel-group .panel-inverse > .panel-heading .panel-title > a:hover, .panel-group .panel-inverse > .panel-heading .panel-title > a:focus {
    background-color: /*#259DAB*/#2c3b77;
    color: #fff;
    min-height:65px;
}
.panel-group .panel-inverse > .panel-heading .panel-title > a .badge, 
.panel-group .panel-inverse > .panel-heading .panel-title > a:hover .badge, 
.panel-group .panel-inverse > .panel-heading .panel-title > a:focus .badge{
    margin-top: 0px;
}


.panel-inverse > .panel-heading .badge {
    background-color: #909bb1;
    color: #fff;
    padding: 6px 8px;
    font-size: 12px;
}

.panel-group .panel.panel-inverse > .panel-heading .panel-title > a:after {
    color: #ffffff;
}

.list-group-item {
    padding: 8px 15px;
}

.accordionsection .panel-title {
    text-transform: capitalize;
}

    .accordionsection .panel-title label {
        margin-top: 5px;
        font-size: 13px;
    }

.accordionsection .data-list .panel-body {
    padding: 0px;
}
.accordionsection .groupLIST {
    padding: 0px 0px 0px 0px;
}
/*---------------------------Heights declated temporarily for scroll bars-------*/

.height-100 {
    height: 100px;
}

.height-155 {
    height: 155px;
}

.data-list .list-group-item-heading {
    padding: 8px 15px;
    border: 1px solid #ddd;
    margin-bottom: 0px;
    border-bottom: none;
}

.data-list ul {
    height: 136px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*----------------------Last child group in Form Inline -------------------*/

.form-inline .form-group:last-child {
    margin-right: 0px;
}
/*---------------------Inputs for ACI measures----------------------------*/
.aci-points {
    width: 200px;
}
/*----------------------------List Insertion Arrow Button----------------------*/

.btn-arrow-left {
    margin-top: 50px;
}

@media(max-width:1023px) {
    .btn-arrow-left {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
/* Table Bordered */
/* .table-bordered {
	background: #fff;
	border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
	border: 1px solid #ddd;
	border-right: 0;
    border-top: 0;
}
.table-bordered > thead > tr > th {
	background: #eee;
	font-weight: bold;
} */

/*----------------------------Custom Classes---------------------------------*/

.height240 {
    height: 240px;
}

.height130 {
    height: 130px;
}
/*--------------For Table background color----------------*/
.bg-light-green {
    background-color: #e9f8fa;
}

@media (min-width:769px) {
    .width150 {
        width: 150px;
    }
}

@media (min-width:768px) {
    .select100 {
        /* To control the width of the select field */
        width: 100px !important;
    }
}

@media (min-width:767px) and (max-width:1023px) {
    .m-t-sm-sm {
        margin-top: 10px; /*----Margin top only for small devices ---*/
    }
}

@media (min-width:1025px) and (max-width:1365px) {
    .heading-right-large {
        width: 100%;
        margin-top: 10px;
    }
}
/*---------------------------------Toggle styles for Performance in AMC ----------------------*/

.performace .toggle-modern.success .toggle-on.active {
    background-color: #5cb85c;
}

    .performace .toggle-modern.success .toggle-on.active + .toggle-blob {
        border: 3px solid #5cb85c;
    }

.performace .toggle-modern .toggle-off.active {
    /*   background-color: #d90000;*/
    background-color: #d9534f;
    color: #fff;
}

.performace .toggle-modern .toggle-on + .toggle-blob {
    /* border: 3px solid #d90000;*/
    border: solid 3px #d9534f;
}
/*-----------------------Custom Styles for borders------------------------------------*/
.gray-border {
    border-bottom: solid 2px #dedede !important;
}

    .gray-border td {
        border-bottom: solid 2px #dedede !important;
    }
/*----------------AMC Configuration-----------------------*/

.amc-group .progress, .amc-clinician .progress {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 13px;
    color: #000;
}

.amc-group .progress-bar-success, .amc-clinician .progress-bar-success, .amc-group .label-success {
    background-color: #5cb85c;
}

.amc-group .progress-bar-warning, .amc-clinician .progress-bar-warning {
    background-color: #FFBF00;
}

.amc-group .progress-bar, .amc-clinician .progress-bar {
    color: #111 !important;/* font-weight: bold; */
}
/*-----------------AMU Config color classification---------------------*/
.performance-keys.list-group {
    /*margin-bottom: 0px;*/
    border: solid 2px #d6d6d6;
    width: auto;
    display: inline-block;
    height: 108px;
    background:#fff;
}

.performance-keys .list-group-item {
    background: transparent;
    border: none;
    padding: 5px;
}
/*.performance-keys li {
	display: inline-block;
	width: 100%;
}*/
.performance-keys span {
    display: inline-block;
}

.performance-keysicon-green {
    background: #5cb85c;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
    float: left;
    border: solid 1px #a4a4a4;
}

.performance-keysicon-yellow {
    background: #FFBF00;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
    float: left;
    border: solid 1px #a4a4a4;
}

.performance-keysicon-red {
    background: #d9534f;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
    float: left;
    border: solid 1px #a4a4a4;
}

.performance-keysicon-gray {
    background: #b6b6b6;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
    float: left;
    border: solid 1px #a4a4a4;
}

@media (max-width:768px) {
    .performance-keys.list-group {
        margin-bottom: 10px;
    }
}
/*-------------------------CPIA Scores gauge image in dashboard---------------------------*/

img.cpia-score {
    width: 340px;
    height: auto;
}
/*-------------------------Checkboxes in li inside a table---------------------------------------*/

/*.table-success ul {
	padding-left: 3px;
	margin-bottom: 0;
}
.table-success ul li {
	list-style-type: none;
	display: inline;
	margin-left: 15px;
}
.table-success ul li label {
	font-weight: normal;
	position: relative;
	line-height: 18px;
	display: inline-block;
	padding-left: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.table-success ul li input[type='checkbox'] {
	margin-left: -16px;
}*/
/*------------------------Aligning random columns data to center in AMC tables -----------------------------*/


#amc-mmu2 td:nth-child(1), #amc-mmu2 td:nth-child(2), #amc-mmu2 td:nth-child(4), #amc-mmu2 td:nth-child(5), #amc-mmu2 td:nth-child(6) {
    text-align: center;
}

#amc-mu3 td:nth-child(1), #amc-mu3 td:nth-child(2), #amc-mu3 td:nth-child(4), #amc-mu3 td:nth-child(5), #amc-mu3 td:nth-child(6) {
    text-align: center;
}
/*#amc-aci-stage2 td:nth-child(1), #amc-aci-stage2 td:nth-child(4), #amc-aci-stage2 td:nth-child(5), #amc-aci-stage2 td:nth-child(6) ,#amc-aci-stage2 td:nth-child(7)  ,#amc-aci-stage2 td:nth-child(9)  {
	text-align: center;
	
}

#amc-aci-stage3 td:nth-child(1), #amc-aci-stage3 td:nth-child(4), #amc-aci-stage3 td:nth-child(5), #amc-aci-stage3 td:nth-child(6) ,#amc-aci-stage3 td:nth-child(7)  ,#amc-aci-stage3 td:nth-child(9)  {
	text-align: center;
	
}
*/

#amc-aci-stage2.table-success, #amc-aci-stage3.table-success {
    background-color: #fff;
}


#amc-aci-stage2 td, #amc-aci-stage3 td,
#amc-aci-stage2 .progress-bar, #amc-aci-stage3 .progress-bar {
    text-align: center;
    font-size: 13px;
}


#amc-aci-stage2.table-success td.empty-row, #amc-aci-stage3.table-success td.empty-row {
    border-top: none !important;
    border-bottom: 2px solid #aaa;
}

#amc-aci-stage2 td:last-child, #amc-aci-stage3 td:last-child {
    text-align: right;
}

.inline-block {
    display: inline-block;
}
/*------------------------AMC Individual Selected row settings----------------------------------*/

/*.table-success#amc-mu3 > tbody > tr.selected > td, .table-success#amc-mmu2 > tbody > tr.selected > td {
	background: none repeat scroll 0 0 #dddddd !important;
}*/
.table-success#amc-mu3 > tbody > tr.selected > td .progress-bar, .table-success#amc-mmu2 > tbody > tr.selected > td .progress-bar {
    background: none repeat scroll 0 0 #b6b6b6 !important;
}
/*------------------------Margins for single checkbox in a table column----------------------------------------*/

.table-success .checkbox {
    margin-bottom: 0px;
    margin-top: 0px;
}
/*-----------------------------Generic Classes ---------------------------*/
/*------------------Backgrounds------------------*/
.greenbg {
    background-color: #5cb85c !important;
}

.redbg {
    background-color: #d9534f !important;
}

.graybg {
    background-color: #dddddd !important;
}

.yellowbg {
    background-color: #e6f159;
}

.lightgreenbg {
    background-color: #e9f8fa;
}

.orangebg {
    background-color: #f39529 !important;
    color: #fff !important;
}

/*------------------Padding------------------*/

.paddingright30 {
    padding-right: 30px !important;
}

.scores-heading {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 7px;
}
/*----------------For Top Grid Menu Alignment----------------------------*/


.menu-grid .list {
    width: 360px;
}

.mi-header-menu .dropdown-menu > li > a {
    padding-right: 2px;
    padding-left: 2px;
}

.mi-header-menu .dropdown-menu.level-two {
    margin-right: 0px !important;
    text-align: center;
}

.mi-header-menu .col-sm-4 {
    padding-right: 0px;
    padding-left: 0px;
}

.menu-grid .dropdown.menu.open .dropdown-menu {
    padding: 5px;
}

.mi-header-menu .dropdown-menu.level-two:after, .mi-header-menu .dropdown-menu:after {
    /*-------------------For removing dropdown icons for internal icons----------------------*/
    display: none;
}
/*----------------Top Grid Menu Alignment in mobiles----------------------------*/
@media (max-width:767px) {
    .mi-header-left {
        width: 65%;
    }

    .mi-header-right {
        width: 35%;
    }

    .mi-header-menu {
        float: right;
    }

    .menu-grid .dropdown-menu {
        max-width: 100%;
        min-width: 250px;
        right: -88px !important;
    }

    .menu-grid .list {
        width: 100% !important;
    }

    .mi-header-menu .dropdown-menu.level-two .dropdown-menu {
        left: -16px;
        right: auto !important;
    }

    .menu-grid .list:after {
        right: 95px !important;
    }
}

@media (max-width:480px) {
    .mi-header-left {
        width: 53%;
    }

    .mi-header-right {
        width: 47%;
    }

    .mi-header-menu > li > .btn-group > .btn-logged {
        padding: 5px 3px 3px;
    }

    .mi-header-menu {
        float: right;
    }

    .menu-grid .apps-dropdown {
        margin-right: 5px !important;
    }
}

/*Top Header for UI Grid*/
.angular-table-header {
    margin-bottom: 0px;
    color: #ffffff;
    padding: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

    .angular-table-header + .table > thead > tr:first-child > th:first-child, .angular-table-header + .table > thead > tr:first-child > th:first-child {
        border-top-left-radius: 0px;
    }

    .angular-table-header + .table > thead > tr:first-child > th:last-child {
        border-top-right-radius: 0px;
    }

/*--------------------Simple Button with Dropdown Links on Hover---------------------*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    margin-top: 1px;
}

    .dropdown-content a {
        color: black;
        padding: 5px;
        text-decoration: none;
        display: block;
        border-bottom: solid 1px #dedede;
        font-size: 11px;
    }

        .dropdown-content a:hover {
            color: #fff;
            background-color: #1f608e;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

/*--------------Divider Line for Table rows-------------*/
.empty-row {
    padding: 0px !important;
    border-top: solid 2px #dedede !important;
    height: 0px !important;
}

/*------------------------AMC Individual Selected row settings----------------------------------*/

.table-success#amc-aci-stage2 > tbody > tr > td .progress-exclude {
    background: none repeat scroll 0 0 #b6b6b6 !important;
}

/*--------------------------Dashboard Table Styles------------------------------------*/

.table-dashboard > thead > tr > th {
    border-color:  #d5d5d5 /*rgba(255, 255, 255, 0.3)*/;
    background-color: #ececec/*#00bce0*/ !important;
    color: /*#fff*/ rgba(27, 29, 31, 0.9);
    font-weight: bold !important;
    /*font-size: 13px;*/
}

.table-dashboard {
    background-color: #e9f8fa;
}

    .table-dashboard.activities td:last-child {
        text-align: right;
    }

td.redbg a, td.yellowbg a, td.greenbg a {
    color: #111 !important;
}

@media (max-width:768px) {
    .width150 {
        width: 100%;
    }
}

/*Seeting icon in MIPS dashbaord*/

.header-right-small .nav-pills > li > a {
    padding: 0;
    color: #778395;
    margin-left: 10px;
}

    .header-right-small .nav-pills > li > a:hover {
        background-color: transparent;
    }

/*----------Toggle Button---------*/
md-switch {
    margin: 0px !important;
}

    md-switch .md-bar {
    }

    md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
        background-color: #fff;
    }

    md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
        background-color: #44bd44;
    }

    md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
        color: #44bd44;
    }


/*---------------Date Input Field in a Table----------------*/
table input.form-control.date {
    display: inline;
}

#griUser-list .date {
    width: 125px !important;
}

.cal-min-height {
    min-height: 300px;
}

/*----------- ACI Configuration Dashboard-------------*/
.width40 {
    width: 40px !important;
}

.width110 {
    width: 110px !important;
}

.select120 {
    width: 145px !important;
}
.select300 {
    width: 300px !important;
}

.emergency-access {
    width: 200px;
    color: red;
    margin: 25px auto 0px auto;
    position: absolute;
    left: 50%;
}

@media(max-width:767px) {
    .emergency-access {
        margin: 0;
        left: auto;
        top: 40px;
    }
}

.mi-header-menu .dropdown-menu li > button {
    background-color: transparent;
    padding: 5px;
    border: 1px solid #eee;
    width: 100%;
    text-align: left;
    color: #333;
}


    .menu-grid .list .menu > button.disabled,
    .menu-grid .list .menu > button.disabled:hover,
    .menu-grid .list .menu > button.disabled:focus,
    .mi-header-menu .dropdown-menu li > button.disabled,
    .mi-header-menu .dropdown-menu li > button.disabled:hover,
    .mi-header-menu .dropdown-menu li > button.disabled:focus {
        color: #9fa8bc;
        cursor: not-allowed;
    }


/* Loader */

.aci-loading {
    border: 15px solid #e2e1e1; /* Light grey */
    border-top: 15px solid rgb(243, 149, 41)/*#259DAB*/; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    animation: spin 0.7s linear infinite;
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: grey;
    opacity: 0.3; 
    z-index: 500;  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.progress {
    overflow: initial;
}

.word-break {
    word-break: break-all;
}