﻿<div class="panel panel-heading amc-group min-height-addon2">
 
    <div class="clearfix form-inline">
       
           
                <div class="form-group width130">
                    <!--Newly Added-->
                    <label class="control-label" style="display:block;">Performance Year</label>
                    <input class="form-control" ng-model="amcMeasure.selectedYear" readonly>
                    <!--<select class="form-control" ng-model="amcMeasure.selectedPerformanceYearId"
                            ng-options="performanceYear.performanceYear for performanceYear in amcMeasure.performanceYearList"
                            ng-change="amcMeasure.selectPerformanceSet()"></select>-->

                </div>
            
        <div class="form-group width130" ng-if="amcMeasure.selectedYear=='2019'">
            <!--Newly Added-->
            <label class="control-label" style="display:block;">Reporting Type</label>
            <input class="form-control" ng-model="amcMeasure.ReportingType" readonly>
        </div>

        <div class="form-group width300" ng-if="amcMeasure.showGroupDropDown && amcMeasure.selectedYear=='2019'">
            <label class="control-label" style="display:block;">Reporting Entity</label>
            <input class="form-control" ng-model="amcMeasure.groupName" readonly>
            <!--<select class="form-control" ng-model="amcMeasure.groupTIN"
                ng-disabled="amcMeasure.disableFields" title="{{amcMeasure.groupName}}"
                ng-options="amcMeasure.groupTIN as amcMeasure.groupName for measure in amcMeasure.groupList"></select>-->
        </div>

        <div class="form-group width300" ng-if="amcMeasure.showClinicianDropDown && amcMeasure.selectedYear=='2019'">
            <label class="control-label" style="display:block;">Reporting Entity</label>
            <input class="form-control" ng-model="amcMeasure.physicianName" readonly>
            <!--<select class="form-control" ng-model="amcMeasure.physicianNPI"
                ng-disabled="amcMeasure.disableFields" title="{{amcMeasure.physicianName}}"
                ng-options="clinician.physicianNPI as clinician.physicianName for clinician in amcMeasure.clinicianList"></select>-->
        </div>

                <div class="form-group width300" ng-if="amcMeasure.selectedYear==='2018' && (amcMeasure.showGroupDropDown  || amcMeasure.showBoth)">
                    <label class="control-label" style="display:block;">Group</label>
                    <input class="form-control" ng-model="amcMeasure.groupName" readonly>
                    <!--<select class="form-control" ng-model="amcMeasure.groupTIN"
                            ng-disabled="amcMeasure.disableFields" title="{{amcMeasure.groupName}}"
                            ng-options="amcMeasure.groupTIN as amcMeasure.groupName for measure in amcMeasure.groupList"></select>-->
                </div>

           
           
                <div class="form-group width300" ng-if="amcMeasure.selectedYear ==='2018' &&(amcMeasure.showClinicianDropDown || amcMeasure.showBoth)">
                    <label class="control-label" style="display:block;">Clinician</label>
                    <input class="form-control" ng-model="amcMeasure.physicianName" readonly>
                    <!--<select class="form-control" ng-model="amcMeasure.physicianNPI"
                            ng-disabled="amcMeasure.disableFields" title="{{amcMeasure.physicianName}}"
                            ng-options="clinician.physicianNPI as clinician.physicianName for clinician in amcMeasure.clinicianList"></select>-->
                </div>

        <div class="form-group width460">
            <label class="control-label" style="display:block;">Measure Set</label>
            <input class="form-control" ng-model="amcMeasure.stageName" readonly>
            <!--<select class="form-control" ng-model="amcMeasure.stageCode"
        ng-disabled="amcMeasure.disableFields" title="{{amcMeasure.stageName}}"
        ng-options="measure.stageCode as measure.stageName for measure in amcMeasure.measureSetList"></select>-->
        </div>
           
                <div class="form-group width130">
                    <label class="control-label" style="display:block;">Reporting Period</label>
                    <button class="btn btn-primary btn-xs" ng-disabled="amcMeasure.disableFields" style="width:100%;">Full Calendar Year</button>
                </div>
           
            
                <div class="form-group">
                    <div class="form-group width130">
                        <label class="control-label" style="display:block;">From</label>
                        <input type="text" date="MM/dd/yyyy" class="form-control" ng-model="amcMeasure.fromDateInDashBoard" ng-disabled="amcMeasure.disableFields">
                    </div>
                        <div class="form-group width130">
                            <label class="control-label" style="display:block;">To</label>
                            <input type="text" date="MM/dd/yyyy" class="form-control" ng-model="amcMeasure.toDateInDashBoard" ng-disabled="amcMeasure.disableFields">
                        </div>

                    </div>
           
            
                
           
            
                <div class="form-group width150">
                    <label class="control-label" style="display:block;">No. of Reporting Days</label>
                    <input class="form-control" ng-model="amcMeasure.reportingDuration" readonly>
                </div>
           
    </div>
  
    <div class="row">
        <div class="col-sm-12 panel-disclaimer" ng-if="amcMeasure.selectedYear=='2019'">
            <label class="control-label nomarginTOP">Disclaimer-</label>
            <i>**This 2019 MIPS PI measure report is preliminary. A software update will be provided later in 2019 which will add the new measure “Receiving / Incorporating Health Information” and new scoring logic for the “Public Health / Clinical Data Registry Reporting” objective.**</i>
        </div>
    </div>
</div>

    <!-- /panel-heading -->
    <!--<div class="panel-body"> </div>-->
    <!-- /panel-body -->
    <div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">{{amcMeasure.stageName}}</h4>
    </div>

    <!-- 2019 -->
        <!--Newly Added-->
    <div class="table-float-wrapper" ng-if="amcMeasure.selectedYear =='2019'">
        <table class="table table-float table-success" id="">
            <thead>
                <tr class="header">
                    <th><div>No.</div></th>
                    <th><div>PI Measure Name</div></th>
                    <th><div>Numerator</div></th>
                    <th><div>Denominator</div></th>
                    <th><div>Possible Points</div></th>
                    <th><div>Performance Goal</div></th>
                    <th><div>Performance</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measurePerf in amcMeasure.measureReportPerformancePoints">
                    <td>{{measurePerf.no}}</td>
                    <td><a href="#" title="{{measurePerf.description}}">{{measurePerf.measureName}}</a></td>
                    <td><a ng-click="amcMeasure.goToANRMeasureReport(measurePerf);">{{measurePerf.numerator}}</a></td>
                    <td>{{measurePerf.denominator}}</td>
                    <td>{{measurePerf.possiblePoints}}</td>
                    <td>{{measurePerf.performanceGoals}}</td>
                    <td style="width:15%;">
                        
                        <div class="progress">
                            <div ng-if="measurePerf.performance !='0'" progressbar ng-class="{'progress':true,'progress-bar-warning':measurePerf.classWarning,'progress-bar-danger': measurePerf.classDanger, 'progress-bar-success': measurePerf.classSuccess ,'progress-bar-gray' :measurePerf.classGray}"
                                 animate="false"
                                 type="success"
                                 style="width:{{measurePerf.performance}}%;"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="10">
                                <!--{{measurePerf.performance === "0" ? null : measurePerf.performance | number : 2}}-->
                                {{measurePerf.performance | number : 2}}
                            </div>
                            <div ng-if="measurePerf.performance =='0'" progressbar ng-class="{'progress':true,'progress-bar-warning':measurePerf.classWarning,'progress-bar-danger': measurePerf.classDanger, 'progress-bar-success': measurePerf.classSuccess ,'progress-bar-gray' :measurePerf.classGray}"
                                 animate="false"
                                 type="success"
                                 style="width:100%"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="10">
                                <!--{{measurePerf.performance === "0" ? null : measurePerf.performance | number : 2}}-->
                                {{measurePerf.performance}}
                            </div>
                        </div>
                       
                    </td>
                </tr>
                <tr ng-repeat="measure in amcMeasure.measureReportBaseScore">
                    <td>{{measure.no}}</td>
                    <td><a href="#" title="{{measure.description}}">{{measure.measureName}}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="width:15%;">
                        <div class="progress">
                            <div progressbar ng-class="{'progress':true,'progress-bar-warning':measure.classWarning,'progress-bar-danger': measure.classDanger, 'progress-bar-success': !measure.classDanger}"
                                 animate="false"
                                 type="success"
                                 style="width:{{measure.performance}}%;"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="10">
                                {{measure.performance === "0" ? null : measure.performance}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- /table-->
    </div>







    <!-- 2018 -->
    <div class="table-float-wrapper" ng-if="amcMeasure.selectedYear =='2018'">
        <table class="table table-float table-success" id="amc-aci-stage2">
            <thead>
                <tr class="header">
                    <th><div>No.</div></th>
                    <th><div>Category</div></th>
                    <th><div>Measure Name</div></th>
                    <th><div>Numerator</div></th>
                    <th><div>Denominator</div></th>
                    <th><div>Possible Points</div></th>
                    <th><div>Performance Goal</div></th>
                    <th><div>Performance</div></th>
                    <th><div>Points Earned</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measure in amcMeasure.measureReportBaseScore">
                    <td>{{measure.no}}</td>
                    <td style="text-align: left;">
                        <a href="#"
                           title="{{amcMeasure.categoryDescription}}">
                            <strong>{{measure.category}}</strong>
                        </a>
                    </td>
                    <td style="text-align: left;"><a href="#" title="{{measure.description}}">{{measure.measureName}}</a></td>
                    <td><a style="cursor:pointer;" ng-click="amcMeasure.goToANRMeasureReport(measure);">{{measure.numerator}}</a></td>
                    <td>{{measure.denominator}}</td>
                    <td>{{measure.possiblePoints}}</td>
                    <td>{{measure.performanceGoals}}</td>
                    <td style="width:15%;">
                        <div class="progress" ng-show="{{measure.showProgressBar}}">
                            <div ng-show="{{measure.no==1}}" class="progress-bar" ng-class="{'progress-bar-danger': measure.classDanger ==null?null:!amcMeasure.isSecuityAys, 'progress-bar-success': measure.classDanger ==null?null:amcMeasure.isSecuityAys}" style="width: 100%;">
                                {{measure.performance === "0" ? null : amcMeasure.isSecuityAys ? 'YES' : 'NO'}}
                            </div>
                            <div ng-show="{{measure.no !=1}}" class="progress-bar" ng-class="{'progress-bar-danger': measure.classDanger, 'progress-bar-success': !measure.classDanger}" style="width: 100%;">
                                {{measure.performance === "0" ? null : measure.performance}}
                            </div>
                        </div>
                    </td>
                    <td>{{measure.pointsEarned}}</td>
                </tr>
                <tr>
                    <td colspan="9" class="empty-row"></td>
                </tr>
                <tr ng-repeat="measurePerf in amcMeasure.measureReportPerformancePoints">
                    <td>{{measurePerf.no}}</td>
                    <td style="text-align: left;"><a href="#"><strong>{{measurePerf.category}}</strong></a></td>
                    <td style="text-align: left;"><a href="#" title="{{measurePerf.description}}">{{measurePerf.measureName}}</a></td>
                    <td>
                        <a style="cursor:pointer;" ng-click="amcMeasure.goToANRMeasureReport(measurePerf);">
                            {{ measurePerf.measureCode == 10 || measurePerf.measureCode == 11 ? measurePerf.numerator == 0 ? null :measurePerf.numerator : measurePerf.numerator }}
                        </a>
                    </td>
                    <td>{{ measurePerf.measureCode == 10 || measurePerf.measureCode == 11 ? measurePerf.denominator == 0 ? null :measurePerf.denominator : measurePerf.denominator }}</td>
                    <td>{{measurePerf.possiblePoints}}</td>
                    <td>{{measurePerf.performanceGoals}}</td>
                    <td>

                        <div class="progress">
                            <div progressbar ng-class="{'progress':true,'progress-bar-warning':measurePerf.classWarning,'progress-bar-danger': measurePerf.classDanger, 'progress-bar-success': !measurePerf.classDanger}"
                                 animate="false"
                                 type="success"
                                 style="width:{{measurePerf.performance}}%;"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="10">
                                {{measurePerf.performance === "0" ? null : measurePerf.performance}}
                            </div>
                        </div>
                    </td>
                    <td>{{measurePerf.pointsEarned}}</td>
                </tr>
                <tr>
                    <td colspan="9" class="empty-row"></td>
                </tr>
                <tr ng-repeat="measureBonus in amcMeasure.measureReportBonusPoints">
                    <td>{{measureBonus.no}}</td>
                    <td style="text-align: left;"><a href="#"><strong>{{measureBonus.category}}</strong></a></td>
                    <td style="text-align: left;"><a href="#" title="{{measureBonus.description}}">{{measureBonus.measureName}}</a></td>
                    <td><a style="cursor:pointer;" ng-click="amcMeasure.goToANRMeasureReport(measureBonus);">{{measureBonus.numerator}}</a></td>
                    <td>{{measureBonus.denominator}}</td>
                    <td>{{measureBonus.possiblePoints}}</td>
                    <td>{{measureBonus.performanceGoals}}</td>
                    <td>
                        <div class="progress">
                            <div ng-hide="measureBonus.measureCode==30" progressbar ng-class="{'progress':true,'progress-bar-warning':measureBonus.classWarning,'progress-bar-danger': measureBonus.classDanger, 'progress-bar-success': !measureBonus.classDanger}"
                                 animate="false"
                                 type="success"
                                 style="width:{{measureBonus.performance}};"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="10">
                                {{measureBonus.performance === "0" ? null : measureBonus.performance}}
                            </div>
                            <div ng-show="measureBonus.measureCode==30" progressbar ng-class="{'progress':true,'progress-bar-warning':measureBonus.classWarning,'progress-bar-danger': !amcMeasure.isCEHRT, 'progress-bar-success': amcMeasure.isCEHRT}"
                                 animate="false"
                                 type="success"
                                 aria-valuenow="60"
                                 aria-valuemin="0"
                                 aria-valuemax="10">
                                {{amcMeasure.isCEHRT ? "YES" : "NO"}}
                            </div>
                        </div>
                    </td>
                    <td>{{measureBonus.measureCode==30? amcMeasure.isCEHRT?measureBonus.possiblePoints:0 : measureBonus.pointsEarned}}</td>
                </tr>
                <tr>
                    <td colspan="9" class="empty-row"></td>
                </tr>
                <tr>
                    <td ng-hide="true">{{amcMeasure.countedACIScore = amcMeasure.isSecuityAys && amcMeasure.isBaseScoreValid ? amcMeasure.totalMeasurePoints + amcMeasure.CEHRTValue : 0}}</td>
                    <td ng-if="amcMeasure.selectedYear =='2018'" colspan="9" style="text-align: right;" class="bg-white">
                        <strong>
                            Total ACI Points Earned:
                            {{amcMeasure.totalACIMeasurePts = amcMeasure.countedACIScore > 100 ? 100 : (amcMeasure.countedACIScore |number:2)}}
                            / 100
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td ng-if="amcMeasure.selectedYear =='2018'" colspan="9" style="text-align: right;" class="bg-white">
                        <strong>
                            MIPS-ACI Score:
                            {{amcMeasure.aciScorePts = amcMeasure.countedACIScore > 100 ? 25 : ((amcMeasure.countedACIScore/4) |number:2)}}/ 25
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- /table-->
    </div>

        <div class="panel-footer">



            <div class="col-md-12 nopadding" ng-if="amcMeasure.selectedYear =='2018'">
            <div class="col-md-6 nopaddingLEFT">
                
                <ul class="list-group performance-keys" style="width:100%;">
                    <li class="list-group-item">
                        <div class="performance-keysicon-green"></div>
                        <span>Yes value, Performance percentage &ge; Performance goal. </span>
                    </li>
                    <li class="list-group-item">
                        <div class="performance-keysicon-yellow"></div>
                        <span>Performance percentage is &lt; performance goal but &gt; 90% of the performance goal.</span>
                    </li>
                    <li class="list-group-item">
                        <div class="performance-keysicon-red"></div>
                        <span>No value, Performance percentage is &lt; 90% of the performance goal. </span>
                    </li>
                </ul>

            </div>

                <div class="col-md-4 nopaddingRIGHT pull-right">
                    </div>
            </div>






        <div class="col-md-12 nopadding" ng-if="amcMeasure.selectedYear =='2019'">
            <div class="col-md-6 nopaddingLEFT">
                <h6>Numeric Measure :</h6>
                <ul class="list-group performance-keys" style="width:100%;">
                    <li class="list-group-item">
                        <div class="performance-keysicon-green"></div>
                        <span>Performance percentage &ge; Performance goal. </span>
                    </li>
                    <li class="list-group-item">
                        <div class="performance-keysicon-yellow"></div>
                        <span>Performance percentage is &lt; performance goal but &gt; 90% of the performance goal.</span>
                    </li>
                    <li class="list-group-item">
                        <div class="performance-keysicon-red"></div>
                        <span>Performance percentage is &lt; 90% of the performance goal. </span>
                    </li>
                    <li class="list-group-item">
                        <div class="performance-keysicon-gray"></div>
                        <span>Performance goal not defined, Denominator value '0', Numerator value '0'. </span>
                    </li>
                </ul>

            </div>

            <div class="col-md-4 nopaddingRIGHT pull-right">
                <h6>Non-Numeric Measure :</h6>
                <ul class="list-group performance-keys" style="width:100%;">
                    <li class="list-group-item">
                        <div class="performance-keysicon-green"></div>
                        <span>Yes Value </span>
                    </li>
                    <li class="list-group-item">
                        <div class="performance-keysicon-red"></div>
                        <span>No Value</span>
                    </li>
                </ul>

            </div>

        </div>






        <div class="col-md-12 nopadding">
            <div class="form-group pull-right">
                <button class="btn btn-primary btn-xs" ng-click="amcMeasure.goBackToPreviousScreen();">
                    <i class="fa fa-arrow-left" ng-click="amcMeasure.goBackToPreviousScreen();"></i> Back
                </button>
                <div class="dropdown">
                    <button class="btn btn-primary btn-xs dropbtn">Export</button>
                    <div class="dropdown-content">
                        <a href="#" ng-click="amcMeasure.exportAmcData('excel');">Excel</a>
                        <a href="#" ng-click="amcMeasure.exportAmcData('csv');">CSV</a>
                    </div>
                </div>
                <button class="btn btn-primary btn-xs no-margin" ng-click="amcMeasure.printAMcMeasureReport();">Print</button>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <!-- /panel-footer -->
</div>



<div class="container" id="printAMCMeasureGrid" style="display:none">


    <style>

        @media print {

          
            body * {
                visibility: visible;
                font-family:Arial, sans-serif;
            }

            #printSection, #printSection * {
                visibility: visible;
            }

            #printSection {
                position: absolute;
                left: 0;
                top: 0;
                background-color: blue;
            }
        }

        .performance-success {
            color: black;
            padding: 3px 5px;
            background-color: #5cb85c;
            display: inline-block;
            font-weight: normal;
            width: 40px;
            text-align: center;
        }

        .performance-warning {
            color: black;
            padding: 3px 5px;
            background-color: #e6f159;
            display: inline-block;
            font-weight: normal;
            width: 40px;
            text-align: center;
        }

        .performance-danger {
            color: black;
            padding: 3px 5px;
            background-color: #d9534f;
            display: inline-block;
            font-weight: normal;
            width: 40px;
            text-align: center;
        }

        .not-applicable {
            color: black;
            padding: 3px 5px;
            background-color: #b6b6b6;
            display: inline-block;
            font-weight: normal;
            width: 40px;
            text-align: center;
        }



        .performance-success {
            color: black;
            padding: 2px 5px;
            background-color: #5cb85c;
            display: inline-block;
            font-weight: normal;
            width: 40px;
            text-align: center;
        }

        .performance-warning {
            color: black;
            padding: 2px 5px;
            background-color: #e6f159;
            display: inline-block;
            font-weight: normal;
            width: 40px;
            text-align: center;
        }

        .performance-danger {
            color: black;
            padding: 2px 5px;
            background-color: #d9534f;
            display: inline-block;
            font-weight: normal;
            width: 40px;
            text-align: center;
        }

        .not-applicable {
            color: black;
            padding: 2px 5px;
            background-color: #b6b6b6;
            display: inline-block;
            font-weight: normal;
            width: 40px;
            text-align: center;
        }

        .empty-row {
            padding: 0px !important;
            border-top: solid 2px #dedede !important;
            height: 0px !important;
        }

        .nowrap {
        white-space: nowrap ;
      }
    </style>


        <div class="content" style="margin-top: 20px;">
            <!-- <div class="logo" style="text-align: center;"> <img src="logo.png" /> </div>-->
            <div>
                <label style="float: left;"><strong>Date - Time: {{amcMeasure.currentDate | date : 'short'}}</strong></label>
                <label style="float: right;"><strong>User Name: {{amcMeasure.userObject}} </strong></label>
            </div>
            <div style="text-align: center; clear: both;">
                <label ng-if="amcMeasure.groupFlag"><strong>{{amcMeasure.clinicianName}} - {{amcMeasure.clinicianNPI}}</strong></label>
                <label ng-if="amcMeasure.IndividualFlag"><strong>{{amcMeasure.clinicianName}} - {{amcMeasure.clinicianNPI}}</strong></label>
                <label ng-if="amcMeasure.groupFlag"><strong> {{amcMeasure.clinicianTIN }}</strong></label>
                <br>
                <label ng-if="!amcMeasure.groupFlag"><strong>{{amcMeasure.selectedGroupName}}-{{amcMeasure.selectedGroupTIN }}</strong></label>
                <br />
                <label><strong>{{ amcMeasure.practiceDetailsPrintObj.name}}</strong></label>
                <br>
                <label>
                    <span>{{amcMeasure.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="amcMeasure.practiceDetailsPrintObj.addressline2">{{amcMeasure.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="amcMeasure.practiceDetailsPrintObj.city">{{amcMeasure.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="amcMeasure.practiceDetailsPrintObj.state">{{amcMeasure.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="amcMeasure.practiceDetailsPrintObj.country">{{amcMeasure.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="amcMeasure.practiceDetailsPrintObj.zip">{{amcMeasure.practiceDetailsPrintObj.zip}}</span>
                </label>
            </div>
            <div>
                <label style="float: left;"><strong>Reporting Period: {{amcMeasure.fromDate}} - {{amcMeasure.toDate}}</strong></label>
                <label style="float: right;"><strong>Measure Set:{{amcMeasure.stageName}}</strong></label>
            </div>
            <br>
            <table id="amc-aci-stage2"  width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;">
                <thead>
                    <tr class="header">
                        <th><div>No.</div></th>
                        <th ng-if="amcMeasure.selectedYear =='2018'"><div>Category</div></th>
                        <th><div>Measure Name</div></th>
                        <th><div>Numerator</div></th>
                        <th><div>Denominator</div></th>
                        <th><div>Possible Points</div></th>
                        <th><div>Performance Goal</div></th>
                        <th><div>Performance</div></th>
                        <th ng-if="amcMeasure.selectedYear =='2018'"><div>Points Earned</div></th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr>
                        <td colspan="9" class="empty-row"></td>
                    </tr>-->
                    <tr ng-repeat="measurePerf in amcMeasure.measureReportPerformancePoints">
                        <td>{{measurePerf.no}}</td>
                        <td style="text-align: left;" ng-if="amcMeasure.selectedYear =='2018'" ><strong>{{measurePerf.category}}</strong></td>
                        <td style="text-align: left;">{{measurePerf.measureName}}</td>
                        <td>{{measurePerf.numerator}}</td>
                        <td>{{measurePerf.denominator}}</td>
                        <td>{{measurePerf.possiblePoints}}</td>
                        <td>{{measurePerf.performanceGoals}}</td>
                        <td>
                            <div class="progress">
                                <div progressbar ng-class="{'progress':true,'progress-bar-warning':measurePerf.classWarning,'progress-bar-danger': measurePerf.classDanger, 'progress-bar-success': !measurePerf.classDanger}"
                                     animate="false"
                                     type="success"
                                     style="width:{{measurePerf.performance}}%;"
                                     aria-valuenow="60"
                                     aria-valuemin="0"
                                     aria-valuemax="10">
                                    {{measurePerf.performance === "0" ? null : measurePerf.performance}}
                                </div>
                            </div>
                        </td>
                        <td ng-if="amcMeasure.selectedYear =='2018'">{{measurePerf.pointsEarned}}</td>
                    </tr>
                    <tr ng-repeat="measure in amcMeasure.measureReportBaseScore">
                        <td>{{measure.no}}</td>
                        <td style="text-align: left;" ng-if="amcMeasure.selectedYear =='2018'">{{measure.category}}</td>
                        <td style="text-align: left;">{{measure.measureName}}</td>
                        <td ng-if="amcMeasure.selectedYear =='2018'">{{measure.numerator}}</td>
                        <td ng-if="amcMeasure.selectedYear =='2018'">{{measure.denominator}}</td>
                        <td ng-if="amcMeasure.selectedYear =='2019'"></td>
                        <td ng-if="amcMeasure.selectedYear =='2019'"></td>
                        <td ng-if="amcMeasure.selectedYear =='2019'"></td>
                        <td ng-if="amcMeasure.selectedYear =='2019'"></td>
                        <td  ng-if="amcMeasure.selectedYear =='2018'">{{measure.possiblePoints}}</td>
                        <td ng-if="amcMeasure.selectedYear =='2018'">{{measure.performanceGoals}}</td>
                        <td style="width:15%;">
                            <div class="progress" ng-show="{{measure.showProgressBar}}">
                                <div class="progress-bar"
                                     ng-class="{'progress-bar-danger': measure.classDanger, 'progress-bar-success': !measure.classDanger}"
                                     role="progressbar"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="10"
                                     style="width: 100%;">
                                    <!--100-->
                                    {{measure.performance}}
                                </div>
                            </div>
                        </td>
                        <td ng-if="amcMeasure.selectedYear =='2018'">{{measure.pointsEarned}}</td>
                    </tr>
                    <!--<tr>
                        <td colspan="9" class="empty-row"></td>
                    </tr>-->
                    <tr ng-repeat="measureBonus in amcMeasure.measureReportBonusPoints">
                        <td>{{measureBonus.no}}</td>
                        <td style="text-align: left;" ng-if="amcMeasure.selectedYear =='2018'"><strong>{{measureBonus.category}}</strong></td>
                        <td style="text-align: left;">{{measureBonus.measureName}}</td>
                        <td>{{measureBonus.numerator}}</td>
                        <td>{{measureBonus.denominator}}</td>
                        <td>{{measureBonus.possiblePoints}}</td>
                        <td>{{measureBonus.performanceGoals}}</td>
                        <td>
                            <div class="progress">
                                <div progressbar ng-class="{'progress':true,'progress-bar-warning':measureBonus.classWarning,'progress-bar-danger': measureBonus.classDanger, 'progress-bar-success': !measureBonus.classDanger}"
                                     animate="false"
                                     type="success"
                                     style="width:{{measureBonus.performance}};"
                                     aria-valuenow="60"
                                     aria-valuemin="0"
                                     aria-valuemax="10">
                                    {{measureBonus.performance}}
                                </div>
                            </div>
                        </td>   
                        <td ng-if="amcMeasure.selectedYear =='2018'">{{measureBonus.pointsEarned}}</td>
                    </tr>
                    <!--<tr>
                        <td colspan="9" class="empty-row"></td>
                    </tr>-->
                    <tr>
                        <td colspan="9" style="text-align: right;" class="bg-white"  ng-if="amcMeasure.selectedYear =='2018'"><strong>Total ACI Points Earned: {{amcMeasure.totalACIMeasurePts}}/ 100</strong></td>
                    </tr>
                    <tr>
                        <td colspan="9" style="text-align: right;" class="bg-white"  ng-if="amcMeasure.selectedYear =='2018'"><strong>MIPS-ACI Score: {{amcMeasure.aciScore}}/ 25</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
          
        </div>
    </div>


