﻿<div id="tokenMessage"></div>

<script>
    $(document).ready(function () {
        localStorage.removeItem('TokenValue');
        localStorage.removeItem('ProductKey');
        localStorage.removeItem('emergencyAccess');
            $('#tokenMessage').text('Your session expired. You are logged out from ACI');
        });
</script>
