﻿<div class="subCONTAINER panel">
    <div class="col-md-6 nofloat startPAGE">

        <fieldset>
            <legend>RCP MODULE</legend>
            <p class="lead">
                Select <i class="fa fa-dashboard"></i> dashboard icon to launch MIPS performance dashboard.
            </p>
            <p class="lead">Select <i class="fa fa-gear"></i> Settings icon to access the MIPS configuration screens. </p>
        </fieldset>

    </div>
    <img src="common/content/images/eye-care-leaders-logo.png" class="startIMG" />
</div>