﻿<div>


    <div class="panel">
        <div class="panel-heading">
            <div class="practice-info-buttons">
                <div class="pull-left">
                    <button ng-class="practiceInfo.isGroup ? 'btn-success': 'btn-default'" class="btn" ng-click="practiceInfo.redirectToGroup();">GROUP</button>
                    <button ng-class="!practiceInfo.isGroup ? 'btn-success': 'btn-default'    " class="btn" ng-click="practiceInfo.redirectToIndividual();">INDIVIDUAL CLINICIAN</button>
                </div>
                <div class="header-right">
                    <div class="form-inline">
                        <div class="form-group" ng-if="practiceInfo.isGroup">
                            <input type="hidden" ng-model="practiceInfo.groupReportingId" />
                            <label>Group Name <span class="text-danger">*</span></label>
                            <input type="text" id="groupNameTxt" class="form-control" ng-class="{'errorClass':practiceInfo.IsGroupNameNotValid}" placeholder="Group Name" ng-model="practiceInfo.groupName" no-special-char ng-blur="practiceInfo.isGroupNameValid($event);" required maxlength="25">
                        </div>
                        <div class="form-group" ng-if="practiceInfo.isGroup">
                            <label>Group TIN <span class="text-danger">*</span></label>
                            <input type="text" id="groupTINTxt" class="form-control" ng-class="{'errorClass':practiceInfo.IsGroupTINNotValid}" placeholder="Group TIN" ng-model="practiceInfo.groupTIN" numbers-only ng-blur="practiceInfo.isGroupTINValid($event);"   required maxlength="9">
                        </div>
                        <div class="form-group">
                            <label>Attributes </label>
                            <span id="practiceMultiselect" ng-dropdown-multiselect="" options="practiceInfo.attributesList"
                                  selected-model="practiceInfo.selectedAttributesToList" checkboxes="true"
                                  extra-settings="practiceInfo.settings"></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /panel-heading -->

        <div class="panel-body paddingTOP">
            <div class="row">
                <div class="col-md-5" ng-if="practiceInfo.isGroup">
                    <h4>Group - Reporting Entity List</h4>
                    <div class="panel-group accordionsection" id="accordion4">
                        <div class="panel panel-inverse groupLIST" ng-repeat="group in practiceInfo.groupBillingList">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="collapsed" ng-click="practiceInfo.getIndex($index,$event);" data-parent="#accordion4" href="#collapse{{group.tin}}">
                                        <span class="badge pull-right mr20" ng-if="group.nonParticipants.length == 0">All Clinicians</span>
                                        <span ng-click="practiceInfo.editGroup($index);">
                                            {{group.groupName}} | {{group.tin}}
                                            <label>
                                                <span ng-repeat="attribute in group.attributes">{{attribute.name}}{{$last ? '' : ', '}}</span>
                                            </label>
                                        </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{group.tin}}" class="panel-collapse collapse">
                                <div class="panel-body paddingTOP">
                                    <div class="listgroup1">
                                        <h4 class="list-group-item-heading">Participants</h4>
                                        <ul class="list-group nomargin" ui-on-Drop="onDrop($event,$data,participant)">
                                            <li class="list-group-item"
                                                ui-draggable="true" drag="participant"
                                                on-drop-success="practiceInfo.dropSuccessHandler($event, $index, participant, 'participantArray')"
                                                ng-repeat="participant in group.participants" title="Clinician TIN : {{participant.tin}}">{{participant.clinician}}({{participant.npi}})</li>
                                            <li class="list-group-item" ng-if="group.participants.length == 0">&nbsp;</li>
                                        </ul>
                                    </div>
                                    <br />
                                    <div class="listgroup2">
                                        <h4 class="list-group-item-heading">Nonparticipants</h4>
                                        <ul class="list-group nomargin" ui-on-Drop="onDrop($event,$data,noParticipant)">
                                            <li class="list-group-item"
                                                ui-draggable="true" drag="noParticipant"
                                                on-drop-success="practiceInfo.dropSuccessHandler($event, $index, noParticipant, 'nonParticipantArray')"
                                                ng-repeat="noParticipant in group.nonParticipants" title="Clinician TIN : {{noParticipant.tin}}">{{noParticipant.clinician}}({{noParticipant.npi}})</li>
                                            <li class="list-group-item" ng-if="group.nonParticipants.length == 0">&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" ng-if="!practiceInfo.isGroup">
                    <h4>Individual - Reporting Entity List</h4>
                    <div class="table-float-wrapper height-155">
                        <table class="table table-float" id="practice-individual-configlist">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-center"><strong>Clinicians Reporting Independently</strong></th>
                                </tr>
                                <tr class="header">
                                    <th>Name</th>
                                    <th>NPI</th>
                                    <th>TIN</th>
                                    <th>Attributes</th>
                                </tr>
                            </thead>
                            <tbody ui-on-Drop="onDrop($event,$data,billing)">
                                <tr ui-draggable="true" drag="billing"
                                    on-drop-success="practiceInfo.dropSuccessHandlerIndividual($event, $index, billing, 'participantArray')"
                                    ng-repeat="billing in practiceInfo.individualBillingList.cliniciansBillingIndipendently"
                                    ng-click="practiceInfo.editIndividual($index);">
                                    <td><div class="nowrap">{{billing.clinician}}</div></td>
                                    <td><div class="nowrap">{{billing.npi}}</div></td>
                                    <td><div class="nowrap">{{billing.tin}}</div></td>
                                    <td><div class="nowrap"><span ng-repeat="attribute in billing.attributesList">{{attribute.name}}{{$last ? '' : ', '}}</span></div></td>
                                </tr>
                                <tr ng-if="practiceInfo.individualBillingList.cliniciansBillingIndipendently.length == 0">
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-float-wrapper height-155">
                        <table class="table table-float" id="practice-individual-configlist">
                            <thead>
                                <tr>
                                    <th colspan="3" class="text-center"><strong>Clinicians Not Reporting Independently</strong></th>
                                </tr>
                                <tr class="header">
                                    <th>Name</th>
                                    <th>NPI</th>
                                    <th>TIN</th>
                                </tr>
                            </thead>
                            <tbody ui-on-Drop="onDrop($event,$data,notBilling)">
                                <tr ui-draggable="true" drag="notBilling"
                                    on-drop-success="practiceInfo.dropSuccessHandlerIndividual($event, $index, notBilling, 'nonParticipantArray')"
                                    ng-repeat="notBilling in practiceInfo.individualBillingList.cliniciansNotBillingIndipendently">
                                    <td><div class="nowrap">{{notBilling.clinician}}</div></td>
                                    <td><div class="nowrap">{{notBilling.npi}}</div></td>
                                    <td><div class="nowrap">{{notBilling.tin}}</div></td>
                                </tr>
                                <tr ng-if="practiceInfo.individualBillingList.cliniciansNotBillingIndipendently.length == 0">
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /table-float-wrapper -->
                </div>
                <div class="col-md-2 text-center">
                    <button class="btn btn-default btn-arrow-left" ng-disabled="practiceInfo.disableArrowButton" ng-click="practiceInfo.moveGroupInfo();"><i class="fa fa-3x fa-arrow-left"></i></button>
                </div>
                <div class="col-md-5">
                    <h4 class="pull-left">Clinician List</h4><span class="text-danger">*</span>
                    <button class="btn btn-xs btn-default pull-right" ng-click="practiceInfo.selectAllRows()">Select All</button>
                    <div class="clearfix"></div>
                    <div class="">
                        <div id="cliniciansList" ui-grid="practiceInfo.cliniciansGrid" style="height:250px" ui-grid-selection ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize></div>
                    </div>
                    <!-- /table-float-wrapper -->
                </div>
            </div>
            <!----/row------------------------>
        </div>
        <!-- /panel-body -->

        <div class="panel-footer">
            <div class="col-sm-10"> </div>
            <div class="col-sm-2">
                <div class="form-group pull-right">
                    <button class="btn btn-default" ng-click="practiceInfo.clearData();">Cancel</button>
                    <button class="btn btn-primary" ng-dblclick="practiceInfo.isDataModified=true" ng-disabled="practiceInfo.isDataModified" ng-click="practiceInfo.saveBillingInfo();">Save</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /panel-footer -->
    </div>


</div>
<style>
    .topRow {
        margin-bottom: 30px;
    }

    .on-drag-enter {
        background-color: #aaaaaa;
    }

    .on-drag-hover:before {
        content: '';
        display: block;
        color: white;
        font-size: x-large;
        font-weight: 800;
    }

    .errorClass {
        border: 1px solid red;
    }
</style>