﻿
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Registry</h4>
            </div>
            <!-- /panel-heading -->
            <div class="">
                <ng-form name="griForm" novalidate>
                    <table class="table table-float " id="griUser-list">
                        <thead>
                            <tr class="header">
                                <th class="text-center">#</th>

                                <th>
                                    <a href="#" style="color:#293470;" ng-click="reverseSort = griUser.sortByName();">Name</a>
                                    <i class="ui-grid-icon-down-dir" aria-hidden="true" ng-hide="griUser.reverseSort" ng-click="reverseSort = griUser.sortByName();">&nbsp;</i>
                                    <i class="ui-grid-icon-up-dir" aria-hidden="true" ng-hide="!griUser.reverseSort" ng-click="reverseSort = griUser.sortByName();">&nbsp;</i>
                                </th>
                                <th>Type</th>
                                <th>Enabled/Disabled</th>
                                <th colspan="2">Reporting Period</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="griDef in griUser.gridNewData | orderBy:orderByField:reverseSort ">
                                <td class="text-center">{{$index+1}}</td>
                                <td data-toggle="tooltip" title="{{griDef.name}}">{{griDef.name}}</td>
                                <td data-toggle="tooltip" title="{{griDef.registryName}}"> {{griDef.registryName}}</td>
                                <td class="width150">
                                    <md-switch id="enabled" aria-label="md-switch" name="enabled" ng-disabled="!griDef.isIrisEnabled" ng-model="griDef.isEnabled"
                                               ng-change="griUser.setStartEndDates(griDef);" class="green"></md-switch>
                                </td>

                                        <td class="width200" ng-class="{'has-error': griForm.fromDate.$dirty && griForm.fromDate.$error.required}">
                                            <label style="display:block;">From</label>
                                            <aci-datepicker input-name="fromDate" required ng-disabled="griUser.setReadOnlyIfIrisEnabled(griDef)"
                                                            min-date="griUser.currentDate" max-date="griUser.yearEndDate"
                                                            date-changed="griUser.onDateChange(griDef);"
                                                            ng-model="griDef.fromDate"></aci-datepicker>
                                        </td>
                                        <td class="width200">
                                            <label style="display:block;">To</label>
                                            <aci-datepicker input-name="EndDate" required ng-disabled="griUser.setReadOnlyIfIrisEnabled(griDef)"
                                                            min-date="griUser.yearStartDate" max-date="griUser.yearEndDate"
                                                            date-changed="griUser.onDateChange(griDef);"
                                                            ng-model="griDef.toDate"></aci-datepicker>
                                        </td>
                                        <td>
                                            <button id="btnsave" ng-click="griUser.saveDetails(griDef)" class="btn btn-primary" ng-disabled="!griDef.isEnableSave"><i class="fa fa-save"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                </tbody>
                            </table>
                        </ng-form>
                    </div>
                </div>
                <!-- /table-float-wrapper -->
            </div>
            <!-- /panel -->
        </div>
        <!-- /row -->
    <!--</section>
</div>-->
