﻿<div class="panel panel-heading amc-group" style="min-height: auto; padding-bottom: 20px;">
    <div class="clearfix form-inline">

       
           
                <ng-form name="reportingForm" novalidate>
                   
                        <div class="form-group width120">
                            <label class="control-label" style="display:block;">Reporting Period</label>
                            <button class="btn btn-primary btn-xs" ng-click="muMeasure.setFullCalender();" style="width:100%;">Full Calendar Year</button>
                            
                        </div>
                   
                   
                        <div class="form-group width110">
                            <label class="control-label" style="display:block;">From</label>
                            <aci-datepicker ng-model="muMeasure.fromDate" ng-required="true" input-name="fromDate" form-name="reportingForm"
                                            min-date="muMeasure.minFromDate"
                                            max-date="muMeasure.maxFromDate"
                                            date-changed="muMeasure.onFromDateChange()" from-submmited="submitted"></aci-datepicker>
                        </div>
                    
                    
                        <div class="form-group width110">
                            <label class="control-label" style="display:block;">To</label>
                            <aci-datepicker ng-model="muMeasure.toDate" ng-required="true" input-name="toDate"
                                            min-date="muMeasure.minToDate"
                                            max-date="muMeasure.maxToDate"
                                            date-changed="muMeasure.onToDateChange()" from-submmited="submitted" form-name="reportingForm">
                            </aci-datepicker>
                        </div>
                    
                   
                        <div class="form-group width150">
                            <label class="control-label" style="display:block;">No. of Reporting Days</label>
                            <input class="form-control" ng-model="muMeasure.reportingDuration" readonly>
                        </div>
                  
                   
                        <div class="form-group width250">
                            <label class="control-label" style="display:block;">Measure Set</label>
                            <select class="form-control" ng-model="muMeasure.stageCode"
                                    ng-disabled="muMeasure.disableMeasureSetDropDown"
                                    ng-change="muMeasure.getMUMeasureReport();"
                                    ng-options="measure.stageCode as measure.stageName for measure in muMeasure.measureSetList"></select>
                        </div>
                   
                    
                        <div class="form-group width250">
                            <label class="control-label" style="display:block;">Clinician</label>
                            <input class="form-control" ng-model="muMeasure.MUphysicianNPI" ng-if="muMeasure.MUphysicianNPI" readonly>
                            <select class="form-control" ng-model="muMeasure.physicianNPI" ng-if="muMeasure.MUphysicianNPI == null"
                                    ng-disabled="muMeasure.MUphysicianNPI"
                                    ng-change="muMeasure.getMUMeasureReport();" title="{{clinician.physicianName}}"
                                    ng-options="clinician.physicianNPI as clinician.physicianName for clinician in muMeasure.clinicianList"></select>
                        </div>
                    
                    
                        <div class="form-group">
                            <label style="display:block;" class="empty-label"></label>
                            <div>
                                <button class="btn btn-primary btn-xs" ng-click="muMeasure.clearFields();" ng-disabled="muMeasure.MUphysicianNPI">Clear</button>
                            </div>
                        </div>
                    
                </ng-form>

           
       

            </div>
        </div>
            <!-- /panel-heading -->
            <!-- /panel-body -->
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"> {{muMeasure.selectedStageAsTitle}} </h4>
                </div>
                <div class="table-float-wrapper">
                    <table class="table table-float table-success" id="amc-aci-stage2">
                        <thead>
                            <tr>
                                <th><div>Objective</div></th>
                                <th><div>Measure No.</div></th>
                                <th><div>Measure Name</div></th>
                                <th><div>Numerator</div></th>
                                <th><div>Denominator</div></th>
                                <th><div>MU Threshold</div></th>
                                <th width="200"><div>Performance</div></th>
                                <th width="80"><div>Exclude</div></th>
                                <th ng-hide="true">File path</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="obj in muMeasure.muMeasureReport">
                            <tr ng-repeat="measure in obj">
                                <td style="text-align: left;"><strong>{{$first ? measure.objective: ''}}</strong></td>
                                <td style="text-align: left;">{{measure.measureNo}}</td>
                                <td style="text-align: left;"><a ng-click="muMeasure.openMeasureDescriptionPdf(measure);">{{measure.measureName}}</a></td>
                                <td><a style="cursor:pointer;" ng-click="muMeasure.goToANRMeasureReport(measure);">{{measure.numerator}}</a></td>
                                <td>{{measure.denominator}}</td>
                                <td>{{measure.muThreshold}}</td>
                                <td style="width:15%;">
                                    <div class="progress">
                                        <div progressbar
                                             ng-class="{'progress':true,'progress-bar-warning':measure.classWarning,
                                     'progress-bar-danger': measure.classDanger, 'progress-bar-success': measure.classSuccess, 'progress-exclude':measure.classExclude}"
                                             animate="false"
                                             type="success"
                                             style="width:{{measure.performance}}%;"
                                             aria-valuenow="60"
                                             aria-valuemin="-1"
                                             aria-valuemax="10">
                                            {{measure.performance === 0 ? null : measure.performance}}
                                        </div>
                                    </div>
                                </td>
                                <td ng-hide="true">
                                    {{measure.measureCode}}
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="measure.isExclude" ng-if="measure.exclude !='NA'"
                                           ng-checked="measure.checked"
                                           ng-click="muMeasure.changeStatusBarColourOnCheckBox(measure,$index);">
                                    <label ng-if="measure.exclude !='Yes' && measure.exclude !='No'">{{measure.exclude}}</label>
                                </td>
                                <td ng-hide="true">{{measure.filePath}}</td>
                            </tr>
                            <tr>
                                <td colspan="9" class="empty-row"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
           
            <div class="panel-footer">
                <div class="col-md-9">
                    <ul class="list-group performance-keys">
                        <li class="list-group-item">
                            <div class="performance-keysicon-green"></div>
                            <span>Performance &ge; MU Threshold.</span>
                        </li>
                        <li class="list-group-item">
                            <div class="performance-keysicon-yellow"></div>
                            <span>Performance is &lt; MU Threshold but &gt; 90% of the MU Threshold.</span>
                        </li>
                        <li class="list-group-item">
                            <div class="performance-keysicon-red"></div>
                            <span> Performance is &lt; 90% of the MU Threshold.</span>
                        </li>
                        <li class="list-group-item">
                            <div class="performance-keysicon-gray"></div>
                            <span> Not applicable due to exclusion or physician not attesting for the measure during the reporting period.</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="form-group pull-right">
                        <span class="dropdown">
                            <button class="btn btn-primary btn-xs dropbtn">Export</button>
                            <div class="dropdown-content">
                                <a href="#" ng-click="muMeasure.exportAmcData('excel');">Excel</a>
                                <a href="#" ng-click="muMeasure.exportAmcData('csv');">CSV</a>
                            </div>
                        </span>


                        <button class="btn btn-primary btn-xs no-margin" ng-click="muMeasure.print();">Print</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- /panel-footer -->
        </div>
        <!--  Table with null values-->
        <div class="container" id="muMeasurediv" ng-show="false">
            <div class="content" style="margin-top: 20px;">
                <!-- <div class="logo" style="text-align: center;"> <img src="logo.png" /> </div>-->
                <div>
                    <label style="float: left;"><strong>Date - Time: {{muMeasure.currentDate | date : 'short'}}</strong></label>
                    <label style="float: right;"><strong>User Name: {{muMeasure.userObject}}</strong></label>
                </div>
                <div style="text-align: center; clear: both;">
                    <label><strong>{{muMeasure.clinicianName}}</strong></label>
                    <br>
                    <label><strong>Practice Name</strong></label>
                    <br>
                    <label>
                        <strong>
                            <span>{{muMeasure.practiceDetailsPrintObj.addressline1}}</span>
                            <span ng-if="muMeasure.practiceDetailsPrintObj.addressline2">{{muMeasure.practiceDetailsPrintObj.addressline2}}, </span>
                            <span ng-if="muMeasure.practiceDetailsPrintObj.city">{{muMeasure.practiceDetailsPrintObj.city}}, </span>
                            <span ng-if="muMeasure.practiceDetailsPrintObj.state">{{muMeasure.practiceDetailsPrintObj.state}}, </span>
                            <span ng-if="muMeasure.practiceDetailsPrintObj.country">{{muMeasure.practiceDetailsPrintObj.country}}, </span>
                            <span ng-if="muMeasure.practiceDetailsPrintObj.zip">{{muMeasure.practiceDetailsPrintObj.zip}}</span>

                        </strong>
                    </label>
                </div>
                <div>
                    <label style="float: left;"><strong>Reporting Period: {{muMeasure.fromDate}} - {{muMeasure.toDate}}</strong></label>
                    <label style="float: right;"><strong>Measure Set: {{muMeasure.muMeasureTitle}}</strong></label>
                </div>
                <br>
                <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="meaningfuluse1">
                    <thead>
                        <tr>
                            <th>Objective</th>
                            <th>Measure No.</th>
                            <th>Measure Name</th>
                            <th>Numerator</th>
                            <th>Denominator</th>
                            <th>MU Threshold</th>
                            <th>Performance</th>
                            <th>Exclude</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="measure in  muMeasure.muMeasureObject">

                            <td style="text-align: left;"><strong>{{measure.objective}}</strong></td>
                            <td style="text-align: left;">{{measure.measureNo}}</td>
                            <td style="text-align: left;">{{measure.measureName}}</td>
                            <td>{{measure.numerator}}</td>
                            <td>{{measure.denominator}}</td>
                            <td>{{measure.muThreshold}}</td>
                            <td style="width:15%;">
                                <div class="progress">
                                    <div progressbar
                                         ng-class="{'progress':true,'progress-bar-warning':measure.classWarning,
                                     'progress-bar-danger': measure.classDanger, 'progress-bar-success': measure.classSuccess, 'progress-exclude':measure.classExclude}"
                                         animate="false"
                                         type="success"
                                         style="width:{{measure.performance}}%;"
                                         aria-valuenow="60"
                                         aria-valuemin="-1"
                                         aria-valuemax="10">
                                        {{measure.performance === 0 ? null : measure.performance}}
                                    </div>
                                </div>
                            </td>
                            <td>

                                {{measure.exclude}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div>

            </div>
        </div>
