﻿<div class="header-filters">
    <form class="form">
        <div class="col-md-12 nopadding">
            <div class="col-md-10 nopadding list2">
                <ul>
                    <li>
                        <label>Reporting Entity Name</label>
                        <input type="text" class="input" ng-model="qualitydashboardCtrl.ReportingEntityName" ng-disabled="qualitydashboardCtrl.disableFields">
                    </li>
                    <li ng-if="qualitydashboardCtrl.NPI !=''">
                        <label>NPI</label>
                        <input type="text" class="input" ng-model="qualitydashboardCtrl.NPI" ng-disabled="qualitydashboardCtrl.disableFields">
                    </li>
                    <li>
                        <label>TIN</label>
                        <input type="text" class="input" ng-model="qualitydashboardCtrl.TIN" ng-disabled="qualitydashboardCtrl.disableFields">
                    </li>
                    <li>
                        <label style="white-space:nowrap;">Reporting Period </label>
                        <div class="selectdiv">
                            <select ng-model="qualitydashboardCtrl.selectedPerformanceYearId"
                                    ng-options="performanceYear.performanceYear for performanceYear in qualitydashboardCtrl.PerformanceYears"></select>
                        </div>
                    </li>
                    <li class="width90">
                        <label for="">From</label>
                        <input type="text" date="MM/dd/yyyy" class="width130" ng-model="qualitydashboardCtrl.fromdate" ng-disabled="qualitydashboardCtrl.disableFields">
                    </li>
                    <li class="width90">
                        <label for="">To</label>
                        <input type="text" date="MM/dd/yyyy" class="width130" ng-model="qualitydashboardCtrl.todate" ng-disabled="qualitydashboardCtrl.disableFields">
                    </li>
                </ul>
            </div>
            <div class="col-md-2">&#160;</div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>



<div class="addoncontent nopadding">

    <ul class="nav nav-pills">
        <li ng-class="{active:qualitydashboardCtrl.isSet(1)}">
            <a ng-click="qualitydashboardCtrl.setTab(1)">
                REPORTING MEASURES
            </a>
        </li>
        <li ng-class="{active:qualitydashboardCtrl.isSet(2)}">
            <a ng-click="qualitydashboardCtrl.setTab(2)">
                MONITORING MEASURES
            </a>
        </li>
    </ul>

    <div class="content noborderBOTTOM qualityDASHBOARD" style="margin-top:-1px;" ng-show="qualitydashboardCtrl.isSet(1)">

        <div class="table-responsive">
            <table class="table quality dashboard" id="">
                <thead>
                    <tr>
                        <th width="">Quality ID</th>
                        <th width="40%" class="nowrap">Measure Name</th>
                        <th width="" class="nowrap">Numerator</th>
                        <th width="">Denominator</th>
                        <th width="">
                            <div class="btn-group">
                                <button type="button" class="btn btn-per-BTN nopaddingLEFT">{{qualitydashboardCtrl.PerformancePercButton}}</button>
                                <button type="button" class="btn btn-perBTN dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fa fa fa-caret-down">&#160;</span>
                                </button>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item" href="" ng-click="qualitydashboardCtrl.loadNational();">National Average</a></li>
                                        <li><a class="dropdown-item" href="" ng-click="qualitydashboardCtrl.loadPerfomamceGoal();">Performance Goals</a></li>

                                        <li><a class="dropdown-item" ng-disabled="true" href="#">Registry Average</a></li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                        <th width="">Achievement Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dashboard in qualitydashboardCtrl.MeasuresDashboardTableData">

                        <td class="text-center">
                            <a href="">{{dashboard.qualityId}}</a>

                        </td>
                        <td class="text-left">
                            <a href="">{{dashboard.measureName}}</a>
                            <div class="sub">
                                <ul>
                                    <li><label ng-show="{{dashboard.isOutCome}}" class="outcome">Outcome</label></li>
                                    <li><label ng-show="{{dashboard.isHighPriority}}" class="hp">High Priority</label></li>
                                    <li><label ng-show="{{dashboard.isInverse}}" clas class="inverse">Inverse</label></li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-center">{{dashboard.numerator}}</td>
                        <td class="text-center">{{dashboard.denominator}}</td>
                        <td>
                            <div class="pmarginleft" ng-if="qualitydashboardCtrl.isshowPerfomance==true">
                                <div class="pbar pull-left">
                                    <div class="barWrapper">
                                        <div class="progress goal-progressbar">
                                            <div class="progress-bar tooltip1 " role="progressbar" data-container="body" data-aria-valuenow="{{dashboard.performanceGoals}}" data-toggle="tooltip"
                                                 data-aria-valuemin="0" data-aria-valuemax="100" style="width:{{dashboard.performanceGoals}}%">
                                                <span class="tooltiptext1">Goal {{dashboard.performanceGoals}}%</span>
                                            </div>
                                        </div>

                                        <!--<div class="progress goal-progressbar" ng-if="qualitydashboardCtrl.isshowNational==true">
                                            <div class="progress-bar tooltip1 " role="progressbar" data-container="body" data-aria-valuenow="{{dashboard.performanceGoals}}" data-toggle="tooltip"
                                                 ng-if="qualitydashboardCtrl.isshowNational==true" data-aria-valuemin="0" data-aria-valuemax="100" style="width:{{dashboard.performanceGoals}}%">
                                                <span class="tooltiptext1">{{dashboard.nationalAverage}}%</span>
                                            </div>
                                        </div>-->

                                        <div class="progress">
                                            <div progressbar ng-class="{'progress-bar-warning':dashboard.classWarning,'progress-bar-danger': dashboard.classDanger, 'progress-bar-success': dashboard.classSuccess}"
                                                 animate="false"
                                                 type="success"
                                                 style="width:{{dashboard.performancePercentage}}%"
                                                 aria-valuenow={{dashboard.performancePercentage}}
                                                 aria-valuemin="0"
                                                 aria-valuemax="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right pvalue">{{dashboard.performancePercentage}}%</div>
                            </div>



                            <div class="pmarginleft" ng-if="qualitydashboardCtrl.isshowNational==true">
                                <div class="pbar pull-left">
                                    <div class="barWrapper">
                                        <!--<div class="progress goal-progressbar">
                                            <div class="progress-bar tooltip1 " role="progressbar" data-container="body" data-aria-valuenow="{{dashboard.performanceGoals}}" data-toggle="tooltip"
                                                 data-aria-valuemin="0" data-aria-valuemax="100" style="width:{{dashboard.performanceGoals}}%">
                                                <span class="tooltiptext1">Goal {{dashboard.performanceGoals}}%</span>
                                            </div>
                                        </div>-->

                                        <div class="progress goal-progressbar" ng-if="qualitydashboardCtrl.isshowNational==true">
                                            <div class="progress-bar tooltip1 " role="progressbar" data-container="body" data-aria-valuenow="{{dashboard.nationalAverage}}" data-toggle="tooltip"
                                                 ng-if="qualitydashboardCtrl.isshowNational==true" data-aria-valuemin="0" data-aria-valuemax="100" style="width:{{dashboard.nationalAverage}}%">
                                                <span class="tooltiptext1">{{dashboard.nationalAverage}}%</span>
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div progressbar ng-class="{'progress-bar-warning':dashboard.classWarning,'progress-bar-danger': dashboard.classDanger, 'progress-bar-success': dashboard.classSuccess}"
                                                 animate="false"
                                                 type="success"
                                                 style="width:{{dashboard.performancePercentage}}%"
                                                 aria-valuenow={{dashboard.performancePercentage}}
                                                 aria-valuemin="0"
                                                 aria-valuemax="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right pvalue">{{dashboard.performancePercentage}}%</div>
                            </div>

                        </td>
                        <td class="text-center">{{dashboard.achievementPoints}}</td>
                    </tr>

                </tbody>
            </table>


        </div>

        <div class="clearfix"></div>


        <div class="col-md-12 paddingTOP paddingBOTTOM borderTOP">
            <div class="col-md-6 nopaddingLEFT marginTOP marginBOTTOM text-center">
                <div style="display:table; margin: 0px auto;">
                    <div class="scoreBOX">
                        <h3>{{qualitydashboardCtrl.MIPSQualityScore | number : 2}} out of 50</h3>
                        MIPS Quality Score
                    </div>
                </div>
            </div>
            <div class="col-md-6 nopaddingRIGHT marginTOP">
                <div class="performanceLIST">
                    <ul>
                        <li>
                            <div class="performanceBOX text-center">
                                <h3>{{qualitydashboardCtrl.QualityPerformanceScore | number : 2}}%</h3>
                                Quality Performance Score
                            </div>
                        </li>
                        <li>
                            <button class="performanceBTN"><i class="fa fa-caret-right"></i></button>
                        </li>
                        <li>
                            <ul>
                                <li>Total Achievement Points = <span>{{qualitydashboardCtrl.totalAchievmentPts}}</span></li>
                                <li>Outcome And High Priority Bonus = <span>{{qualitydashboardCtrl.OutComeAndHighpriorityBonus}}</span></li>
                                <li>CEHRT Reporting Bonus = <span>{{qualitydashboardCtrl.cehrtBonusPoints}}</span></li>
                                <li>Total Quality Points Earned = <span>{{qualitydashboardCtrl.totalQtyPtsEarned}}</span></li>

                                <li ng-show="qualitydashboardCtrl.IsImprovementScore">Improvement Score = <span>{{qualitydashboardCtrl.ImprovementScore}}</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div class="content noborderBOTTOM qualityDASHBOARD" style="margin-top:-1px;" ng-show="qualitydashboardCtrl.isSet(2)">
        <div class="table-responsive">
            <table class="table quality" id="">
                <thead>
                    <tr>
                        <th width="">Quality ID</th>
                        <th width="40%" class="nowrap">Measure Name</th>
                        <th width="" class="nowrap">Numerator</th>
                        <th width="">Denominator</th>
                        <th width="">
                            <div class="btn-group">
                                <button type="button" class="btn btn-per-BTN nopaddingLEFT">{{qualitydashboardCtrl.PerformancePercButton}}</button>
                                <button type="button" class="btn btn-perBTN dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fa fa fa-caret-down">&#160;</span>
                                </button>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item" href="" ng-click="qualitydashboardCtrl.loadNational();">National Average</a></li>
                                        <li><a class="dropdown-item" href="" ng-click="qualitydashboardCtrl.loadPerfomamceGoal();">Performance Goals</a></li>
                                        <li><a class="dropdown-item" href="#">Registry Average</a></li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                        <th width="">Achievement Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dashboardMonitoring in qualitydashboardCtrl.MeasuresDashboardTableData">
                        <td class="text-center">
                            <a href="">{{dashboardMonitoring.qualityId}}</a>
                        </td>
                        <td class="text-left">
                            <a href="">{{dashboardMonitoring.measureName}}</a>
                            <div class="sub">
                                <ul>
                                    <li><label ng-show="{{dashboardMonitoring.isOutCome}}" class="outcome">Outcome</label></li>
                                    <li><label ng-show="{{dashboardMonitoring.isHighPriority}}" class="hp">High Priority</label></li>
                                    <li><label ng-show="{{dashboardMonitoring.isInverse}}" clas class="inverse">Inverse</label></li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-center">{{dashboardMonitoring.numerator}}</td>
                        <td class="text-center">{{dashboardMonitoring.denominator}}</td>
                        <td>
                            <div class="pmarginleft" ng-if="qualitydashboardCtrl.isshowPerfomance==true">
                                <div class="pbar pull-left">
                                    <div class="barWrapper">
                                        <div class="progress goal-progressbar">
                                            <div class="progress-bar tooltip1 " role="progressbar" data-container="body" data-aria-valuenow="{{dashboardMonitoring.performanceGoals}}" data-toggle="tooltip"
                                                 data-aria-valuemin="0" data-aria-valuemax="100" style="width:{{dashboardMonitoring.performanceGoals}}%">
                                                <span class="tooltiptext1">Goal {{dashboardMonitoring.performanceGoals}}%</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div progressbar ng-class="{'progress-bar-warning':dashboardMonitoring.classWarning,'progress-bar-danger': dashboardMonitoring.classDanger, 'progress-bar-success': dashboardMonitoring.classSuccess}"
                                                 animate="false"
                                                 type="success"
                                                 style="width:{{dashboardMonitoring.performancePercentage}}%"
                                                 aria-valuenow={{dashboardMonitoring.performancePercentage}}
                                                 aria-valuemin="0"
                                                 aria-valuemax="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right pvalue">{{dashboardMonitoring.performancePercentage}}%</div>
                            </div>

                            <div class="pmarginleft" ng-if="qualitydashboardCtrl.isshowNational==true">
                                <div class="pbar pull-left">
                                    <div class="barWrapper">
                                        <div class="progress goal-progressbar" ng-if="qualitydashboardCtrl.isshowNational==true">
                                            <div class="progress-bar tooltip1 " role="progressbar" data-container="body" data-aria-valuenow="{{dashboardMonitoring.nationalAverage}}" data-toggle="tooltip"
                                                 ng-if="qualitydashboardCtrl.isshowNational==true" data-aria-valuemin="0" data-aria-valuemax="100" style="width:{{dashboardMonitoring.nationalAverage}}%">
                                                <span class="tooltiptext1">{{dashboardMonitoring.nationalAverage}}%</span>
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div progressbar ng-class="{'progress-bar-warning':dashboardMonitoring.classWarning,'progress-bar-danger': dashboardMonitoring.classDanger, 'progress-bar-success': dashboardMonitoring.classSuccess}"
                                                 animate="false"
                                                 type="success"
                                                 style="width:{{dashboardMonitoring.performancePercentage}}%"
                                                 aria-valuenow={{dashboardMonitoring.performancePercentage}}
                                                 aria-valuemin="0"
                                                 aria-valuemax="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right pvalue">{{dashboardMonitoring.performancePercentage}}%</div>
                            </div>

                        </td>
                        <td class="text-center">{{dashboardMonitoring.achievementPoints}}</td>
                    </tr>
                    <!--<tr>
                        <td class="text-center">
                            <a href="">192</a>
                        </td>
                        <td class="text-left">
                            <a href="">Cataracts: Complications within 30 Days Following Cataract Surgery Requiring Additional Surgical Procedures</a>
                            <div class="sub">
                                <ul>
                                    <li><label class="outcome">Outcome</label></li>
                                    <li><label class="hp">High Priority</label></li>
                                    <li><label class="inverse">Inverse</label></li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-center">0</td>
                        <td class="text-center">75</td>
                        <td class="text-center">Progress bar 0.00%</td>
                        <td class="text-center">10.00</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="">019</a>
                        </td>
                        <td class="text-left">
                            <a href="">Diabetic Retinopathy: Communication with the Physician Managing Ongoing Diabetes Care</a>
                            <div class="sub">
                                <ul>
                                    <li><label class="hp">High Priority</label></li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-center">158</td>
                        <td class="text-center">450</td>
                        <td class="text-center">Progress bar 35.00%</td>
                        <td class="text-center">3.00</td>
                    </tr>-->
                </tbody>
            </table>


        </div>
    </div>




    <div class="content nopadding noborderTOP">
        <div class="col-md-12 borderTOP paddingTOP" style="font-weight:bold;">
            <ul class="list-group performance-keys noborder">
                <li class="list-group-item">
                    <div class="performance-keysicon-green"></div>
                    <span>Performance percentage > Performance goal </span>
                </li>
                <li class="list-group-item">
                    <div class="performance-keysicon-red"></div>
                    <span>Performance percentage is < 90% of the performance goal</span>
                </li>
                <li class="list-group-item">
                    <div class="performance-keysicon-yellow"></div>
                    <span>Performance percentage is < performance goal but > 90% of the performance goal</span>
                </li>
            </ul>
        </div>



        <div class="clearfix"></div>


        <div class="col-md-12 borderTOP marginTOP text-right paddingBOTTOM paddingTOP">
            <button ng-click="qualitydashboardCtrl.GobackToNavScreen();" class="btn btn-primary"><i class="fa fa-arrow-left" role="button" ></i> Back</button>
            <button class="btn btn-primary" ng-click="qualitydashboardCtrl.Print()">Print</button>
            <button class="btn btn-primary" ng-click="qualitydashboardCtrl.exportMonitoringMeasure()">Export</button>
        </div>
    </div>
</div>

<!-- Print Quality Measures section -->
<div class="container" id="printQualityMeasureGrid" style="display:none">
    <style>
        * {
            outline: none;
        }

        html, body {
            padding: 0px;
            margin: 0px;
            background: #eeeeee;
            border: none;
        }

        @media print {
            .prl-container {
                width: 900px;
                margin: 0px auto;
                font-family: Arial;
                font-size: 15px;
                color: #424141;
                background: #fff;
                padding: 2px;
                -webkit-print-color-adjust: exact !important;
                position: relative;
            }

                .prl-container .prl-subCONTAINER {
                    position: absolute;
                    bottom: 0;
                    height: 100%;
                }

            .prt-header {
                padding: 15px;
            }

            .prt-header, .prl-user-section, .score-section {
                display: table;
                width: 100%;
            }

            .prt-logo {
                display: table-cell;
                width: 35px;
                vertical-align: middle;
            }

                .prt-logo img {
                    width: 100%;
                }

            .prt-clt-logo {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

                .prt-clt-logo img {
                    max-width: 180px;
                }

            .prl-user-section {
                padding: 15px 0;
                border-top: 1px solid #6d6d6d;
                border-bottom: 1px solid #6d6d6d;
            }

                .prl-user-section .date-time {
                    display: table-cell;
                    padding-left: 15px;
                }

                .prl-user-section .user-name {
                    display: table-cell;
                    text-align: right;
                    padding-right: 15px;
                }

            .prl-name {
                text-align: center;
                padding: 5px 0;
                margin-top: 10px;
                font-size: 15px;
                font-weight: bold;
            }

            .prl-practice-box {
                padding: 15px;
                margin-top: 10px;
                border-top: 1px solid #6d6d6d;
                line-height: 19px;
            }

                .prl-practice-box span {
                    font-size: 12px;
                }

            .prl-reporting-box, .score-section {
                padding: 5px 15px 20px 15px;
                margin-top: 10px;
            }

            .prl-data-grid {
                margin-top: 0px;
                overflow: hidden;
                padding: 0 15px;
            }

                .prl-data-grid th.nowrap {
                    white-space: nowrap;
                }

            .pull-left {
                float: left !important;
            }

            .pull-right {
                float: right !important;
            }

            label {
                font-family: Arial;
                font-size: 13px;
                border-radius: 3px;
                padding: 4px 8px;
                text-align: center;
                font-family: 'Open Sans';
            }

                label.outcome {
                    font-family: Arial;
                    font-size: 13px;
                    background-color: rgb(43, 156, 194);
                    color: #fff;
                    font-weight: bold;
                }

                label.hp {
                    font-family: Arial;
                    font-size: 13px;
                    background-color: rgb(89, 193, 217);
                    color: #fff;
                    font-weight: bold;
                }

                label.inverse {
                    font-family: Arial;
                    font-size: 13px;
                    background-color: #259DAB;
                    color: #fff;
                    font-weight: bold;
                }

            a {
                color: rgb(52, 126, 186);
                text-decoration: underline;
            }

                a:hover {
                    text-decoration: none;
                }

            .sub {
                clear: both;
                overflow: hidden;
                padding-top: 8px;
            }

                .sub ul {
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                }

                .sub li {
                    float: left;
                    padding: 0 8px 8px 0;
                }


            .qualityDASHBOARD .pbar {
                position: relative;
                width: 170px;
            }

            .qualityDASHBOARD .barWrapper {
                position: absolute;
                margin: auto;
                width: 100%;
            }

            .qualityDASHBOARD .tooltip {
                position: relative;
                float: right;
            }

                .qualityDASHBOARD .tooltip > .tooltip-inner {
                    background-color: #243372;
                    padding: 3px 8px;
                    font-size: 11px;
                    border-radius: 4px;
                    color: #fff;
                    font-weight: bold;
                    font-size: 11px;
                }

            .qualityDASHBOARD .popOver + .tooltip > .tooltip-arrow {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #243372;
            }

            .qualityDASHBOARD .tooltip.top .tooltip-arrow {
                top: 0px;
                -ms-transform: rotate(180deg); /* IE 9 */
                -webkit-transform: rotate(180deg); /* Safari */
                transform: rotate(180deg);
            }

            .qualityDASHBOARD .tooltip.top {
                margin-top: 46px;
                z-index: 1;
            }

            .qualityDASHBOARD .progres-bg-hide {
                background: none;
                border: 0px;
            }

            .qualityDASHBOARD .pvalue {
                margin-left: 8px;
            }

            .qualityDASHBOARD .pmarginleft {
                margin-left: 15px !important;
            }

            .qualityDASHBOARD .dashboard.table > tbody > tr > td {
                padding: 12px 6px;
                vertical-align: top;
            }

            .qualityDASHBOARD .progress {
                position: relative;
                overflow: visible;
                max-width: 100%;
                box-shadow: none;
                border: 1px solid #6d6d6d;
                border-radius: 10px;
                height: 14px;
            }

            .qualityDASHBOARD .progress-bar {
                background: none;
                box-shadow: none;
                -webkit-transition: width 1.5s ease-in-out;
                transition: width 1.5s ease-in-out;
            }

            .qualityDASHBOARD .progress-bar-success {
                background-color: #48bd00;
            }

            .qualityDASHBOARD .progress-bar-danger {
                background-color: #e00909;
            }

            .qualityDASHBOARD .progress-bar-success,
            .qualityDASHBOARD .progress-bar-warning,
            .qualityDASHBOARD .progress-bar-danger {
                display: block;
                height: 14px;
                border-radius: 10px 0px 0px 10px;
            }



            .qualityDASHBOARD .tooltip {
                position: relative;
                float: right;
            }

                .qualityDASHBOARD .tooltip > .tooltip-inner {
                    background-color: #eebf3f;
                    padding: 5px 15px;
                    color: rgb(23,44,66);
                    font-weight: bold;
                    font-size: 13px;
                }

            .qualityDASHBOARD .popOver + .tooltip > .tooltip-arrow {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #eebf3f;
            }



            .qualityDASHBOARD .tooltip1 {
                position: relative;
                display: inline-block;
            }

            .qualityDASHBOARD .goal-progressbar {
                position: absolute;
                width: 100%;
                border: 0px;
            }

            .qualityDASHBOARD .tooltip1 .tooltiptext1 {
                visibility: hidden;
                top: 21px;
                background-color: rgb(36, 51, 114);
                color: #fff;
                position: absolute;
                right: 0;
                border-radius: 4px;
                font-weight: bold;
                font-size: 11px;
                padding: 2px 4px;
                white-space: nowrap;
                z-index: 1;
                right: -26px;
            }

                .qualityDASHBOARD .tooltip1 .tooltiptext1:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-bottom: 6px solid rgb(36, 51, 114);
                    top: -6px;
                    left: 45%;
                }

            .qualityDASHBOARD .tooltip1 .tooltiptext1 {
                visibility: visible;
            }



            .table {
                margin-bottom: 0;
                border-bottom: 1px solid #6d6d6d;
                border-collapse: collapse;
                border-spacing: 0;
                font-size: 13px;
            }

                .table > thead > tr > th {
                    padding: 5px 7px;
                    vertical-align: middle;
                    border: 1px solid #6d6d6d !important;
                }

                .table > tbody > tr > td {
                    border: 1px solid #6d6d6d;
                    border-top: 0;
                    vertical-align: top;
                    padding: 8px 7px;
                    line-height: 20px;
                }

            .score-section {
                padding-top: 15px;
                margin-top: 15px;
            }

                .score-section .left-box {
                    display: table-cell;
                    vertical-align: top;
                }

                .score-section .middle-box {
                    display: table-cell;
                    vertical-align: top;
                }

                .score-section .right-box {
                    display: table-cell;
                    vertical-align: top;
                }

                .score-section .list-box ul {
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                }

                .score-section .list-box li {
                    padding-bottom: 3px;
                    font-weight: bold;
                }

                    .score-section .list-box li span {
                        font-size: 15px;
                    }

            .scoreBOX {
                background-color: rgb(243, 149, 41);
                -webkit-print-color-adjust: exact;
                color: #fff;
                font-size: 13px;
                border: 1px solid #6d6d6d;
                font-weight: bold;
                border-radius: 5px;
                padding: 30px 30px;
                margin: 0px auto;
                display: inline-block;
                text-align: center;
            }

                .scoreBOX h3 {
                    padding: 0px;
                    margin: 0px;
                    font-size: 20px;
                    font-weight: bold;
                }

            .performanceBOX {
                background-color: rgb(38, 87, 122);
                -webkit-print-color-adjust: exact;
                color: #fff;
                border: 1px solid #6d6d6d;
                font-size: 13px;
                font-weight: bold;
                border-radius: 5px 0 0px 5px;
                padding: 30px 30px;
                margin: 0px auto;
                display: inline-block;
                text-align: center;
            }

                .performanceBOX h3 {
                    padding: 0px;
                    margin: 0px;
                    font-size: 20px;
                    font-weight: bold;
                }

            .performanceLIST {
                float: right;
                margin-right: 15px;
            }

                .performanceLIST ul {
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                }

                    .performanceLIST ul li {
                        float: left;
                    }

                        .performanceLIST ul li button {
                            background: none;
                            display: block;
                            width: 25px;
                            border: 1px solid #6d6d6d;
                            border-left: 0;
                            border-radius: 0px 5px 5px 0;
                            padding: 0px;
                            margin: 0px;
                            height: 100px;
                        }

                            .performanceLIST ul li button .performanceBTN {
                                margin: 0px auto;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px 0 10px 10px;
                                border-color: transparent transparent transparent rgb(243, 149, 41);
                            }

            .bottom-section {
                padding: 15px;
                overflow: hidden;
                margin-top: 15px;
                border-top: 1px solid #6d6d6d;
                font-size: 12px;
            }

                .bottom-section ul {
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                }

                    .bottom-section ul li {
                        padding-bottom: 6px;
                        font-weight: 600;
                    }

                .bottom-section .green {
                    background: rgb(72, 189, 0);
                    border: 1px solid #b3afaf;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 5px;
                }

                .bottom-section .red {
                    background: rgb(224, 9, 9);
                    border: 1px solid #b3afaf;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 5px;
                }

                .bottom-section .yellow {
                    background: rgb(255, 217, 0);
                    border: 1px solid #b3afaf;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 5px;
                }

                .bottom-section .naInverseText {
                    margin-left: 20px;
                }
        }
    </style>

    <!-- Main Print Container -->
    <div class="prl-container">
        <!-- Sub Main Print Container -->
        <div class="prl-subCONTAINER">
            <!-- Header Section -->
            <div class="prt-header">
                <div class="prt-logo">
                    <img src="../../../../common/content/images/print-logo.png" alt="MyCare" title="MyCare" />
                </div>
                <div class="prt-clt-logo">
                    <img ng-src="{{qualitydashboardCtrl.PracticeLogoPath}}" alt="" title="" />
                </div>
            </div>
            <!-- Header Section Ends -->
            <!-- User Section -->
            <div class="prl-user-section">
                <div class="date-time">
                    <strong>Date / Time :</strong> {{qualitydashboardCtrl.printDateTime}}
                </div>
                <div class="user-name">
                    <strong>User Name :</strong> {{qualitydashboardCtrl.UserName}}
                </div>
            </div>
            <!-- User Section Ends-->
            <!-- User Section -->
            <div class="prl-name">
                {{qualitydashboardCtrl.selectedEntityName}}
            </div>
            <!-- User Section Ends -->
            <!-- Practice Section -->
            <div class="prl-practice-box">
                <strong>{{qualitydashboardCtrl.PracticeDetails.name}}</strong> <br />
                <span>{{qualitydashboardCtrl.PracticeDetails.addressline1}}, </span>
                <span ng-if="qualitydashboardCtrl.PracticeDetails.addressline2">{{qualitydashboardCtrl.PracticeDetails.addressline2}}, </span>
                <span ng-if="qualitydashboardCtrl.PracticeDetails.city">{{qualitydashboardCtrl.PracticeDetails.city}}, </span>
                <span ng-if="qualitydashboardCtrl.PracticeDetails.state">{{qualitydashboardCtrl.PracticeDetails.state}}, </span>
                <span ng-if="qualitydashboardCtrl.PracticeDetails.country">{{qualitydashboardCtrl.PracticeDetails.country}}, </span>
                <span ng-if="qualitydashboardCtrl.PracticeDetails.zip">{{qualitydashboardCtrl.PracticeDetails.zip}}</span>
            </div>
            <!-- Practice Section Ends -->
            <!-- Reporting Section -->
            <div class="prl-reporting-box">
                <strong>Reporting Period: </strong>{{qualitydashboardCtrl.ReportingPeriod}}  <br /> <br />
                <strong><u>{{qualitydashboardCtrl.MeasureType}} Measures:</u></strong>
            </div>
            <!-- Reporting Section Ends -->
            <!-- Data Grid Section -->
            <div class="prl-data-grid qualityDASHBOARD">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Quality ID</th>
                            <th width="35%" class="text-left">Measure Name</th>
                            <th width="" class="">Numerator</th>
                            <th width="" class="">Denominator</th>
                            <th width="" class="nowrap">
                                <span> {{qualitydashboardCtrl.PerformancePercButton}}</span>
                                <span class="fa fa fa-caret-down">&#160;</span>
                            </th>
                            <th width="70" class="">Achievement Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dashboardPrintData in qualitydashboardCtrl.MeasuresDashboardTableData">
                            <td class="text-center">
                                <a href="">{{dashboardPrintData.qualityId}}</a>
                            </td>
                            <td class="text-left">
                                <a href="">{{dashboardPrintData.measureName}}</a>
                                <div class="sub">
                                    <ul>
                                        <li><label ng-show="{{dashboardPrintData.isOutCome}}" class="outcome">Outcome</label></li>
                                        <li><label ng-show="{{dashboardPrintData.isHighPriority}}" class="hp">High Priority</label></li>
                                        <li><label ng-show="{{dashboardPrintData.isInverse}}" clas class="inverse">Inverse</label></li>
                                    </ul>
                                </div>
                            </td>
                            <td class="text-center">{{dashboardPrintData.numerator}}</td>
                            <td class="text-center">{{dashboardPrintData.denominator}}</td>
                            <td>
                                <div class="pmarginleft" ng-if="qualitydashboardCtrl.isshowPerfomance==true">
                                    <div class="pbar pull-left">
                                        <div class="barWrapper">
                                            <div class="progress goal-progressbar">
                                                <div class="progress-bar tooltip1 " role="progressbar" data-container="body" data-aria-valuenow="{{dashboardPrintData.performanceGoals}}" data-toggle="tooltip"
                                                     data-aria-valuemin="0" data-aria-valuemax="100" style="width:{{dashboardPrintData.performanceGoals}}%">
                                                    <span class="tooltiptext1">Goal {{dashboardPrintData.performanceGoals}}%</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div progressbar ng-class="{'progress-bar-warning':dashboardPrintData.classWarning,'progress-bar-danger': dashboardPrintData.classDanger, 'progress-bar-success': dashboardPrintData.classSuccess}"
                                                     animate="false"
                                                     type="success"
                                                     style="width:{{dashboardPrintData.performancePercentage}}%"
                                                     aria-valuenow={{dashboardPrintData.performancePercentage}}
                                                     aria-valuemin="0"
                                                     aria-valuemax="10">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right pvalue">{{dashboardPrintData.performancePercentage}}%</div>
                                </div>

                                <div class="pmarginleft" ng-if="qualitydashboardCtrl.isshowNational==true">
                                    <div class="pbar pull-left">
                                        <div class="barWrapper">
                                            <div class="progress goal-progressbar" ng-if="qualitydashboardCtrl.isshowNational==true">
                                                <div class="progress-bar tooltip1 " role="progressbar" data-container="body" data-aria-valuenow="{{dashboardPrintData.nationalAverage}}" data-toggle="tooltip"
                                                     ng-if="qualitydashboardCtrl.isshowNational==true" data-aria-valuemin="0" data-aria-valuemax="100" style="width:{{dashboardPrintData.nationalAverage}}%">
                                                    <span class="tooltiptext1">{{dashboardPrintData.nationalAverage}}%</span>
                                                </div>
                                            </div>

                                            <div class="progress">
                                                <div progressbar ng-class="{'progress-bar-warning':dashboardPrintData.classWarning,'progress-bar-danger': dashboardPrintData.classDanger, 'progress-bar-success': dashboardPrintData.classSuccess}"
                                                     animate="false"
                                                     type="success"
                                                     style="width:{{dashboardPrintData.performancePercentage}}%"
                                                     aria-valuenow={{dashboardPrintData.performancePercentage}}
                                                     aria-valuemin="0"
                                                     aria-valuemax="10">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right pvalue">{{dashboardPrintData.performancePercentage}}%</div>
                                </div>

                            </td>
                            <td class="text-center">{{dashboardPrintData.achievementPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Data Grid Section Ends -->
            <!-- Score Section -->
            <div ng-if="qualitydashboardCtrl.isSet(1)">
                <div class="score-section">
                    <div class="left-box">
                        <div class="scoreBOX">
                            <h3>{{qualitydashboardCtrl.MIPSQualityScore | number : 2}} out of 50</h3>
                            MIPS Quality Score
                        </div>
                    </div>
                    <div class="middle-box">
                        <div class="performanceLIST">
                            <ul>
                                <li>
                                    <div class="performanceBOX text-center">
                                        <h3>{{qualitydashboardCtrl.QualityPerformanceScore | number : 2}}%</h3>
                                        Quality Performance Score
                                    </div>
                                </li>
                                <li>
                                    <button>
                                        <div class="performanceBTN">&#160;</div>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-box">
                        <div class="list-box">
                            <ul>
                                <li>Total achievement points = <span>{{qualitydashboardCtrl.totalAchievmentPts}}</span></li>
                                <li>Outcome and high priority bonus = <span>{{qualitydashboardCtrl.OutComeAndHighpriorityBonus}}</span></li>
                                <li>CEHRT reporting bonus = <span>{{qualitydashboardCtrl.cehrtBonusPoints}}</span></li>
                                <li>Total quality points earned = <span>{{qualitydashboardCtrl.totalQtyPtsEarned}}</span></li>
                                <li>Improvement score = <span>3.20%</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Score Section Ends -->
            <!-- Bottom Section -->
            <div class="bottom-section" ng-if="qualitydashboardCtrl.isshowNational==true">
                <ul>
                    <li>
                        <span class="green"></span> Performance percentage > National Average
                    </li>
                    <li>
                        <span class="red"></span> Performance percentage is < 90% of the National Average
                    </li>
                    <li>
                        <span class="yellow"></span> Performance percentage is < National Average but > 90% of the National Average
                    </li>
                    <li>
                        <span class="naInverseText">N/A for Inverse measures</span>
                    </li>
                </ul>
            </div>

            <div class="bottom-section" ng-if="qualitydashboardCtrl.isshowPerfomance==true">
                <ul>
                    <li>
                        <span class="green"></span> Performance percentage > Performance goal
                    </li>
                    <li>
                        <span class="red"></span> Performance percentage is < 90% of the performance goal
                    </li>
                    <li>
                        <span class="yellow"></span> Performance percentage is < performance goal but > 90% of the performance goal
                    </li>
                    <li>
                        <span class="naInverseText">N/A for Inverse measures</span>
                    </li>
                </ul>
            </div>
            <!-- Bottom Section Ends -->
        </div>
        <!-- Sub Main Print Container Ends -->
    </div>
    <!-- Main Print Container Ends -->
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'manual' }).tooltip('show');
    });


    $(".progress-bar").each(function () {
        each_bar_width = $(this).attr('data-aria-valuenow');
        $(this).width(each_bar_width + '%');
    });




</script>
