﻿
<div class="panel-heading panel groupLIST form-inline min-height-addon">
    <div class="clearfix">
        <ng-form class="form-inline" name="reportingForm" novalidate>


            <div ng-if="aciConfig.selectedYear =='2018'">

                <div class="marginBOTTOM paddingTOP">

                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               ng-value="aciConfig.enums.cpiaType.simple" ng-model="aciConfig.cpiaRadioType"
                               ng-click="aciConfig.onCPIATypeChange(aciConfig.enums.cpiaType.simple)">
                        Simple
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               ng-value="aciConfig.enums.cpiaType.advanced" ng-model="aciConfig.cpiaRadioType"
                               ng-click="aciConfig.onCPIATypeChange(aciConfig.enums.cpiaType.group)">
                        Advanced
                    </label>
                    </div>
                </div>

                <!--<form class="" novalidate name="myForm">-->
                <div class="form-group width130">
                    <!----Newly Added-->
                    <label class="control-label" style="display:block;">Performance Year</label>
                    <div class="clearfix"></div>
                    <select class="form-control" ng-model="aciConfig.selectedPerformanceYearId"
                            ng-options="performanceYear.performanceYear for performanceYear in aciConfig.performanceYearList"
                            ng-change="aciConfig.selectPerformanceSet()"></select>
                </div>
                <!----Newly Added-->
                <div class="form-group width130" ng-if="aciConfig.selectedPerformanceYearId['performanceYear']=='2019' ">
                    <label class="control-label" style="display:block;">&#160;Reporting Type</label>
                    <div class="clearfix"></div>
                    <select class="form-control" ng-model="aciConfig.cpiaType" ng-change="aciConfig.onTypeChange()"
                            ng-init="aciConfig.cpiaType = aciConfig.typeOptions[0].value"
                            ng-options="type.value as type.name for type in aciConfig.typeOptions"></select>
                </div>
                <!----Newly Added-->
                <div class="form-group width300" ng-if="aciConfig.selectedPerformanceYearId['performanceYear']=='2019' && aciConfig.cpiaType === aciConfig.enums.cpiaType.group">
                    <label class="control-label" style="display:block;">&#160;Reporting Entity</label>
                    <div class="clearfix"></div>
                    <select class="form-control" ng-model="aciConfig.groupReportingId" ng-change="aciConfig.onTypeChange()"
                            ng-init="aciConfig.groupReportingId = aciConfig.groups[0].groupReportingId"
                            ng-options="group.groupReportingId as group.groupReportingName for group in aciConfig.groups"
                            data-toggle="tooltip" title="{{aciConfig.selectedGroupReportingName}}"></select>
                </div>




          

            
                <div class="form-group width300" ng-if="aciConfig.selectedPerformanceYearId['performanceYear']=='2019' && aciConfig.cpiaType === aciConfig.enums.cpiaType.individual">
                    <label class="control-label" style="display:block;">&#160;Reporting Entity</label>
                    <div class="clearfix"></div>
                    <select class="form-control" ng-model="aciConfig.selectedClinician" ng-change="aciConfig.onClinicianDropDownChange()"
                            ng-init="aciConfig.selectedClinician = aciConfig.clinicians[0]"
                            ng-options="clinician as clinician.physicianName for clinician in aciConfig.clinicians"
                            data-toggle="tooltip" title="{{aciConfig.selectedClinician.titleName}}"></select>
                </div>



                <div class="form-group width130" ng-if="aciConfig.selectedPerformanceYearId['performanceYear']=='2018' && aciConfig.cpiaRadioType === aciConfig.enums.cpiaType.advanced ">
                    <label class="control-label" style="display:block;">&#160;Reporting Type</label>
                    <div class="clearfix"></div>
                    <select class="form-control" ng-model="aciConfig.cpiaType" ng-change="aciConfig.onTypeChange()"
                            ng-init="aciConfig.cpiaType = aciConfig.typeOptions[0].value"
                            ng-options="type.value as type.name for type in aciConfig.typeOptions"></select>

                </div>

                <div class="form-group width300" ng-if="aciConfig.selectedPerformanceYearId['performanceYear']=='2018' && aciConfig.cpiaRadioType === aciConfig.enums.cpiaType.advanced  && aciConfig.cpiaType === aciConfig.enums.cpiaType.group">
                    <label class="control-label" style="display:block;">&#160;Reporting Entity</label>
                    <div class="clearfix"></div>
                    <select class="form-control" ng-model="aciConfig.groupReportingId" ng-change="aciConfig.onTypeChange()"
                            ng-init="aciConfig.groupReportingId = aciConfig.groups[0].groupReportingId"
                            ng-options="group.groupReportingId as group.groupReportingName for group in aciConfig.groups"
                            data-toggle="tooltip" title="{{aciConfig.selectedGroupReportingName}}"></select>
                </div>

                <div class="form-group width300" ng-if="aciConfig.selectedPerformanceYearId['performanceYear']=='2018'&& aciConfig.cpiaRadioType === aciConfig.enums.cpiaType.advanced && aciConfig.cpiaType === aciConfig.enums.cpiaType.individual">
                    <label class="control-label" style="display:block;">&#160;Reporting Entity</label>
                    <div class="clearfix"></div>
                    <select class="form-control" ng-model="aciConfig.selectedClinician" ng-change="aciConfig.onClinicianDropDownChange()"
                            ng-init="aciConfig.selectedClinician = aciConfig.clinicians[0]"
                            ng-options="clinician as clinician.physicianName for clinician in aciConfig.clinicians"
                            data-toggle="tooltip" title="{{aciConfig.selectedClinician.titleName}}"></select>
                </div>

            <!--</form>-->
            <!--</div>-->


            <div class="form-group width350">
                <label class="control-label" style="display:block;">Measure Set</label>
                <div class="clearfix"></div>
                <!--<select class="form-control select100">
                    <option>ACI alternate measure set (2017 only, Stage 2)</option>
                    <option>ACI measure set (Stage 3)</option>
                </select>-->
                <select class="form-control" ng-model="aciConfig.stageId"
                        ng-options="measure.id as measure.name for measure in aciConfig.selectedPerformanceyearMeasureSet"
                        ng-change="aciConfig.selectMeasureSet()" data-toggle="tooltip" title="{{aciConfig.selectedMeasureName}}"></select>
            </div>

           

            <div class="form-group width130">

                <label class="control-label" style="display:block;">Reporting Period</label>
                <select class="form-control" ng-model="aciConfig.reportingPeriodId"
                        ng-change="aciConfig.updateToDateNew(item,true);"
                        ng-options="reportingPeriod.reportingPeriodId as
                                            reportingPeriod.reportingPeriodName for reportingPeriod in aciConfig.reportingPeriodList"></select>
            </div>

            <div class="form-group">
                <div class="form-group width130">
                    <label class="control-label" style="display:block;">From</label>
                    <aci-datepicker ng-model="aciConfig.fromDate" ng-required="true" ng-disabled="aciConfig.disableFromDateFiled" input-name="fromDate" form-name="reportingForm"
                                    date-changed="aciConfig.onFromDateChange()" from-submmited="submitted"></aci-datepicker>
                </div>
                <div class="form-group width130">
                    <label class="control-label" style="display:block;">To</label>
                    <aci-datepicker ng-model="aciConfig.toDate" ng-required="true" ng-disabled="aciConfig.disableToDateField" input-name="toDate" form-name="reportingForm"
                                    date-changed="aciConfig.onToDateChange()" from-submmited="submitted"></aci-datepicker>

                </div>
            </div>
           

            <div class="form-group width150 m-t-sm-sm">
                <label class="control-label">No. of Reporting Days</label>
                <div class="clearfix"></div>
                <input type="text" name="" class="form-control reporting-days" ng-model="aciConfig.reportingDuration" readonly>
            </div>

        </ng-form>
    </div>
        <div class="col-sm-12 nofloat">
            <div class="row panel-disclaimer" ng-if="aciConfig.selectedPerformanceYearId['performanceYear']=='2019'">
                <label class="control-label nomarginTOP">Disclaimer-</label>
                <i>**This 2019 MIPS PI configuration screen is preliminary. A software update will be provided later in 2019 which will add the new measure “Receiving / Incorporating Health Information” and new scoring logic for the “Public Health / Clinical Data Registry Reporting” objective.**</i>
            </div>
        </div>
    </div>


<!-- /panel-heading -->
<!--<div class="panel-body"> </div>-->
<!-- /panel-body -->
<div class="panel aci-stage2">
    <div class="panel-heading"> <h4 class="panel-title">PI Numeric Performance Measure List - {{aciConfig.stageName}}</h4></div>
    <div class="table-float-wrapper">
        <table class="table table-float" id="aci-grp-stage2">
            <thead>
                <tr class="header">
                    <th class="text-center">S.No</th>
                    <th width="350px">PI Measure Name</th>
                    <th class="text-center">Exclude</th>
                    <th class="text-center">Performance Goal %</th>
                    <th class="text-center">MAX PI Points</th>
                    <th class="text-center">PI Goal Points</th>
                    <th ng-hide="true">MUStage ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measureSet in aciConfig.aciPerformanceMeasures | orderBy: 'SortOrder'">
                    <td class="text-center">{{$index + 1}}</td>
                    <td>{{measureSet.name}}</td>
                    <td>
                        <input type="text" maxlength="3" numbers-onlypercentage
                               ng-change="aciConfig.updatePerformanceGoal(measureSet, $event)" class="form-control aci-points"
                               ng-model="measureSet.performanceGoal">
                    </td>
                    <td class="text-center">{{measureSet.maxACIPoints}}</td>
                    <td class="text-center">{{measureSet.aciGoalPoints}}</td>
                    <!--<td ng-hide="true">{{measureSet.muStageId}}</td>-->
                </tr>
                <tr>
                    <td colspan="4" class="text-right"><strong>Total Numeric Performance Measure Goal</strong></td>
                    <td class="text-center">{{aciConfig.totalMeasureGoal | number:2}}</td>
                </tr>
            </tbody>
        </table>
        <!-- /table-->
    </div>
    <!--/table-float-wrapper-->


    <div class="table-float-wrapper">
        <table class="table table-float" id="">
            <thead>
                <tr class="header">
                    <th class="text-center"></th>
                    <th class="text-center">Measure ID</th>
                    <th class="text-center">Measures</th>
                    <th class="text-center"></th>
                    <th class="text-center">Exclude Options</th>
                    <th class="text-center">Registry Name</th>
                    <th class="text-center" width="130">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">Measure 1</td>
                    <td class="text-center">PI_PHCDRR_5</td>
                    <td class="text-center">
                        <select class="form-control">
                            <option>Clinical Data Registry Reporting</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> No
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Exclude
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <select class="form-control">
                            <option>xxxxx</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <select class="form-control">
                            <option>IRIS</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control" value="Date" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Measure 2</td>
                    <td class="text-center">PI_PHCDRR_2</td>
                    <td class="text-center">
                        <select class="form-control">
                            <option>Syndromic Surveillance Reporting</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option2" autocomplete="off"> No
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Exclude
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        
                    </td>
                    <td class="text-center">
                        <select class="form-control">
                            <option>IRIS</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control" value="Date" />
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- /table-->
    </div>
    <!--/table-float-wrapper-->







    <div class="panel-footer" ng-if="aciConfig.selectedPerformanceYearId['performanceYear']!='2018'">
        <div class="form-inline" ng-if="aciConfig.groupReportingId !=0 || aciConfig.individualReportingId !=0">
            <div class="form-group m-b-xs-sm" style="display:flex;">
                <label class="control-label marginRIGHT" ng-if="aciConfig.groupReportingId !=0 || aciConfig.individualReportingId !=0 || aciConfig.individualReportingId !=0">Copy to</label>
                <div ng-if="aciConfig.cpiaType === aciConfig.enums.cpiaType.group" class="acia-dropdown inline-block marginRIGHT width250">
                    <div ng-dropdown-multiselect="" options="aciConfig.copyToList"
                         selected-model="aciConfig.selectedCopyToList" checkboxes="true" extra-settings="aciConfig.settings"></div>
                </div>
                <div ng-if="aciConfig.cpiaType === aciConfig.enums.cpiaType.individual" class="acia-dropdown inline-block marginRIGHT width250">
                    <div ng-dropdown-multiselect="" options="aciConfig.copyToList"
                         selected-model="aciConfig.selectedCopyToList" checkboxes="true" extra-settings="aciConfig.settings"></div>
                </div>
                <div class="inline-block" ng-if="aciConfig.groupReportingId !=0 || aciConfig.individualReportingId !=0">
                    <button class="btn btn-primary" ng-disabled="aciConfig.selectedCopyToList.length==0" ng-click="aciConfig.copyMeasures()">Copy</button>
                </div>
            </div>

        </div>
    </div>
    <hr ng-show="aciConfig.cehrtShow" />
    <div class="panel" ng-show="aciConfig.cehrtShow">
        <div class="panel-body">
            <table class="table table-default">
                <tr>
                    <th width="300">Exclusively 2015 Edition CEHRT</th>
                    <td>
                        <div class="toggle-wrapper" ng-click="aciConfig.cehrtStatusChange()">
                            <div class="toggle toggle-modern" style="height: 18px;">
                                <div class="toggle-slide">
                                    <div class="toggle-inner" style="width: 174px; margin-left: -74px;">
                                        <div class="toggle-on" style="height: 18px; width: 87px; text-indent: -13px; line-height: 22px;">YES</div>
                                        <div class="toggle-blob" style="height: 18px; width: 26px; margin-left: -13px;"></div>
                                        <div class="toggle-off active" style="height: 18px; width: 87px; margin-left: -13px; text-indent: 13px; line-height: 22px;">NO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Instructions:</th>
                    <td>
                        <p>“Eligibility for 2018 MIPS bonus score for use of exclusively 2015 Edition CEHRT is subject to MIPS audits and must be answered correctly. Exclusively 2015 Edition CEHRT requires the EHR, eRx, patient portal and HISP software all to have valid 2015 Edition certification numbers. If you have questions about the 2015 Edition status of your software configuration, please contact your Eye Care Leaders support team and ask for MIPS Assurance.”</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label class="control-label"><b>Effective as of</b></label>
                    </th>
                    <td>
                        <aci-datepicker ng-model="aciConfig.effectiveDate" ng-disabled="!aciConfig.cehrtIsActive"></aci-datepicker>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr class="no-space" />
    <div class="panel noborderLEFT noborderRIGHT">
        <div class="panel-heading">
            <h4 class="panel-title pull-left marginTOP">Security Risk Analysis</h4>
            <div class="form-inline pull-right">
                <div class="form-group" ng-if="actualSraDate">
                    <label class="control-label nomarginTOP nomarginLEFT">SRA Date</label>
                    <aci-datepicker ng-model="aciConfig.sraDate"></aci-datepicker>
                </div>
                <div class="form-group">
                    <label class="control-label nomarginTOP nomarginLEFT" style="display:block;">&#160;</label>
                    <button class="btn btn-primary" style="padding:4px 12px;" ng-disabled="aciConfig.enableHistory" ng-click="aciConfig.getSRAHistory()">History</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="table-float-wrapper">
            <table class="table table-float" id="aci-grp-history" ng-show="aciConfig.showHistoryTable">
                <thead>
                    <tr class="header" ng-show="aciConfig.showHistoryTable">
                        <th class="text-center" width="50px">No.</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Attested BY</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="history in aciConfig.sraHistory">
                        <td class="text-center">{{$index+1}}</td>
                        <td>{{history.description}}</td>
                        <td>{{history.sraViewDate | date : 'MM/dd/yyyy'}}</td>
                        <td>{{history.attestedBy}}</td>
                        <td><a href="" ng-click="aciConfig.deleteSRAHistory(history.id,$index)"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                    <tr ng-if="aciConfig.noData"><td></td><td>No data found</td></tr>
                </tbody>
            </table>
            <!-- /table-->
        </div>
        <!--/table-float-wrapper-->
        <div class="panel-footer"></div>
    </div>
    <div class="panel-footer">

        <div class="form-group pull-right">
            <button class="btn btn-default" ng-click="aciConfig.cancelMeasures()">Cancel</button>
            <button class="btn btn-primary" ng-disabled="aciConfig.selectedYear =='2018'" ng-click="aciConfig.saveMeasures()">Save</button>
            <!--ng-disabled="!aciConfig.enableSave"-->
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /panel-footer -->
