  <div class="mi-header">
    <div class="mi-logo-panel"> <a href="#"> <img src="images/logo.png" title="MIPS" ></a> </div>
    <!-- /mi-logo-panel -->
    <div class="mi-headerbar"> <a id="menuToggle" class="mi-menu-toggle"><i class="fa fa-bars"></i></a>
      <div class="mi-header-left">
        <div class="mi-page-header">
          <h1>PRACTICE CONFIGURATION</h1>
        </div>
      </div>
      <!-- /mi-header-left -->
      <div class="mi-header-right">
        <ul class="mi-header-menu">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-logged" data-toggle="dropdown"> <img src="common/content/images/photos/loggeduser.png" alt="" /> <span class="top-username">Sophie Oliver</span> <span class="caret"></span> </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#"><i class="fa fa-user"></i>My Profile</a></li>
                <li><a href="#"><i class="fa fa-cog"></i>Account Settings</a></li>
                <li><a href="#"><i class="fa fa-question-circle"></i>Help</a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i>Log Out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- /mi-header-right --> 
    </div>
    <!--/mi-headerbar --> 
  </div>
  <!-- /mi-header--> 