  <div class="mi-left-panel">
    <div class="mi-left-panel-inner">
      <div class="media mi-left-panel-profile">
        <div class="media-left"> <a href="#"> <img src="~/common/content/images/photos/loggeduser.png" alt="" class="media-object img-circle"> </a> </div>
        <div class="media-body">
          <h4 class="media-heading">Sophie Oliver <a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
          <span>Physician</span> </div>
      </div>
      <!--/mi-left-panel-profile-->
      
      <div class="mi-left-panel-userinfo collapse" id="loguserinfo">
        <h5 class="sidebar-title">Address</h5>
        <address>
        4975 Cambridge Road
        Miami Gardens, FL 33056
        </address>
        <h5 class="sidebar-title">Contact</h5>
        <ul class="list-group">
          <li class="list-group-item">
            <label class="pull-left">Email</label>
            <span class="pull-right">me@mips.com</span> </li>
          <li class="list-group-item">
            <label class="pull-left">Home</label>
            <span class="pull-right">(012) 1234 567</span> </li>
          <li class="list-group-item">
            <label class="pull-left">Mobile</label>
            <span class="pull-right">+63012 3456 789</span> </li>
          <li class="list-group-item">
            <label class="pull-left">Social</label>
            <div class="social-icons pull-right"> <a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> </div>
          </li>
        </ul>
      </div>
      <!-- /mi-left-panel-userinfo -->
      <div id="mainmenu">
        <ul class="nav nav-pills nav-stacked mi-nav">
          <li class="active"><a href="practice-configuration.html"><i class="fa fa-home"></i> <span>Practice Configuration</span></a></li>
          <li><a href="#"> <i class="fa fa-file-text"></i> <span>Roles & Permissions</span></a></li>
          <li class="nav-parent"> <a href=""><i class="fa fa-check-square"></i> <span>GRI Configurations</span></a>
            <ul class="children">
              <li><a href="#">Transmission to Quality Registries</a></li>
              <li><a href="#">Transmission to Immunization Registries</a></li>
              <li><a href="#">Transmission to Cancer Registries</a></li>
              <li><a href="#">Transmission to Syndrome Surveillance Registries</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /mainmenu --> 
    </div>
    <!-- /mi-left-panel-inner --> 
  </div>
  <!-- /mi-left-panel -->