/*-----------------------------------UI Grid-------*/

.ui-grid {
	background-color: /*#e9f8fa*/rgba(204, 204, 204, 0.25);
	border-color: transparent;
}
.ui-grid-header-cell {
	border-color: /*rgba(255, 255, 255, 0.3)*/#d5d5d5;;
	background-color: /*#259DAB*/#ececec;;
	color: /*#fff*/ rgba(27, 29, 31, 0.9);
}
.ui-grid-cell {
	border-left: 1px solid #eee;
	border-top: 1px solid #fff;
	border-right: 0px;
	vertical-align: top;
	color: /*rgba(19, 80, 87, 0.8)*/rgba(27, 29, 31, 0.9);
	background-color: transparent;
}
.ui-grid-row:nth-child(even) .ui-grid-cell, .ui-grid-row:nth-child(odd) .ui-grid-cell {
	background-color: transparent;
	color: /*rgba(19, 80, 87, 0.8)*/rgba(27, 29, 31, 0.9);
}
.ui-grid-cell-focus {
	outline: 0;
	background-color: /*#deedef*/rgba(204, 204, 204, 0.50);
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
	border-right: none;
	border-bottom: none;
}
