﻿<div class="container" id="muMeasurePrint">
    <div class="content" style="margin-top: 20px;">
        <!-- <div class="logo" style="text-align: center;"> <img src="logo.png" /> </div>-->
        <div>
            <label style="float: left;"><strong>Date - Time: {{muMeasurePrint.currentDate | date : 'short'}}</strong></label>
            <label style="float: right;"><strong>User Name: {{muMeasurePrint.userObject}}</strong></label>
        </div>
        <div style="text-align: center; clear: both;">
            <label><strong>{{muMeasurePrint.clinicianName}}</strong></label>
            <br>
            <label><strong>Practice Name</strong></label>
            <br>
            <label>
                <strong>
                    <span>{{muMeasurePrint.practiceDetailsPrintObj.addressline1}}</span>
                    <span ng-if="muMeasurePrint.practiceDetailsPrintObj.addressline2">{{muMeasurePrint.practiceDetailsPrintObj.addressline2}}, </span>
                    <span ng-if="muMeasurePrint.practiceDetailsPrintObj.city">{{muMeasurePrint.practiceDetailsPrintObj.city}}, </span>
                    <span ng-if="muMeasurePrint.practiceDetailsPrintObj.state">{{muMeasurePrint.practiceDetailsPrintObj.state}}, </span>
                    <span ng-if="muMeasurePrint.practiceDetailsPrintObj.country">{{muMeasurePrint.practiceDetailsPrintObj.country}}, </span>
                    <span ng-if="muMeasurePrint.practiceDetailsPrintObj.zip">{{muMeasurePrint.practiceDetailsPrintObj.zip}}</span>

                </strong>
            </label>
        </div>
        <div>
            <label style="float: left;"><strong>Reporting Period: {{muMeasurePrint.fromDate}} - {{muMeasurePrint.toDate}}</strong></label>
            <label style="float: right;"><strong>Measure Set: {{muMeasurePrint.muMeasureTitle}}</strong></label>
        </div>
        <br>
        <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="#c3c3c3" style="border: solid 2px #c3c3c3; border-collapse: collapse; margin: 15px 0px;" class="meaningfuluse1">
            <thead>
                <tr>
                    <th>Objective</th>
                    <th>Measure No.</th>
                    <th>Measure Name</th>
                    <th>Numerator</th>
                    <th>Denominator</th>
                    <th>MU Threshold</th>
                    <th>Performance</th>
                    <th>Exclude</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measure in  muMeasurePrint.muMeasurePrintObject">

                    <td style="text-align: left;"><strong>{{measure.objective}}</strong></td>
                    <td style="text-align: left;">{{measure.measureNo}}</td>
                    <td style="text-align: left;"><a ng-click="muMeasure.openMeasureDescriptionPdf(measure);">{{measure.measureName}}</a></td>
                    <td><a href="#">{{measure.numerator}}</a></td>
                    <td>{{measure.denominator}}</td>
                    <td>{{measure.muThreshold}}</td>
                    <td style="width:15%;">
                        <div class="progress">
                            <div progressbar
                                 ng-class="{'progress':true,'progress-bar-warning':measure.classWarning,
                                     'progress-bar-danger': measure.classDanger, 'progress-bar-success': measure.classSuccess, 'progress-exclude':measure.classExclude}"
                                 animate="false"
                                 type="success"
                                 style="width:{{measure.performance}}%;"
                                 aria-valuenow="60"
                                 aria-valuemin="-1"
                                 aria-valuemax="10">
                                {{measure.performance}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="measure.isExclude" ng-show="measure.showCheckBox"
                               ng-checked="measure.checked">
                        {{measure.exclude}}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <button class="btn btn-primary" id="printMuMeasureButton" ng-hide="true"
                printing-done="muMeasurePrint.printingDone()" ng-print print-element-id="muMeasurePrint">
            <i class="fa fa-print"></i> Print
        </button>
    </div>
</div>